{
  "openapi": "3.0.3",
  "info": { "title": "Bisect incremental", "description": "parte do DELETE que funciona e adiciona campos", "version": "1.0.0" },
  "servers": [{ "url": "https://api.cloudinary.com/v1_1" }],
  "tags": [{ "name": "Recursos" }],
  "paths": {
    "/{cloud_name}/add1/{resource_type}/{type}/{public_id}": {
      "delete": {
        "tags": ["Recursos"], "summary": "add1: query string public_ids", "operationId": "add1",
        "parameters": [
          { "name": "cloud_name", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "resource_type", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "type", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "public_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "public_ids", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "type": "object", "properties": { "result": { "type": "string" } } } } } } }
      }
    },
    "/{cloud_name}/add2/{resource_type}/{type}/{public_id}": {
      "delete": {
        "tags": ["Recursos"], "summary": "add2: 5 query params como na op3 real", "operationId": "add2",
        "parameters": [
          { "name": "cloud_name", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "resource_type", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "type", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "public_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "public_ids", "in": "query", "schema": { "type": "string" } },
          { "name": "prefix", "in": "query", "schema": { "type": "string" } },
          { "name": "all", "in": "query", "schema": { "type": "boolean" } },
          { "name": "invalidate", "in": "query", "schema": { "type": "boolean" } },
          { "name": "next_cursor", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "type": "object", "properties": { "result": { "type": "string" } } } } } } }
      }
    },
    "/{cloud_name}/add3/{resource_type}/{type}/{public_id}": {
      "delete": {
        "tags": ["Recursos"], "summary": "add3: 5 query + objetos vazios na resposta (op3 real completa)", "operationId": "add3",
        "parameters": [
          { "name": "cloud_name", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "resource_type", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "type", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "public_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "public_ids", "in": "query", "schema": { "type": "string" } },
          { "name": "prefix", "in": "query", "schema": { "type": "string" } },
          { "name": "all", "in": "query", "schema": { "type": "boolean" } },
          { "name": "invalidate", "in": "query", "schema": { "type": "boolean" } },
          { "name": "next_cursor", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "type": "object", "properties": { "deleted": { "type": "object" }, "deleted_counts": { "type": "object" }, "partial": { "type": "boolean" }, "next_cursor": { "type": "string" } } } } } } }
      }
    },
    "/{cloud_name}/ctrl": {
      "get": {
        "tags": ["Recursos"], "summary": "controle", "operationId": "ctrl3",
        "parameters": [ { "name": "cloud_name", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "type": "object", "properties": { "count": { "type": "integer" } } } } } } }
      }
    }
  }
}
