{
  "openapi": "3.0.3",
  "info": { "title": "Bisect DELETE no path de 4 params", "description": "DELETE minimo no path exato da op3", "version": "1.0.0" },
  "servers": [{ "url": "https://api.cloudinary.com/v1_1" }],
  "tags": [{ "name": "Recursos" }],
  "paths": {
    "/{cloud_name}/resources/{resource_type}/{type}/{public_id}": {
      "delete": {
        "tags": ["Recursos"], "summary": "DELETE minimo 4 params", "operationId": "del-4p",
        "parameters": [
          { "name": "cloud_name", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "resource_type", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "type", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "public_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "type": "object", "properties": { "result": { "type": "string" } } } } } } }
      }
    },
    "/{cloud_name}/ctrl": {
      "get": {
        "tags": ["Recursos"], "summary": "controle", "operationId": "ctrl2",
        "parameters": [ { "name": "cloud_name", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "type": "object", "properties": { "count": { "type": "integer" } } } } } } }
      }
    }
  }
}
