{
  "openapi": "3.0.3",
  "info": { "title": "Bisect DELETE + security basicAuth", "description": "DELETE que funcionava, agora com security + securitySchemes", "version": "1.0.0" },
  "servers": [{ "url": "https://api.cloudinary.com/v1_1" }],
  "tags": [{ "name": "Recursos" }],
  "security": [{ "basicAuth": [] }],
  "components": {
    "securitySchemes": {
      "basicAuth": { "type": "http", "scheme": "basic", "description": "HTTP Basic Auth" }
    }
  },
  "paths": {
    "/{cloud_name}/dsec/{resource_type}/{type}/{public_id}": {
      "delete": {
        "tags": ["Recursos"], "summary": "DELETE com security", "operationId": "dsec",
        "parameters": [
          { "name": "cloud_name", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "resource_type", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "type", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "public_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "type": "object", "properties": { "result": { "type": "string" } } } } } } }
      }
    },
    "/{cloud_name}/ctrl": {
      "get": {
        "tags": ["Recursos"], "summary": "controle", "operationId": "ctrl5",
        "parameters": [ { "name": "cloud_name", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "type": "object", "properties": { "count": { "type": "integer" } } } } } } }
      }
    }
  }
}
