{
  "openapi": "3.0.3",
  "info": { "title": "Bisect B", "description": "paths literais com requestBody colidindo com {resource_type}", "version": "1.0.0" },
  "servers": [{ "url": "https://api.cloudinary.com/v1_1" }],
  "tags": [{ "name": "Recursos" }],
  "paths": {
    "/{cloud_name}/resources/{resource_type}": {
      "get": {
        "tags": ["Recursos"], "summary": "Listar assets por tipo", "operationId": "list-resources",
        "parameters": [
          { "name": "cloud_name", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "resource_type", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "type": "object", "properties": { "next_cursor": { "type": "string" } } } } } } }
      }
    },
    "/{cloud_name}/resources/search": {
      "post": {
        "tags": ["Recursos"], "summary": "Buscar assets", "operationId": "search-resources",
        "parameters": [ { "name": "cloud_name", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "expression": { "type": "string" } } } } } },
        "responses": { "200": { "description": "ok", "content": { "application/json": { "schema": { "type": "object", "properties": { "total_count": { "type": "integer" } } } } } } }
      }
    }
  }
}
