{
  "openapi": "3.0.0",
  "info": {
    "title": "Anymarket - Pedidos",
    "version": "2.0",
    "description": "",
    "contact": {
      "name": "ANYMARKET Developers",
      "url": "https://suporte.anymarket.com.br/"
    },
    "x-logo": {
      "url": "https://anymarket.com.br/wp-content/uploads/2018/07/icon-anymarket-300x300.png"
    },
    "x-preferred": true,
    "x-providerName": "V2 API"
  },
  "servers": [
    {
      "url": "https://sandbox-api.anymarket.com.br/v2",
      "description": "Sandbox"
    },
    {
      "url": "https://api.anymarket.com.br/v2",
      "description": "Produção"
    }
  ],
  "tags": [
    {
      "name": "Cotar Frete",
      "description": "Gerenciamento de frete"
    },
    {
      "name": "Emissão de Etiquetas",
      "description": "Gerenciamento de emissão de etiquetas"
    },
    {
      "name": "Feed pedido",
      "description": "Gerenciamento de feed de pedidos"
    },
    {
      "name": "Mensageria",
      "description": "Gerenciamento de mensagens nos pedidos"
    },
    {
      "name": "Pedido",
      "description": "Gerenciamento de pedidos"
    },
    {
      "name": "Fulfillment",
      "description": "Gerenciamento de pedidos fulfillment"
    },
    {
      "name": "Devolução",
      "description": "Gerenciamento de devolução"
    },
    {
      "name": "Perguntas",
      "description": "Gerenciamento de perguntas"
    },
    {
      "name": "Documentos Fiscais",
      "description": "Gerenciamento de documentos fiscais"
    }
  ],
  "paths": {
    "/printtag/{type}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "PDF",
              "ZPL",
              "ZPL2"
            ]
          },
          "name": "type",
          "in": "path",
          "required": true,
          "description": "Tipo da nota que sera gerada (PDF, ZPL ou ZPL2)"
        }
      ],
      "post": {
        "tags": [
          "Emissão de Etiquetas"
        ],
        "summary": "/printtag/{type}",
        "description": "# Gera Etiquetas\nGera etiquetas para os pedidos informados",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string",
                      "description": "Conteúdo presente no TXT do ZPL2, disponível apenas no modo ZPL2 com o parâmetro TXT."
                    }
                  }
                },
                "examples": {
                  "ZPL": {
                    "value": {
                      "content": "^XA^MCY^CI28^LH5,15^FX  HEADER  ^FS^FX Logo_Meli ^FS^FO20,10^GFA,800,800,10,,:::::::::::O0FF,M07JFE,L07FC003FE,K07EL07E,J01EN078,J07P0E,I01CP038,I07R0E,001CK01FK038,003L0IFK0C,0078J03803CJ0E,0187J06I07I01D8,0300F00F8J0FEFE0C,02003IFK01J06,04I01C6P02,08K0401FM01,1L08060CM083K0100C02M0C2M01001M046K0306I0CL064K0198I02L024Q01L02CR08K03CR04K03FR02K03FFQ01J07!C1FQ0C007E3C03EP0203F03C0078O010F003CI0EF1N0F8003CI070C4M06I03CI02003CL02I03CI02P02I036I03N0106I066I01J08J0C4I067J0EI08J078I0E38I03I0E00406I01C3CI01800100204I01C3CJ0FI080118I03C1EJ03800801FJ0780FK0C008018J0F,078J07C0823J01F,07EJ01C1C36J07E,03FK031C3K0FC,01FCJ01E18J01F8,00FER07F,007F8P01FE,003FFP0FFC,I0FFEN07FF,I03FFCL03FFC,J0IFCJ03IF,J07PFE,K0PF,K01NF8,L01LF8,N0JF,,:::::::::::^FS^FO120,20^A0N,24,24^FH^FDANYMARKET SA _2E_2D ANYMARKET SA _2E #123456789^FS^FO120,43^A0N,24,24^FH^FB550,2,0,L^FDAv_2E Carneiro Leao_2D2 Andar 563, Zona 1^FS^FO120,90^A0N,24,24^FH^FB550,1,0,L^FDMaringa, BR-PR - 87014010^FS^FO120,120^A0N,24,24^FDPack ID: 10000^FS^FO272,117^A0N,27,27^FD01234567890^FS^FX LAST CLUSTER  ^FS^FO20,150^GB210,45,45^FS^FO20,156^A0N,45,45^FB210,1,0,C^FR^FDXSP1^FS^FX END LAST CLUSTER  ^FS^FO480,150^GB330,40,40^FS^FO410,160^A0N,22,22^FB460,1,0,C^FR^FH^FDENTREGAR NA COLETA^FS^FX  Shipment_Number_Bar_Code  ^FS^FO230,210^BY3,,0^BCN,160,N,N,N^FD>:01234567890^FS^FO95,385^A0N,30,30^FB390,1,0,R^FD423127^FS^FO488,381^A0N,35,35^FB400,1,0,L^FD60443^FS^FX  END_HEADER  ^FS^FX  CUSTOM_DATA  ^FS^FO0,580^A0N,175,175^FB630,1,0,R^FDSRD1^FS^FO670,640^A0N,47,47^FB200,1,0,L^FD09:00^FS^FO0,790^A0N,28,28^FB600,1,0,R^FDXSP1 > XSP9 > SRD1 > ^FS^FO605,785^A0N,40,40^FD4^FS^FO0,830^A0N,38,38^FB820,1,0,C^FDTER 06/06/2023   CEP: 87014010   NF: 1234567^FS^FX  END CUSTOM_DATA  ^FS^FO0,950^GB850,0,2^FS^FX  RECEIVER ZONE  ^FS^FO30,970^A0N,26,26^FB600,2,0,L^FH^FDDB1 Global Software SA (DB1GLOBALSOFTWARE)^FS^FO30,1030^A0N,26,26^FB600,2,0,L^FH^FDEndere_C3_A7o: Av Carneiro Leao, 563 - 2º Andar_2c Zona 1^FS^FO30,1090^A0N,30,30^FDCEP: 87014010^FS^FO30,1089^A0N,30,30^FDCEP: 87014010^FS^FO30,1121^A0N,26,26^FB600,2,1000,L^FH^FDCidade de destino: Maringa_2c Parana^FS^FO30,1150^A0N,26,26^FB600,5,0,L^FH^FDComplemento: Sobreloja Centro Empresarial Le Monde_2E^FS^FX  QR Code  ^FS^FO650,985^BY2,2,0^BQN,2,5^FDLA,{\"id\":\"01234567890\",\"t\":\"lm\"}^FS^FO650,1130^GB105,40,40^FS^FO650,1135^A0N,35,35^FB105,1,0,C^FR^FDR^FS^FX  END_FOOTER  ^FS^XZ"
                    }
                  }
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "file=PLP": {
                    "value": "Arquivo.pdf"
                  },
                  "type = PDF ou ZIP": {
                    "value": "Arquivo.pdf ou Arquivo.zip"
                  }
                }
              },
              "application/zip": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "type = PDF": {
                    "value": "Arquivo.zip"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "409",
                      "message": "As etiquetas dos seguintes pedidos [id dos pedidos] não estão prontas para download, tente novamente mais tarde"
                    }
                  },
                  "Example 1": {
                    "value": {
                      "code": "409",
                      "message": "As etiquetas dos seguintes pedidos [id dos pedidos] não estão prontas para download, tente novamente mais tarde"
                    }
                  }
                }
              }
            },
            "headers": {}
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "422 - Error",
                  "example": {
                    "code": "422",
                    "message": "O campo informado esta fora das especificações."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "500 - Error",
                  "example": {
                    "code": "500",
                    "message": "Erro no sistema. Detalhes: Ocorreu um erro inesperado. Por favor, tente novamente."
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orders": {
                    "type": "array",
                    "description": "ID´s das vendas",
                    "items": {
                      "type": "integer",
                      "description": "Id da venda"
                    }
                  }
                },
                "required": [
                  "orders"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "TXT",
                "PLP"
              ]
            },
            "in": "query",
            "name": "file",
            "description": "Pode ser informado \"TXT\" ou \"PLP\" quando o tipo for ZPL2. Quando informado TXT é retornado um JSON com o conteúdo do TXT fornecido pelo Marketplace, quando informado PLP o retorno é um PDF com o PLP."
          }
        ],
        "operationId": "post-printtag-type"
      }
    },
    "/stocks/fulfillment/{marketplace}/{idSku}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "title": "Marketplaces",
            "enum": [
              "MERCADO_LIVRE",
              "ALIEXPRESS",
              "AMAZON_GLOBAL_API",
              "ANGELONI",
              "ARMAZEM_PARAIBA",
              "B2W_NEW_API",
              "BABYBIZ",
              "BANCO_INTER",
              "BANDSHOP",
              "BELEZA_NA_WEB_NEW_API",
              "BRAVIUM",
              "C_A",
              "CARREFOUR",
              "CASA_VIDEO",
              "CASSOL_CENTERLAR",
              "CENTAURO_NEW_API",
              "CLAROSHOP_MEXICO",
              "COMFORTFLEX_NOVA_API",
              "COMPRA_CERTA",
              "COPPEL",
              "CSM",
              "DB1_MARKETPLACE",
              "DECATHLON",
              "DIGIGROW",
              "EFACIL",
              "ELEKTRA",
              "EOS",
              "EPOCA",
              "ESTANTE_VIRTUAL",
              "FALABELLA",
              "FARMADELIVERY",
              "FASTSHOP_NEW_API",
              "FENICIO",
              "FOODIES_STORE",
              "GFG",
              "GRUPO_MATEUS",
              "HELP_SELLER",
              "HITES",
              "HOUSE_OF_GAMERS",
              "ICBC_MALL",
              "IGA",
              "ITAU",
              "JUMPSELLER",
              "KABUM",
              "KOERICH",
              "LE_BISCUIT",
              "LEROY_MERLIN",
              "LIVESHOP",
              "LL_LOYALTY",
              "LOJA_DO_COOPERADO",
              "LOJA_DO_MECANICO",
              "LOJAS_COLOMBO",
              "LOJAS_IMPERIO",
              "LOJAS_LEBES_NEW_API",
              "LOJAS_MM",
              "LOJAS_QUERO_QUERO",
              "MADEIRA_MADEIRA",
              "MAGAZINE_LUIZA",
              "MAGENTO",
              "MAIS_CORREIOS",
              "MARCA_SELETA",
              "MARTINS_ATACADO",
              "MEGATONE",
              "MOBLY",
              "MULTIVAREJO_GPA",
              "NETSHOES",
              "NEXTSHOP",
              "NUVEMSHOP",
              "OLIST_NEW_API",
              "PAGUE_MENOS",
              "PARIS",
              "PHILIPS_STORE",
              "PITSTOP",
              "PNEUBEST",
              "POLISHOP",
              "POSTHAUS_NEW_API",
              "PRESTASHOP",
              "PRIVALIA",
              "RAIA_DROGASIL",
              "RAMARIM_NOVA_API",
              "RENNER",
              "RI_HAPPY_NEW_API",
              "RIACHUELO",
              "RIPLEY",
              "SENFF_SHOPPING",
              "SHEIN",
              "SHOPEE",
              "SHOPHUB",
              "SHOPIFY",
              "SHOPPING_BB",
              "SHOPPING_LIVELO",
              "SICOOB",
              "SICREDI",
              "STECK",
              "SUBLIMITY",
              "TA_TASHOP",
              "TENDA_ATACADO",
              "THE_HOME_DEPOT",
              "TIENDA_CLIC",
              "TIKTOK_SHOP",
              "TRAY",
              "TROCAFONE",
              "VALE_BONUS",
              "VENTURESHOP",
              "VINKLO_BY_FESTALAB",
              "VTEX",
              "WALMART",
              "WEB_CONTINENTAL_V2",
              "WEHOUSE",
              "WOOCOMMERCE",
              "WOOCOMMERCE2",
              "YA_PLACE_STORE",
              "ZEMA",
              "ZOOM"
            ],
            "description": "Descritivo de qual marketplace o pedido pertence",
            "example": "ALIEXPRESS"
          },
          "name": "marketplace",
          "in": "path",
          "required": true,
          "description": "Identificador do marketplace."
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "idSku",
          "in": "path",
          "required": true,
          "description": "Id do SKU do ANYMARKET."
        }
      ],
      "get": {
        "summary": "/stocks/fulfillment/{marketplace}/{idSku}",
        "tags": [
          "Fulfillment"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "description": "",
                    "type": "object",
                    "properties": {
                      "sku": {
                        "type": "string",
                        "description": "Código do SKU no MarketPlace"
                      },
                      "document": {
                        "type": "string",
                        "minLength": 14,
                        "maxLength": 14,
                        "description": "CNPJ do centro de distribuição (CD) fulfillment"
                      },
                      "description": {
                        "type": "string",
                        "description": "Descrição do centro de distribuição (CD) fulfillment"
                      },
                      "fulfillment_quantity_stock": {
                        "type": "number",
                        "description": "Quantidade de estoque fulfillment no centro de distribuição (CD)",
                        "format": "double"
                      },
                      "fulfillment_reserved_stock": {
                        "type": "number",
                        "description": "Quantidade de estoque fulfillment reservado no centro de distribuição (CD)",
                        "format": "double"
                      },
                      "fulfillment_available_stock": {
                        "type": "number",
                        "description": "Quantidade de estoque fulfillment disponível no centro de distribuição (CD). Obtido através do cálculo (fulfillment_quantity_stock - fulfillment_reserved_stock)",
                        "format": "double"
                      }
                    },
                    "example": {
                      "sku": "string",
                      "document": "string",
                      "description": "string",
                      "fulfillment_quantity_stock": "number",
                      "fulfillment_available_stock": "number",
                      "fulfillment_reserved_stock": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "400 - Bad Request",
                  "example": {
                    "code": "400",
                    "message": "Não foi possível finalizar a chamada."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "422 - Error",
                  "example": {
                    "code": "422",
                    "message": "O campo informado esta fora das especificações."
                  }
                }
              }
            }
          }
        },
        "operationId": "get-stocks-fulfillment",
        "description": "# Consulta estoque fulfillment por marketplace e idSku\nUtilizada para listar os estoques fulfillment do SKU em cada centro de distribuição do marketplace.\nParâmetro 'marketplace' podendo ser:\n- B2W_NEW_API\n- MERCADO_LIVRE\n- OUTROS\n<!-- theme: warning -->\n> #### Atenção!\n>\n> Atributo **'marketplace'** deve ser caixa alta (maiúsculo) pois trata-se de um ENUM."
      }
    },
    "/orders/feeds": {
      "parameters": [],
      "get": {
        "summary": "/orders/feeds",
        "tags": [
          "Feed pedido"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 10,
                  "items": {
                    "description": "",
                    "type": "object",
                    "title": "OrderFeed",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID do pedido gerado pelo ANYMARKET",
                        "format": "int64",
                        "minimum": 0
                      },
                      "token": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Token do feed",
                        "format": "uuid"
                      }
                    },
                    "x-tags": [
                      "Feed"
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-orders-feeds",
        "description": "# Consulta todos os pedidos alterados\nQuando um pedido é criado ou alterado no ANYMARKET, o mesmo é disponibilizado para consulta través desse feed e fica disponível por 30 dias (se foi lido, 30 dias a partir da data de leitura, se não foi lido, 30 dias a partir da data de criação/edição.). \n\nO caso não informado um limit o resultado da consulta de feed retorna 100 itens disponíveis aleatóriamente\n\n<!-- theme: warning -->\n> #### Atenção!\n>\n> Só serão retornados os status configurados pelo seller no painel do ANYMARKET.\n\nApós leitura dos itens dos FEED, é necessário realizar um PUT para confirmar a leitura.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 5,
              "default": 5,
              "example": 5,
              "maximum": 100
            },
            "description": "Número máximo de elementos"
          }
        ]
      }
    },
    "/orders/feeds/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID do pedido gerado pelo ANYMARKET"
        }
      ],
      "put": {
        "summary": "/orders/feeds/{id}",
        "operationId": "put-orders-feeds-id",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Feed pedido"
        ],
        "description": "# Marca o feed como processado\nApós consulta do pedido através do feed, é preciso marcá-lo como lido. Caso não seja marcado, continuará retornando na consulta.\n\n> O método `PUT` substitui completamente o recurso. \n>\n> Todos os campos obrigatórios devem ser enviados, mesmo que não tenham sido modificados.\n>\n> Campos omitidos podem ser redefinidos ou apagados.\n>\n> Use este método quando quiser sobrescrever todas as informações.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "format": "uuid",
                    "description": "Token recuperado na consulta do feed"
                  }
                },
                "required": [
                  "token"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "token": "string"
                  }
                }
              }
            }
          },
          "description": "Dados para atualização do feed"
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Status recuperado no momento da consulta do pedido, caso este parâmetro seja enviado apenas o status informado será marcado como lido. Por padrão são marcados como lidos todos os feeds do pedido em questão  ",
            "name": "status"
          }
        ]
      }
    },
    "/orders/feeds/batch": {
      "parameters": [],
      "put": {
        "summary": "/orders/feeds/batch",
        "operationId": "put-orders-feeds-batch",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Feed pedido"
        ],
        "description": "# Marca vários feeds como processados de uma vez\nApós consulta de diversos pedidos através do feed, é preciso marcá-los como lidos. Caso não sejam marcados, continuarão retornandos na consulta. Por este endpoint é possível fazer a confirmação de leitura em massa de vários pedidos.\n\n> O método `PUT` substitui completamente o recurso. \n>\n> Todos os campos obrigatórios devem ser enviados, mesmo que não tenham sido modificados.\n>\n> Campos omitidos podem ser redefinidos ou apagados.\n>\n> Use este método quando quiser sobrescrever todas as informações.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "id",
                    "token",
                    "type"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Id da notificação do pedido",
                      "example": 188443520
                    },
                    "status": {
                      "type": "string",
                      "description": "Status do pedido no momento do GET no pedido, caso queira fazer a confirmação por status",
                      "example": "PENDING"
                    },
                    "token": {
                      "type": "string",
                      "description": "Token recuperado na consulta do feed",
                      "format": "uuid",
                      "example": "c74952c9-f181-4ea5-81d2-adeee74215c4"
                    },
                    "type": {
                      "type": "string",
                      "description": "Tipo da notificação",
                      "example": "ORDER"
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": [
                    {
                      "id": 188443520,
                      "status": "PENDING",
                      "token": "c74952c9-f181-4ea5-81d2-adeee74215c4",
                      "type": "ORDER"
                    },
                    {
                      "id": 188443520,
                      "status": "PENDING",
                      "token": "c74952c9-f181-4ea5-81d2-adeee74215c4",
                      "type": "ORDER"
                    }
                  ]
                },
                "stoplight-Example 1": {
                  "value": [
                    {
                      "id": 188443520,
                      "status": "PAID_WAITING_SHIP",
                      "token": "c74952c9-f181-4ea5-81d2-adeee74215c4",
                      "type": "ORDER"
                    },
                    {
                      "id": 188443328,
                      "status": "PAID_WAITING_SHIP",
                      "token": "5238ba67-57b6-4097-9f75-14c3b2ae6a78",
                      "type": "ORDER"
                    }
                  ]
                }
              }
            }
          },
          "description": "Dados para atualização do feed"
        },
        "parameters": []
      }
    },
    "/freight/quotes": {
      "post": {
        "summary": "/freight/quotes",
        "operationId": "post-freight-quotes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "marketPlace": {
                      "type": "string",
                      "title": "Marketplaces",
                      "enum": [
                        "MERCADO_LIVRE",
                        "ALIEXPRESS",
                        "AMAZON_GLOBAL_API",
                        "ANGELONI",
                        "ARMAZEM_PARAIBA",
                        "B2W_NEW_API",
                        "BABYBIZ",
                        "BANCO_INTER",
                        "BANDSHOP",
                        "BELEZA_NA_WEB_NEW_API",
                        "BRAVIUM",
                        "C_A",
                        "CARREFOUR",
                        "CASA_VIDEO",
                        "CASSOL_CENTERLAR",
                        "CENTAURO_NEW_API",
                        "CLAROSHOP_MEXICO",
                        "COMFORTFLEX_NOVA_API",
                        "COMPRA_CERTA",
                        "COPPEL",
                        "CSM",
                        "DB1_MARKETPLACE",
                        "DECATHLON",
                        "DIGIGROW",
                        "EFACIL",
                        "ELEKTRA",
                        "EOS",
                        "EPOCA",
                        "ESTANTE_VIRTUAL",
                        "FALABELLA",
                        "FARMADELIVERY",
                        "FASTSHOP_NEW_API",
                        "FENICIO",
                        "FOODIES_STORE",
                        "GFG",
                        "GRUPO_MATEUS",
                        "HELP_SELLER",
                        "HITES",
                        "HOUSE_OF_GAMERS",
                        "ICBC_MALL",
                        "IGA",
                        "ITAU",
                        "JUMPSELLER",
                        "KABUM",
                        "KOERICH",
                        "LE_BISCUIT",
                        "LEROY_MERLIN",
                        "LIVESHOP",
                        "LL_LOYALTY",
                        "LOJA_DO_COOPERADO",
                        "LOJA_DO_MECANICO",
                        "LOJAS_COLOMBO",
                        "LOJAS_IMPERIO",
                        "LOJAS_LEBES_NEW_API",
                        "LOJAS_MM",
                        "LOJAS_QUERO_QUERO",
                        "MADEIRA_MADEIRA",
                        "MAGAZINE_LUIZA",
                        "MAGENTO",
                        "MAIS_CORREIOS",
                        "MARCA_SELETA",
                        "MARTINS_ATACADO",
                        "MEGATONE",
                        "MOBLY",
                        "MULTIVAREJO_GPA",
                        "NETSHOES",
                        "NEXTSHOP",
                        "NUVEMSHOP",
                        "OLIST_NEW_API",
                        "PAGUE_MENOS",
                        "PARIS",
                        "PHILIPS_STORE",
                        "PITSTOP",
                        "PNEUBEST",
                        "POLISHOP",
                        "POSTHAUS_NEW_API",
                        "PRESTASHOP",
                        "PRIVALIA",
                        "RAIA_DROGASIL",
                        "RAMARIM_NOVA_API",
                        "RENNER",
                        "RI_HAPPY_NEW_API",
                        "RIACHUELO",
                        "RIPLEY",
                        "SENFF_SHOPPING",
                        "SHEIN",
                        "SHOPEE",
                        "SHOPHUB",
                        "SHOPIFY",
                        "SHOPPING_BB",
                        "SHOPPING_LIVELO",
                        "SICOOB",
                        "SICREDI",
                        "STECK",
                        "SUBLIMITY",
                        "TA_TASHOP",
                        "TENDA_ATACADO",
                        "THE_HOME_DEPOT",
                        "TIENDA_CLIC",
                        "TIKTOK_SHOP",
                        "TRAY",
                        "TROCAFONE",
                        "VALE_BONUS",
                        "VENTURESHOP",
                        "VINKLO_BY_FESTALAB",
                        "VTEX",
                        "WALMART",
                        "WEB_CONTINENTAL_V2",
                        "WEHOUSE",
                        "WOOCOMMERCE",
                        "WOOCOMMERCE2",
                        "YA_PLACE_STORE",
                        "ZEMA",
                        "ZOOM"
                      ],
                      "description": "Marketplace onde foi realizada a consulta",
                      "example": "ALIEXPRESS"
                    },
                    "zipCode": {
                      "type": "string",
                      "minLength": 1,
                      "description": "CEP do destinatário do frete sem hífen ",
                      "maxLength": 8
                    },
                    "products": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "description": "Lista de produtos existentes ",
                      "items": {
                        "type": "object",
                        "properties": {
                          "skuId": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Código do item no marketplace "
                          },
                          "amount": {
                            "type": "number",
                            "description": "Quantidade do item"
                          },
                          "dimensions": {
                            "type": "object",
                            "description": "Dimensões do item",
                            "properties": {
                              "height": {
                                "type": "number",
                                "description": "Altura do objeto"
                              },
                              "width": {
                                "type": "number",
                                "description": "Largura do objeto"
                              },
                              "weight": {
                                "type": "number",
                                "description": "Peso do objeto"
                              },
                              "length": {
                                "type": "number",
                                "description": "Comprimento do objeto"
                              }
                            }
                          },
                          "stockAmount": {
                            "type": "number",
                            "description": "Quantidade em estoque"
                          },
                          "additionalDeliveryTime": {
                            "type": "number",
                            "description": "Prazo adicional em dias para este produto "
                          },
                          "price": {
                            "type": "number",
                            "description": "Preço normal do produto",
                            "format": "double",
                            "minimum": 0
                          },
                          "discountPrice": {
                            "type": "number",
                            "description": "Preço do produto com desconto ",
                            "format": "double",
                            "minimum": 0
                          }
                        }
                      }
                    },
                    "quotes": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "description": "Cotações de frete",
                      "items": {
                        "type": "object",
                        "properties": {
                          "carrierName": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Nome da empresa de transporte "
                          },
                          "serviceName": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Nome do serviço de transporte "
                          },
                          "deliveryTime": {
                            "type": "number",
                            "description": "Prazo de entrega em dias "
                          },
                          "freightType": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Tipo do frete (NORMAL/EXPRESS) ",
                            "enum": [
                              "NORMAL",
                              "EXPRESS"
                            ]
                          },
                          "price": {
                            "type": "number",
                            "description": "Valor do frete",
                            "format": "double",
                            "minimum": 0
                          }
                        }
                      }
                    },
                    "defaultFreight": {
                      "type": "object",
                      "description": "Quando está configurado frete padrão e não encontrou algum SKU pesquisado, retorna o valor do frete padrão ",
                      "properties": {
                        "carrierName": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Nome da empresa de transporte "
                        },
                        "serviceName": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Nome do serviço de transporte "
                        },
                        "deliveryTime": {
                          "type": "number",
                          "description": "Prazo de entrega em dias "
                        },
                        "freightType": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Tipo do frete (NORMAL/EXPRESS) ",
                          "enum": [
                            "NORMAL",
                            "EXPRESS"
                          ]
                        },
                        "price": {
                          "type": "number",
                          "description": "Valor do frete",
                          "format": "double",
                          "minimum": 0
                        }
                      }
                    },
                    "missingSkus": {
                      "type": "object",
                      "description": "Mapa com as SKUs não encontradas"
                    }
                  },
                  "example": {
                    "marketPlace": "string",
                    "zipCode": "string",
                    "products": [
                      {
                        "skuId": "string",
                        "amount": 0,
                        "dimensions": {
                          "height": 0,
                          "width": 0,
                          "weight": 0,
                          "length": 0
                        },
                        "stockAmount": 0,
                        "additionalDeliveryTime": 0,
                        "price": 0,
                        "discountPrice": 0
                      }
                    ],
                    "quotes": [
                      {
                        "carrierName": "string",
                        "serviceName": "string",
                        "deliveryTime": 0,
                        "freightType": "string",
                        "price": 0
                      }
                    ],
                    "defaultFreight": {
                      "carrierName": "string",
                      "serviceName": "string",
                      "deliveryTime": 0,
                      "freightType": "string",
                      "price": 0
                    },
                    "missingSkus": {}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "422 - Error",
                  "example": {
                    "code": "422",
                    "message": "O campo informado esta fora das especificações."
                  }
                }
              }
            }
          }
        },
        "description": "# Cotação de Valores de Frete\nCotação de valores de frete para o objeto informado",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "zipCode": {
                    "type": "string",
                    "minLength": 1,
                    "description": "CEP do destinatário do frete sem hífen ",
                    "maxLength": 8
                  },
                  "marketPlace": {
                    "description": "Descritivo de qual marketplace",
                    "type": "string"
                  },
                  "additionalPercentual": {
                    "type": "number",
                    "description": "Percentual a adicionar ao valor de frete",
                    "format": "double"
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Timeout, em milissegundos, para a consulta",
                    "format": "int32",
                    "minimum": 0
                  },
                  "products": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "description": "Lista de produtos a consultar",
                    "items": {
                      "type": "object",
                      "properties": {
                        "skuId": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Código do item no marketplace "
                        },
                        "amount": {
                          "type": "integer",
                          "description": "Quantidade do item ",
                          "format": "int32",
                          "maximum": 1000000,
                          "minimum": 0
                        },
                        "dimensions": {
                          "type": "object",
                          "description": "Dimensões do item",
                          "properties": {
                            "height": {
                              "type": "number",
                              "description": "Altura do objeto"
                            },
                            "width": {
                              "type": "number",
                              "description": "Largura do objeto"
                            },
                            "weight": {
                              "type": "number",
                              "description": "Peso do objeto"
                            },
                            "length": {
                              "type": "number",
                              "description": "Comprimento do objeto"
                            }
                          }
                        }
                      },
                      "required": [
                        "skuId",
                        "amount"
                      ]
                    }
                  }
                },
                "required": [
                  "zipCode",
                  "marketPlace"
                ],
                "example": {
                  "zipCode": "string",
                  "marketPlace": "string",
                  "additionalPercentual": -1.7976931348623157e+308,
                  "timeout": 0,
                  "products": [
                    {
                      "skuId": "string",
                      "amount": 0,
                      "dimensions": {
                        "height": 0,
                        "width": 0,
                        "weight": 0,
                        "length": 0
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Cotar Frete"
        ]
      }
    },
    "/messages/order/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID do pedido fornecido pelo ANYMARKET"
        }
      ],
      "post": {
        "summary": "/messages/order/{id}",
        "tags": [
          "Mensageria"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Texto da mensagem para o comprador do pedido"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "operationId": "get-messages-order-id",
        "description": "# Encaminha para o Mercado Livre uma mensagem para o comprador do pedido\nEncaminha para o marketplace uma mensagem para o comprador do pedido no Mercado Livre.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "message"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "message": "string"
                  }
                }
              }
            }
          },
          "description": "Mensagem para o comprador"
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Pedido"
        ],
        "summary": "/orders",
        "description": "# Consulta Pedidos\nConsulta os detalhes de pedidos\n\n> A consulta pode ser realizada por meio dos filtros informados na query. Caso os filtros de createdBefore e createdAfter não seja especificado, o retorno será limitado aos registros criados nos últimos 120 dias.\n>\n> Quando os parâmetros createdAfter (data inicial de criação) e createdBefore (data final de criação) forem informados, o sistema validará se o intervalo solicitado está dentro do limite máximo de 120 dias.\n>\n> Caso seja informado apenas o parâmetro createdAfter, serão retornados os registros compreendidos entre a data inicial informada e o período máximo de 120 dias a partir dessa data.\n>\n> Caso seja informado apenas o parâmetro createdBefore, serão retornados os registros compreendidos entre a data final informada e o período máximo de 120 dias retroativos.\n>\n> Quando os parâmetros updatedAfter (atualizado depois de) e updatedBefore (atualizado antes de) forem informados, o sistema validará se o intervalo solicitado está dentro do limite máximo de 7 dias.\n>\n> Caso nenhum filtro seja informado e o volume de dados ultrapasse 30 mil registros, o campo totalElements será retornado com valor aproximado, por razões de desempenho.",
        "parameters": [
          {
            "name": "createdAfter",
            "in": "query",
            "description": "Criado a partir de",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-11-25T14:00:00-03:00"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Criado antes de",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-11-25T20:30:00-03:00"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Atributo para filtrar pelo status do pedido",
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "DELIVERY_ISSUE",
                "PAID_WAITING_SHIP",
                "INVOICED",
                "PAID_WAITING_DELIVERY",
                "CONCLUDED",
                "CANCELED"
              ]
            }
          },
          {
            "name": "marketplace",
            "in": "query",
            "schema": {
              "type": "string",
              "title": "Marketplaces",
              "enum": [
                "MERCADO_LIVRE",
                "ALIEXPRESS",
                "AMAZON_GLOBAL_API",
                "ANGELONI",
                "ARMAZEM_PARAIBA",
                "B2W_NEW_API",
                "BABYBIZ",
                "BANCO_INTER",
                "BANDSHOP",
                "BELEZA_NA_WEB_NEW_API",
                "BRAVIUM",
                "C_A",
                "CARREFOUR",
                "CASA_VIDEO",
                "CASSOL_CENTERLAR",
                "CENTAURO_NEW_API",
                "CLAROSHOP_MEXICO",
                "COMFORTFLEX_NOVA_API",
                "COMPRA_CERTA",
                "COPPEL",
                "CSM",
                "DB1_MARKETPLACE",
                "DECATHLON",
                "DIGIGROW",
                "EFACIL",
                "ELEKTRA",
                "EOS",
                "EPOCA",
                "ESTANTE_VIRTUAL",
                "FALABELLA",
                "FARMADELIVERY",
                "FASTSHOP_NEW_API",
                "FENICIO",
                "FOODIES_STORE",
                "GFG",
                "GRUPO_MATEUS",
                "HELP_SELLER",
                "HITES",
                "HOUSE_OF_GAMERS",
                "ICBC_MALL",
                "IGA",
                "ITAU",
                "JUMPSELLER",
                "KABUM",
                "KOERICH",
                "LE_BISCUIT",
                "LEROY_MERLIN",
                "LIVESHOP",
                "LL_LOYALTY",
                "LOJA_DO_COOPERADO",
                "LOJA_DO_MECANICO",
                "LOJAS_COLOMBO",
                "LOJAS_IMPERIO",
                "LOJAS_LEBES_NEW_API",
                "LOJAS_MM",
                "LOJAS_QUERO_QUERO",
                "MADEIRA_MADEIRA",
                "MAGAZINE_LUIZA",
                "MAGENTO",
                "MAIS_CORREIOS",
                "MARCA_SELETA",
                "MARTINS_ATACADO",
                "MEGATONE",
                "MOBLY",
                "MULTIVAREJO_GPA",
                "NETSHOES",
                "NEXTSHOP",
                "NUVEMSHOP",
                "OLIST_NEW_API",
                "PAGUE_MENOS",
                "PARIS",
                "PHILIPS_STORE",
                "PITSTOP",
                "PNEUBEST",
                "POLISHOP",
                "POSTHAUS_NEW_API",
                "PRESTASHOP",
                "PRIVALIA",
                "RAIA_DROGASIL",
                "RAMARIM_NOVA_API",
                "RENNER",
                "RI_HAPPY_NEW_API",
                "RIACHUELO",
                "RIPLEY",
                "SENFF_SHOPPING",
                "SHEIN",
                "SHOPEE",
                "SHOPHUB",
                "SHOPIFY",
                "SHOPPING_BB",
                "SHOPPING_LIVELO",
                "SICOOB",
                "SICREDI",
                "STECK",
                "SUBLIMITY",
                "TA_TASHOP",
                "TENDA_ATACADO",
                "THE_HOME_DEPOT",
                "TIENDA_CLIC",
                "TIKTOK_SHOP",
                "TRAY",
                "TROCAFONE",
                "VALE_BONUS",
                "VENTURESHOP",
                "VINKLO_BY_FESTALAB",
                "VTEX",
                "WALMART",
                "WEB_CONTINENTAL_V2",
                "WEHOUSE",
                "WOOCOMMERCE",
                "WOOCOMMERCE2",
                "YA_PLACE_STORE",
                "ZEMA",
                "ZOOM"
              ],
              "description": "Descritivo de qual marketplace o pedido pertence",
              "example": "ALIEXPRESS"
            },
            "description": "Marketplace"
          },
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "Atributo para filtrar pelo ID do Pedido no Marketplace",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            },
            "description": "Posição de início da paginação"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 5,
              "default": 5,
              "example": 5,
              "maximum": 100
            },
            "description": "Número máximo de elementos"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Atributo para ordenação"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "description": "Atributo para direcionar a ordenação (ASC ou DESC)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "partnerId",
            "description": "Atributo para filtrar pelo ID do Pedido no Integrador"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "shippingId",
            "description": "Id de envio do marketplace, utilizado para otimizar a consulta de pedidos Mercado Livre"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-11-25T14:00:00-03:00"
            },
            "in": "query",
            "name": "updatedAfter",
            "description": "Atualizado depois de"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-11-25T20:30:00-03:00"
            },
            "in": "query",
            "name": "updatedBefore",
            "description": "Atualizado antes de"
          }
        ],
        "operationId": "get-orders",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "description": "Referências de paginação",
                      "uniqueItems": false,
                      "minItems": 1,
                      "maxItems": 1,
                      "items": {
                        "title": "PageLinks",
                        "type": "object",
                        "properties": {
                          "rel": {
                            "type": "string",
                            "description": "Relacionamento do hyperlink",
                            "example": "next"
                          },
                          "href": {
                            "type": "string",
                            "description": "URL de definição do recurso",
                            "example": "https://.../v2/{rota}?limit=5&offset=5"
                          }
                        }
                      }
                    },
                    "content": {
                      "type": "array",
                      "description": "Lista de pedidos",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "accountName",
                          "marketPlaceId",
                          "marketPlaceNumber",
                          "marketPlace",
                          "createdAt",
                          "transmissionStatus",
                          "status",
                          "marketPlaceStatus",
                          "discount",
                          "freight",
                          "sellerFreight",
                          "interestValue",
                          "gross",
                          "total",
                          "shipping",
                          "anymarketAddress",
                          "buyer",
                          "payments",
                          "items",
                          "deliveryStatus",
                          "idAccount"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID do pedido gerado pelo ANYMARKET",
                            "format": "int64"
                          },
                          "accountName": {
                            "type": "string",
                            "description": "Identificador da conta do Marketplace",
                            "maxLength": 255
                          },
                          "marketPlaceId": {
                            "type": "string",
                            "description": "ID interno do pedido no marketplace",
                            "maxLength": 255
                          },
                          "marketPlaceNumber": {
                            "type": "string",
                            "description": "ID público do pedido no marketplace",
                            "maxLength": 255
                          },
                          "partnerId": {
                            "type": "string",
                            "description": "Código do pedido no parceiro. Uma vez informado, não poderá ser alterado",
                            "maxLength": 100
                          },
                          "marketPlace": {
                            "type": "string",
                            "title": "Marketplaces",
                            "enum": [
                              "MERCADO_LIVRE",
                              "ALIEXPRESS",
                              "AMAZON_GLOBAL_API",
                              "ANGELONI",
                              "ARMAZEM_PARAIBA",
                              "B2W_NEW_API",
                              "BABYBIZ",
                              "BANCO_INTER",
                              "BANDSHOP",
                              "BELEZA_NA_WEB_NEW_API",
                              "BRAVIUM",
                              "C_A",
                              "CARREFOUR",
                              "CASA_VIDEO",
                              "CASSOL_CENTERLAR",
                              "CENTAURO_NEW_API",
                              "CLAROSHOP_MEXICO",
                              "COMFORTFLEX_NOVA_API",
                              "COMPRA_CERTA",
                              "COPPEL",
                              "CSM",
                              "DB1_MARKETPLACE",
                              "DECATHLON",
                              "DIGIGROW",
                              "EFACIL",
                              "ELEKTRA",
                              "EOS",
                              "EPOCA",
                              "ESTANTE_VIRTUAL",
                              "FALABELLA",
                              "FARMADELIVERY",
                              "FASTSHOP_NEW_API",
                              "FENICIO",
                              "FOODIES_STORE",
                              "GFG",
                              "GRUPO_MATEUS",
                              "HELP_SELLER",
                              "HITES",
                              "HOUSE_OF_GAMERS",
                              "ICBC_MALL",
                              "IGA",
                              "ITAU",
                              "JUMPSELLER",
                              "KABUM",
                              "KOERICH",
                              "LE_BISCUIT",
                              "LEROY_MERLIN",
                              "LIVESHOP",
                              "LL_LOYALTY",
                              "LOJA_DO_COOPERADO",
                              "LOJA_DO_MECANICO",
                              "LOJAS_COLOMBO",
                              "LOJAS_IMPERIO",
                              "LOJAS_LEBES_NEW_API",
                              "LOJAS_MM",
                              "LOJAS_QUERO_QUERO",
                              "MADEIRA_MADEIRA",
                              "MAGAZINE_LUIZA",
                              "MAGENTO",
                              "MAIS_CORREIOS",
                              "MARCA_SELETA",
                              "MARTINS_ATACADO",
                              "MEGATONE",
                              "MOBLY",
                              "MULTIVAREJO_GPA",
                              "NETSHOES",
                              "NEXTSHOP",
                              "NUVEMSHOP",
                              "OLIST_NEW_API",
                              "PAGUE_MENOS",
                              "PARIS",
                              "PHILIPS_STORE",
                              "PITSTOP",
                              "PNEUBEST",
                              "POLISHOP",
                              "POSTHAUS_NEW_API",
                              "PRESTASHOP",
                              "PRIVALIA",
                              "RAIA_DROGASIL",
                              "RAMARIM_NOVA_API",
                              "RENNER",
                              "RI_HAPPY_NEW_API",
                              "RIACHUELO",
                              "RIPLEY",
                              "SENFF_SHOPPING",
                              "SHEIN",
                              "SHOPEE",
                              "SHOPHUB",
                              "SHOPIFY",
                              "SHOPPING_BB",
                              "SHOPPING_LIVELO",
                              "SICOOB",
                              "SICREDI",
                              "STECK",
                              "SUBLIMITY",
                              "TA_TASHOP",
                              "TENDA_ATACADO",
                              "THE_HOME_DEPOT",
                              "TIENDA_CLIC",
                              "TIKTOK_SHOP",
                              "TRAY",
                              "TROCAFONE",
                              "VALE_BONUS",
                              "VENTURESHOP",
                              "VINKLO_BY_FESTALAB",
                              "VTEX",
                              "WALMART",
                              "WEB_CONTINENTAL_V2",
                              "WEHOUSE",
                              "WOOCOMMERCE",
                              "WOOCOMMERCE2",
                              "YA_PLACE_STORE",
                              "ZEMA",
                              "ZOOM"
                            ],
                            "description": "Descritivo de qual marketplace o pedido pertence",
                            "example": "ALIEXPRESS"
                          },
                          "subChannel": {
                            "type": "string",
                            "description": "Site onde foi realizado o pedido (conforme recebido pelo marketplace. Pode ser nulo caso o marketplace não possua subcanal)",
                            "maxLength": 50
                          },
                          "subChannelNormalized": {
                            "type": "string",
                            "description": "Site onde foi realizado o pedido (normalizado pelo ANYMARKET. Pode ser nulo)",
                            "maxLength": 100
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Data de criação do pedido",
                            "format": "date-time"
                          },
                          "paymentDate": {
                            "type": "string",
                            "description": "Data de pagamento do pedido",
                            "format": "date-time"
                          },
                          "cancelDate": {
                            "type": "string",
                            "description": "Data de cancelamento do pedido",
                            "format": "date-time"
                          },
                          "shippingOptionId": {
                            "type": "string",
                            "description": "ID do Envio de cada Marketplace",
                            "maxLength": 50
                          },
                          "transmissionStatus": {
                            "type": "string",
                            "description": "Status da transmissão</br></br>\n\n  **OK**: Pedido sincronizado com sucesso com o Marketplace</br>\n  **ERROR**: Ocorreu erro na sincronização com o Marketplace</br>\n  **WAITING**: Aguardando sincronização com o Marketplace</br>\n"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status do pedido</br></br>\n\n  **CONCLUDED**: Pedido entregue (é a última situação do pedido). Mudando para essa situação é necessário informar: data de entrega</br>\n  **CANCELED**: Cancelado</br>\n  **INVOICED**: Faturado. Mudando para essa situação é necessário informar: número da nota, número de série, data de emissão e chave de acesso</br>\n  **PAID_WAITING_DELIVERY**: Enviado (aguardando entrega). Mudando para essa situação é necessário informar: URL de rastreamento, número de rastreio, nome da transportadora, data de envio</br>\n  **PAID_WAITING_SHIP**: Pago (está aguardando envio)</br>\n  **PENDING**: Pendente (Ainda não foi pago. Existe parâmetro para que o ANYMARKET importe do MarketPlace o pedido que ainda não foi pago)</br>\n",
                            "enum": [
                              "PENDING",
                              "PAID_WAITING_SHIP",
                              "INVOICED",
                              "PAID_WAITING_DELIVERY",
                              "CONCLUDED",
                              "CANCELED"
                            ]
                          },
                          "marketPlaceStatus": {
                            "type": "string",
                            "description": "Situação do pedido no marketplace. Cada marketplace possui situações diferentes. Ex: no mercado livre não existe a situação faturado\n",
                            "maxLength": 255
                          },
                          "marketPlaceStatusComplement": {
                            "type": "string",
                            "description": "Informação complementar à situação do pedido no marketplace. Cada marketplace possui situações diferentes. Ex: na Dafiti o pedido pode ser marcado como falha de entrega e a causa pode ser armazenada nesse atributo\n",
                            "maxLength": 1000
                          },
                          "documentIntermediator": {
                            "type": "string",
                            "description": "Identificador de intermediador da Transação CNPJ",
                            "maxLength": 14
                          },
                          "intermediateRegistrationId": {
                            "type": "string",
                            "description": "Identificador  do cadastro (vendedor ou usuário)  no intermediador",
                            "maxLength": 60
                          },
                          "documentPaymentInstitution": {
                            "type": "string",
                            "description": "Identificador de Instituição de pagamento CNPJ",
                            "maxLength": 14
                          },
                          "fulfillment": {
                            "type": "boolean",
                            "description": "Identifica se o pedido é fulfillment"
                          },
                          "quoteReconciliation": {
                            "type": "object",
                            "description": "Cotação realizada",
                            "properties": {
                              "quoteId": {
                                "type": "string",
                                "description": "ID da cotação realizada"
                              },
                              "price": {
                                "type": "number",
                                "description": "Preço retornado no momento da cotação"
                              }
                            }
                          },
                          "discount": {
                            "type": "number",
                            "description": "Desconto do pedido",
                            "format": "double"
                          },
                          "freight": {
                            "type": "number",
                            "description": "Valor de frete",
                            "format": "double"
                          },
                          "sellerFreight": {
                            "type": "number",
                            "description": "Custo de Frete do Lojista",
                            "format": "double"
                          },
                          "interestValue": {
                            "type": "number",
                            "description": "Valor dos juros",
                            "format": "double"
                          },
                          "gross": {
                            "type": "number",
                            "description": "Total bruto sem o valor de frete",
                            "format": "double"
                          },
                          "total": {
                            "type": "number",
                            "description": "Total do pedido com o valor de frete",
                            "format": "double"
                          },
                          "marketPlaceUrl": {
                            "type": "string",
                            "description": "URL do pedido no marketplace",
                            "maxLength": 255
                          },
                          "marketPlaceShipmentStatus": {
                            "description": "Situação de envio do pedido no marketplace. Cada marketplace possui situações diferentes</br></br>\r\n              **UNKNOWN**: (Desconhecido) Valor padrão para o campo;</br>\r\n              **PACKING**: (Em preparação) Indica que o pedido já foi faturado e está em processo de preparação interna</br>\r\n              **HOLD_FOR_PICKUP**: (Aguardando coleta) Indica que o pedido já foi preparado e está pronto para ser coletado pelo departamento responsável</br>\r\n              **DELAYED_PICKUP**: (Coleta atrasada) Indica que a coleta do pedido está atrasada com base em uma SLA de gestão do seller</br>\r\n              **HOLD_FOR_SHIPPED**: (Aguardando envio) Indica que a coleta do pedido já foi realizada e está aguardando uma confirmação de envio por parte do departamento responsável pela entrega do pedido</br>\r\n              **DELAYED_SHIPPING**: (Envio atrasado) Indica que a coleta do pedido já foi realizada no entanto o envio está atrasado com base em uma SLA de gestão do seller</br>\r\n              **SHIPPED**: (Enviado) Indica que a coleta e o envio foram realizados e confirmados pelo departamento responsável</br>\r\n              **SHIP_CONFIRMED**: (Ship Confirmed) Indica que o pedido está separado e preparado para coleta</br>\r\n              **QUARANTINE**: (Quarentena) Indica que o pedido está em quarentena</br>\r\n              **NOT_DELIVERED**: (Não entregue)</br>\r\n              **IN_TRANSIT**: (Em trânsito) indica que o pedido está em deslocamento para o destinatário</br>\r\n              **DELIVERED**: (Entregue) indica que o pedido foi entregue ao destinatário</br>\r\n              **DELAYED**: (Atrasado) indica que pedido esta atrasado </br>\r\n              **DELIVERED_LATE**: (Entregue atrasado). indica que pedido foi entregue depois data prevista de entrega</br>",
                            "enum": [
                              "UNKNOWN",
                              "PACKING",
                              "HOLD_FOR_PICKUP",
                              "DELAYED_PICKUP",
                              "HOLD_FOR_SHIPPED",
                              "DELAYED_SHIPPING",
                              "SHIPPED",
                              "SHIP_CONFIRMED",
                              "QUARANTINE",
                              "NOT_DELIVERED",
                              "IN_TRANSIT",
                              "DELIVERED",
                              "DELAYED",
                              "DELIVERED_LATE"
                            ],
                            "default": "UNKNOWN"
                          },
                          "invoice": {
                            "type": "object",
                            "properties": {
                              "accessKey": {
                                "type": "string",
                                "description": "Chave de acesso da nota fiscal",
                                "maxLength": 255
                              },
                              "series": {
                                "type": "string",
                                "description": "Número de série da nota fiscal",
                                "maxLength": 255
                              },
                              "number": {
                                "type": "string",
                                "description": "Número da nota fiscal",
                                "maxLength": 255
                              },
                              "date": {
                                "type": "string",
                                "description": "Data de emissão da nota fiscal (Necessário informar o fuso horario)",
                                "format": "date-time"
                              },
                              "cfop": {
                                "type": "string",
                                "description": "Código Fiscal de Operações e Prestações, esse campo será obrigátorio caso seja utilizado 'Mercado Envio Coleta'",
                                "maxLength": 50
                              },
                              "companyStateTaxId": {
                                "type": "string",
                                "description": "Inscrição Estadual quando o comprador é uma Pessoa Jurídica (CNPJ), esse campo será obrigátorio caso seja utilizado 'Mercado Envios Coleta'; é possível utilizar 'ISENTO'",
                                "maxLength": 20
                              },
                              "linkNfe": {
                                "type": "string",
                                "description": "Campo para inserir a URL para consulta da nota fiscal",
                                "maxLength": 300
                              },
                              "invoiceLink": {
                                "type": "string",
                                "description": "Campo para inserir a URL onde está armazenada o PDF ou o XML da nota fiscal (utilizado para a integração da Garbarino)",
                                "maxLength": 4000
                              },
                              "extraDescription": {
                                "type": "string",
                                "description": "Campo para observações",
                                "maxLength": 255
                              },
                              "fiscalMetadata": {
                                "type": "object",
                                "description": "Metadados fiscais complementares da nota fiscal",
                                "properties": {
                                  "operationType": {
                                    "type": "string",
                                    "description": "Tipo de operação fiscal (ex.: entrada, saida)"
                                  },
                                  "emissionType": {
                                    "type": "string",
                                    "description": "Tipo de emissão da nota fiscal (ex.: normal, contingencia)"
                                  },
                                  "authorizationProtocol": {
                                    "type": "string",
                                    "description": "Protocolo de autorização da nota fiscal"
                                  }
                                }
                              }
                            }
                          },
                          "shipping": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Endereço",
                                "maxLength": 500
                              },
                              "city": {
                                "type": "string",
                                "description": "Cidade",
                                "maxLength": 255
                              },
                              "comment": {
                                "type": "string",
                                "description": "Complemento",
                                "maxLength": 500
                              },
                              "country": {
                                "type": "string",
                                "description": "País (Campo original, cadastrado pelo Marketplace ou Ecommerce)",
                                "maxLength": 255
                              },
                              "countryAcronymNormalized": {
                                "type": "string",
                                "description": "Sigla do País padronizado internamente pelo ANYMARKET. Pode ser nulo se o country for nulo ou desconhecido.",
                                "maxLength": 2
                              },
                              "countryNameNormalized": {
                                "type": "string",
                                "description": "Nome do País padronizado internamente pelo ANYMARKET. Pode ser nulo se o country for nulo ou UNKNOWN para desconhecido.",
                                "maxLength": 100
                              },
                              "neighborhood": {
                                "type": "string",
                                "description": "Bairro",
                                "maxLength": 255
                              },
                              "number": {
                                "type": "string",
                                "description": "Número",
                                "maxLength": 100
                              },
                              "promisedShippingTime": {
                                "type": "string",
                                "description": "Data acordada para entrega",
                                "example": "2023-06-15T21:25:52Z"
                              },
                              "promisedDispatchTime": {
                                "type": "string",
                                "description": "Data prevista de coleta",
                                "example": "2024-09-17T03:00:00Z"
                              },
                              "receiverName": {
                                "type": "string",
                                "description": "Nome do remetente para entrega",
                                "maxLength": 255
                              },
                              "reference": {
                                "type": "string",
                                "description": "Referência",
                                "maxLength": 255
                              },
                              "state": {
                                "type": "string",
                                "description": "Sigla do Estado padronizado internamente pelo ANYMARKET. Pode ser nulo se o state for nulo ou o valor enviado pelo Marketplace, se ele for desconhecido.",
                                "maxLength": 255
                              },
                              "stateNameNormalized": {
                                "type": "string",
                                "description": "Nome do Estado padronizado internamente pelo ANYMARKET. Pode ser nulo se o state for nulo ou UNKNOWN para desconhecido.",
                                "maxLength": 100
                              },
                              "street": {
                                "type": "string",
                                "description": "Rua",
                                "maxLength": 255
                              },
                              "zipCode": {
                                "type": "string",
                                "description": "CEP",
                                "maxLength": 255
                              }
                            },
                            "required": [
                              "address",
                              "city",
                              "country",
                              "countryAcronymNormalized",
                              "countryNameNormalized",
                              "number",
                              "receiverName",
                              "state",
                              "stateNameNormalized",
                              "street",
                              "zipCode"
                            ]
                          },
                          "billingAddress": {
                            "type": "object",
                            "description": "Endereço de Cobrança",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Endereço",
                                "maxLength": 500
                              },
                              "city": {
                                "type": "string",
                                "description": "Cidade",
                                "maxLength": 255
                              },
                              "comment": {
                                "type": "string",
                                "description": "Complemento",
                                "maxLength": 500
                              },
                              "country": {
                                "type": "string",
                                "description": "País (Campo original, cadastrado pelo Marketplace ou Ecommerce)",
                                "maxLength": 255
                              },
                              "countryAcronymNormalized": {
                                "type": "string",
                                "description": "Sigla do País padronizado internamente pelo ANYMARKET. Pode ser nulo se o country for nulo ou desconhecido.",
                                "maxLength": 2
                              },
                              "countryNameNormalized": {
                                "type": "string",
                                "description": "Nome do País padronizado internamente pelo ANYMARKET. Pode ser nulo se o country for nulo ou UNKNOWN para desconhecido.",
                                "maxLength": 100
                              },
                              "neighborhood": {
                                "type": "string",
                                "description": "Bairro",
                                "maxLength": 255
                              },
                              "number": {
                                "type": "string",
                                "description": "Número",
                                "maxLength": 100
                              },
                              "reference": {
                                "type": "string",
                                "description": "Referência",
                                "maxLength": 255
                              },
                              "shipmentUserDocument": {
                                "type": "string",
                                "maxLength": 80
                              },
                              "shipmentUserDocumentType": {
                                "type": "string",
                                "title": "Tipos de documentos",
                                "enum": [
                                  "CPF",
                                  "CNPJ",
                                  "OTHER",
                                  "DNI"
                                ],
                                "default": "OTHER",
                                "readOnly": true,
                                "description": ""
                              },
                              "shipmentUserName": {
                                "type": "string",
                                "maxLength": 255
                              },
                              "state": {
                                "type": "string",
                                "description": "Sigla do Estado padronizado internamente pelo ANYMARKET. Pode ser nulo se o state for nulo ou o valor enviado pelo Marketplace, se ele for desconhecido.",
                                "maxLength": 255
                              },
                              "stateNameNormalized": {
                                "type": "string",
                                "description": "Nome do Estado padronizado internamente pelo ANYMARKET. Pode ser nulo se o state for nulo ou UNKNOWN para desconhecido.",
                                "maxLength": 100
                              },
                              "street": {
                                "type": "string",
                                "description": "Rua",
                                "maxLength": 255
                              },
                              "zipCode": {
                                "type": "string",
                                "description": "CEP",
                                "maxLength": 255
                              }
                            },
                            "required": [
                              "address",
                              "city",
                              "country",
                              "countryAcronymNormalized",
                              "countryNameNormalized",
                              "neighborhood",
                              "number",
                              "state",
                              "stateNameNormalized",
                              "street",
                              "zipCode"
                            ]
                          },
                          "anymarketAddress": {
                            "type": "object",
                            "required": [
                              "address",
                              "city",
                              "country",
                              "neighborhood",
                              "number",
                              "promisedShippingTime",
                              "state",
                              "stateAcronymNormalized",
                              "street",
                              "zipCode"
                            ],
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Endereço",
                                "maxLength": 500
                              },
                              "city": {
                                "type": "string",
                                "description": "Cidade",
                                "maxLength": 255
                              },
                              "comment": {
                                "type": "string",
                                "description": "Complemento",
                                "maxLength": 500
                              },
                              "country": {
                                "type": "string",
                                "maxLength": 255,
                                "description": "País"
                              },
                              "neighborhood": {
                                "type": "string",
                                "description": "Bairro",
                                "maxLength": 255
                              },
                              "number": {
                                "type": "string",
                                "description": "Número",
                                "maxLength": 100
                              },
                              "promisedShippingTime": {
                                "type": "string",
                                "description": "Data estimada de entrega",
                                "example": "2023-06-15T21:25:52Z",
                                "format": "date-time"
                              },
                              "receiverName": {
                                "type": "string",
                                "description": "Nome do remetente para entrega",
                                "maxLength": 255
                              },
                              "reference": {
                                "type": "string",
                                "description": "Referência",
                                "maxLength": 255
                              },
                              "state": {
                                "type": "string",
                                "description": "Estado enviado pelo marketplace, sem nenhuma normalização aplicada pelo ANYMARKET.",
                                "maxLength": 255
                              },
                              "stateAcronymNormalized": {
                                "type": "string",
                                "maxLength": 2,
                                "description": "Sigla do Estado padronizado internamente pelo ANYMARKET. Pode ser nulo se o state for nulo ou o valor enviado pelo Marketplace, se ele for desconhecido."
                              },
                              "street": {
                                "type": "string",
                                "description": "Rua",
                                "maxLength": 255
                              },
                              "zipCode": {
                                "type": "string",
                                "description": "CEP",
                                "maxLength": 255
                              }
                            }
                          },
                          "buyer": {
                            "type": "object",
                            "required": [
                              "document",
                              "documentNumberNormalized",
                              "documentType",
                              "email",
                              "name",
                              "phone"
                            ],
                            "properties": {
                              "cellPhone": {
                                "type": "string",
                                "description": "Celular do comprador",
                                "maxLength": 255
                              },
                              "document": {
                                "type": "string",
                                "description": "Número do documento. Essa informação pode não ser preenchida para algum marketplace ou ecommerce.",
                                "maxLength": 255
                              },
                              "documentNumberNormalized": {
                                "type": "string",
                                "description": "Número do documento normalizado pelo ANYMARKET. Somente números. Caso o document não seja um CPF ou CNPJ este campo irá retornar nulo."
                              },
                              "documentType": {
                                "type": "string",
                                "description": "Tipo do documento. Valores possíveis: CPF, CNPJ, OTHER\n",
                                "enum": [
                                  "CPF",
                                  "CNPJ",
                                  "DNI",
                                  "OTHER"
                                ]
                              },
                              "email": {
                                "type": "string",
                                "description": "E-mail do comprador",
                                "maxLength": 255
                              },
                              "marketPlaceId": {
                                "type": "string",
                                "description": "ID no marketplace. Essa informação pode não existir para algum marketplace ou ecommerce.",
[...]
