{
  "openapi": "3.0.0",
  "info": {
    "title": "Anymarket - Anúncios e Transmissões",
    "version": "2.0",
    "description": "",
    "contact": {
      "name": "ANYMARKET Developers",
      "url": "https://suporte.anymarket.com.br/"
    },
    "x-logo": {
      "url": "https://anymarket.com.br/wp-content/uploads/2018/07/icon-anymarket-300x300.png"
    },
    "x-preferred": true,
    "x-providerName": "V2 API"
  },
  "servers": [
    {
      "url": "https://sandbox-api.anymarket.com.br/v2",
      "description": "Sandbox"
    },
    {
      "url": "https://api.anymarket.com.br/v2",
      "description": "Produção"
    }
  ],
  "tags": [
    {
      "name": "Feed transmissão",
      "description": "Gerenciamento de feed de transmissão"
    },
    {
      "name": "SKU Marketplace",
      "description": "Gerenciamento de anúncios"
    },
    {
      "name": "Template",
      "description": "Gerenciamento de templates"
    },
    {
      "name": "Transmissão",
      "description": "Gerenciamento de transmissões"
    },
    {
      "name": "Feed preço de transmissão",
      "description": "Gerenciamento de feed de preço de transmissão"
    }
  ],
  "paths": {
    "/transmissions/feeds": {
      "parameters": [],
      "get": {
        "summary": "/transmissions/feeds",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 10,
                  "items": {
                    "description": "",
                    "type": "object",
                    "title": "TransmissionsFeed",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID do SKU gerado pelo ANYMARKET ",
                        "format": "int64",
                        "minimum": 0
                      },
                      "token": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Token do feed",
                        "format": "uuid"
                      }
                    },
                    "x-tags": [
                      "Feed"
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-transmissions-feeds",
        "description": "# Consulta todos as transmissões alteradas\nQuando um SKU é criado ou alterado no ANYMARKET,  o mesmo é disponibilizado para consulta través desse feed e fica disponível por 30 dias (se foi lido, 30 dias a partir da data de leitura, se não foi lido, 30 dias a partir da data de criação/edição.). \n\n\nO caso não informado um limit o resultado da consulta de feed retorna 100 itens disponíveis aleatóriamente\n\n<!-- theme: warning -->\n> #### Atenção!\n>\n> Só serão retornadas as operações configuradas pelo seller no painel do ANYMARKET.\n\nApós leitura dos itens dos FEED, é necessário realizar um PUT para confirmar a leitura.",
        "tags": [
          "Feed transmissão"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 5,
              "default": 5,
              "example": 5,
              "maximum": 100
            },
            "description": "Número máximo de elementos"
          }
        ]
      }
    },
    "/transmissions/feeds/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID do SKU gerado pelo ANYMARKET"
        }
      ],
      "put": {
        "summary": "/transmissions/feeds/{id}",
        "operationId": "put-transmissions-feeds-id",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          }
        },
        "description": "# Marca o feed como processado\nApós consulta do produto através do feed, é preciso marcá-lo como lido. Caso não seja marcado, o mesmo continuará a ser trazido na consulta.\n\n> O método `PUT` substitui completamente o recurso. \n>\n> Todos os campos obrigatórios devem ser enviados, mesmo que não tenham sido modificados.\n>\n> Campos omitidos podem ser redefinidos ou apagados.\n>\n> Use este método quando quiser sobrescrever todas as informações.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "format": "uuid",
                    "description": "Token recuperado na consulta do feed"
                  }
                },
                "required": [
                  "token"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "token": "string"
                  }
                }
              }
            }
          },
          "description": "Dados para atualização do feed"
        },
        "tags": [
          "Feed transmissão"
        ]
      }
    },
    "/transmissions/feeds/batch": {
      "parameters": [],
      "put": {
        "summary": "/transmissions/feeds/batch",
        "operationId": "put-transmissions-feeds-batch",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          }
        },
        "description": "# Marca vários feeds de transmissão como processados de uma vez\nApós consulta de diversas transmissões através do feed, é preciso marcá-los como lidos. Caso não sejam marcados, continuarão retornandos na consulta. Por este endpoint é possível fazer a confirmação de leitura em massa de vários pedidos.\n\n> O método `PUT` substitui completamente o recurso. \n>\n> Todos os campos obrigatórios devem ser enviados, mesmo que não tenham sido modificados.\n>\n> Campos omitidos podem ser redefinidos ou apagados.\n>\n> Use este método quando quiser sobrescrever todas as informações.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "id",
                    "token",
                    "type"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Id da notificação de transmissão",
                      "example": 188443520
                    },
                    "status": {
                      "type": "string",
                      "description": "Evento que originou a transmissão",
                      "example": "CREATED"
                    },
                    "token": {
                      "type": "string",
                      "description": "Token recuperado na consulta do feed",
                      "format": "uuid",
                      "example": "c74952c9-f181-4ea5-81d2-adeee74215c4"
                    },
                    "type": {
                      "type": "string",
                      "description": "Tipo da notificação",
                      "example": "TRANSMISSIONS"
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": [
                    {
                      "id": 188443520,
                      "status": "CREATE",
                      "token": "c74952c9-f181-4ea5-81d2-adeee74215c4",
                      "type": "TRANSMISSION"
                    },
                    {
                      "id": 188443520,
                      "status": "UPDATE",
                      "token": "c74952c9-f181-4ea5-81d2-adeee74215c4",
                      "type": "TRANSMISSION"
                    }
                  ]
                },
                "stoplight-Example 1": {
                  "value": [
                    {
                      "id": 188443520,
                      "status": "PAID_WAITING_SHIP",
                      "token": "c74952c9-f181-4ea5-81d2-adeee74215c4",
                      "type": "ORDER"
                    },
                    {
                      "id": 188443328,
                      "status": "PAID_WAITING_SHIP",
                      "token": "5238ba67-57b6-4097-9f75-14c3b2ae6a78",
                      "type": "ORDER"
                    }
                  ]
                }
              }
            }
          },
          "description": "Dados para atualização do feed de transmissão"
        },
        "parameters": [],
        "tags": [
          "Feed transmissão"
        ]
      }
    },
    "/transmissions-price/feeds": {
      "parameters": [],
      "get": {
        "summary": "/transmissions-price/feeds",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 10,
                  "items": {
                    "description": "",
                    "type": "object",
                    "title": "TransmissionsPriceFeed",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID da notificação gerado pelo ANYMARKET ",
                        "format": "int64",
                        "minimum": 0
                      },
                      "token": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Token do feed",
                        "format": "uuid"
                      }
                    },
                    "x-tags": [
                      "Feed"
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-transmissions-price-feeds",
        "description": "# Consulta as alterações de preço nas transmissões\nQuando uma alteração de preço de transmissão é realizada no ANYMARKET,  o mesmo é disponibilizado para consulta través desse feed e fica disponível por 30 dias (se foi lido, 30 dias a partir da data de leitura, se não foi lido, 30 dias a partir da data de edição.). \n\n\nO caso não informado um limit o resultado da consulta de feed retorna 100 itens disponíveis aleatóriamente\n\n<!-- theme: warning -->\n> #### Atenção!\n>\n> Só serão retornadas as operações configuradas pelo seller no painel do ANYMARKET.\n\nApós leitura dos itens dos FEED, é necessário realizar um PUT para confirmar a leitura.",
        "tags": [
          "Feed preço de transmissão"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 5,
              "default": 5,
              "example": 5,
              "maximum": 100
            },
            "description": "Número máximo de elementos"
          }
        ]
      }
    },
    "/transmissions-price/feeds/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID da notificação gerado pelo ANYMARKET"
        }
      ],
      "put": {
        "summary": "/transmissions-price/feeds/{id}",
        "operationId": "put-transmissions-price-feeds-id",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          }
        },
        "description": "# Marca o feed como processado\nApós consulta da atualização de preço nas transmissões através do feed, é preciso marcá-lo como lido. Caso não seja marcado, o mesmo continuará a ser trazido na consulta.\n\n> O método `PUT` substitui completamente o recurso. \n>\n> Todos os campos obrigatórios devem ser enviados, mesmo que não tenham sido modificados.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "format": "uuid",
                    "description": "Token recuperado na consulta do feed"
                  }
                },
                "required": [
                  "token"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "token": "string"
                  }
                }
              }
            }
          },
          "description": "Dados de identificação do feed que será marcado como lido"
        },
        "tags": [
          "Feed preço de transmissão"
        ]
      }
    },
    "/transmissions-price/feeds/batch": {
      "parameters": [],
      "put": {
        "summary": "/transmissions-price/feeds/batch",
        "operationId": "put-transmissions-price-feeds-batch",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          }
        },
        "description": "# Marca vários feeds de atualização de preço nas transmissões como processados em lote\nApós consulta de diversas atualização de preço nas transmissões através do feed, é preciso marcá-los como lidos. Caso não sejam marcados, continuarão retornandos na consulta. Por este endpoint é possível fazer a confirmação de leitura em massa de vários transmissões.\n\n> O método `PUT` substitui completamente o recurso. \n>\n> Todos os campos obrigatórios devem ser enviados, mesmo que não tenham sido modificados.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "id",
                    "token"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Id da notificação de transmissão",
                      "example": 188443520
                    },
                    "token": {
                      "type": "string",
                      "description": "Token recuperado na consulta do feed",
                      "format": "uuid",
                      "example": "c74952c9-f181-4ea5-81d2-adeee74215c4"
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": [
                    {
                      "id": 188443520,
                      "token": "c74952c9-f181-4ea5-81d2-adeee74215c4"
                    },
                    {
                      "id": 188443520,
                      "token": "c74952c9-f181-4ea5-81d2-adeee74215c4"
                    }
                  ]
                },
                "stoplight-Example 1": {
                  "value": [
                    {
                      "id": 188443520,
                      "token": "c74952c9-f181-4ea5-81d2-adeee74215c4"
                    },
                    {
                      "id": 188443328,
                      "token": "5238ba67-57b6-4097-9f75-14c3b2ae6a78"
                    }
                  ]
                }
              }
            }
          },
          "description": "Dados de identificação do feed que será marcado como lido"
        },
        "parameters": [],
        "tags": [
          "Feed preço de transmissão"
        ]
      }
    },
    "/skus/marketplaces": {
      "get": {
        "summary": "/skus/marketplaces",
        "tags": [
          "SKU Marketplace"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID do anúncio no ANYMARKET",
                        "format": "int64"
                      },
                      "accountName": {
                        "type": "string",
                        "description": "Identificador da conta no marketplace"
                      },
                      "idAccount": {
                        "type": "number",
                        "description": "ID da conta gerado automático pelo ANYMARKET"
                      },
                      "marketPlace": {
                        "type": "string",
                        "title": "Marketplaces",
                        "enum": [
                          "MERCADO_LIVRE",
                          "ALIEXPRESS",
                          "AMAZON_GLOBAL_API",
                          "ANGELONI",
                          "ARMAZEM_PARAIBA",
                          "B2W_NEW_API",
                          "BABYBIZ",
                          "BANCO_INTER",
                          "BANDSHOP",
                          "BELEZA_NA_WEB_NEW_API",
                          "BRAVIUM",
                          "C_A",
                          "CARREFOUR",
                          "CASA_VIDEO",
                          "CASSOL_CENTERLAR",
                          "CENTAURO_NEW_API",
                          "CLAROSHOP_MEXICO",
                          "COMFORTFLEX_NOVA_API",
                          "COMPRA_CERTA",
                          "COPPEL",
                          "CSM",
                          "DB1_MARKETPLACE",
                          "DECATHLON",
                          "DIGIGROW",
                          "EFACIL",
                          "ELEKTRA",
                          "EOS",
                          "EPOCA",
                          "ESTANTE_VIRTUAL",
                          "FALABELLA",
                          "FARMADELIVERY",
                          "FASTSHOP_NEW_API",
                          "FENICIO",
                          "FOODIES_STORE",
                          "GFG",
                          "GRUPO_MATEUS",
                          "HELP_SELLER",
                          "HITES",
                          "HOUSE_OF_GAMERS",
                          "ICBC_MALL",
                          "IGA",
                          "ITAU",
                          "JUMPSELLER",
                          "KABUM",
                          "KOERICH",
                          "LE_BISCUIT",
                          "LEROY_MERLIN",
                          "LIVESHOP",
                          "LL_LOYALTY",
                          "LOJA_DO_COOPERADO",
                          "LOJA_DO_MECANICO",
                          "LOJAS_COLOMBO",
                          "LOJAS_IMPERIO",
                          "LOJAS_LEBES_NEW_API",
                          "LOJAS_MM",
                          "LOJAS_QUERO_QUERO",
                          "MADEIRA_MADEIRA",
                          "MAGAZINE_LUIZA",
                          "MAGENTO",
                          "MAIS_CORREIOS",
                          "MARCA_SELETA",
                          "MARTINS_ATACADO",
                          "MEGATONE",
                          "MOBLY",
                          "MULTIVAREJO_GPA",
                          "NETSHOES",
                          "NEXTSHOP",
                          "NUVEMSHOP",
                          "OLIST_NEW_API",
                          "PAGUE_MENOS",
                          "PARIS",
                          "PHILIPS_STORE",
                          "PITSTOP",
                          "PNEUBEST",
                          "POLISHOP",
                          "POSTHAUS_NEW_API",
                          "PRESTASHOP",
                          "PRIVALIA",
                          "RAIA_DROGASIL",
                          "RAMARIM_NOVA_API",
                          "RENNER",
                          "RI_HAPPY_NEW_API",
                          "RIACHUELO",
                          "RIPLEY",
                          "SENFF_SHOPPING",
                          "SHEIN",
                          "SHOPEE",
                          "SHOPHUB",
                          "SHOPIFY",
                          "SHOPPING_BB",
                          "SHOPPING_LIVELO",
                          "SICOOB",
                          "SICREDI",
                          "STECK",
                          "SUBLIMITY",
                          "TA_TASHOP",
                          "TENDA_ATACADO",
                          "THE_HOME_DEPOT",
                          "TIENDA_CLIC",
                          "TIKTOK_SHOP",
                          "TRAY",
                          "TROCAFONE",
                          "VALE_BONUS",
                          "VENTURESHOP",
                          "VINKLO_BY_FESTALAB",
                          "VTEX",
                          "WALMART",
                          "WEB_CONTINENTAL_V2",
                          "WEHOUSE",
                          "WOOCOMMERCE",
                          "WOOCOMMERCE2",
                          "YA_PLACE_STORE",
                          "ZEMA",
                          "ZOOM"
                        ],
                        "description": "Identificador do MARKETPLACE",
                        "example": "ALIEXPRESS"
                      },
                      "idInMarketplace": {
                        "type": "string",
                        "description": "ID do anúncio no Marketplace",
                        "maxLength": 255
                      },
                      "index": {
                        "type": "integer",
                        "description": "Índice do anúncio por Marketplace",
                        "format": "int64"
                      },
                      "publicationStatus": {
                        "type": "string",
                        "description": "Status do anúncio no ANYMARKET",
                        "enum": [
                          "ACTIVE",
                          "CLOSED",
                          "CORRUPTED",
                          "PAUSED",
                          "UNPUBLISHED",
                          "WITHOUT_STOCK"
                        ]
                      },
                      "marketplaceStatus": {
                        "type": "string",
                        "description": "Status do anúncio no marketplace",
                        "maxLength": 255
                      },
                      "price": {
                        "type": "number",
                        "description": "Preço do anúncio",
                        "format": "double"
                      },
                      "priceFactor": {
                        "type": "number",
                        "description": "Markup da transmissão",
                        "format": "double"
                      },
                      "discountPrice": {
                        "type": "number",
                        "description": "Preço com desconto do anúncio",
                        "format": "double"
                      },
                      "permalink": {
                        "type": "string",
                        "description": "Link da publicação no marketplace"
                      },
                      "skuInMarketplace": {
                        "type": "string",
                        "description": "Identificador do SKU no marketplace"
                      },
                      "fields": {
                        "type": "object",
                        "description": "Informações especificas do anúncio por marketplace",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Titulo da publicação.",
                            "maxLength": 255
                          },
                          "template": {
                            "type": "integer",
                            "description": "ID do template fornecido pelo ANYMARKET"
                          },
                          "priceFactor": {
                            "type": "string",
                            "description": "Fator de mutiplicação (markup). Obrigatório para anúncios em que o cálculo de preço é automático.",
                            "format": "int64",
                            "example": "1.000000"
                          },
                          "DISCOUNT_TYPE": {
                            "description": "Tipo de desconto.",
                            "enum": [
                              "PERCENT",
                              "VALUE"
                            ]
                          },
                          "DISCOUNT_VALUE": {
                            "type": "string",
                            "description": "Valor de desconto.",
                            "format": "int64",
                            "example": "1.00"
                          },
                          "HAS_DISCOUNT": {
                            "description": "Possui desconto?",
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "CONCAT_ATTRIBUTES": {
                            "type": "string",
                            "description": "B2W",
                            "format": "int64"
                          },
                          "delivery_type": {
                            "type": "string",
                            "description": "B2W",
                            "format": "int64"
                          },
                          "SHIPMENT": {
                            "type": "string",
                            "description": "B2W",
                            "format": "int64"
                          },
                          "crossDocking": {
                            "type": "string",
                            "description": "B2W",
                            "format": "int64"
                          },
                          "CUSTOM_DESCRIPTION": {
                            "type": "string",
                            "description": "B2W",
                            "format": "int64"
                          },
                          "EAN": {
                            "type": "string",
                            "format": "int64",
                            "description": "EAN do SKU."
                          },
                          "MANUFACTURING_TIME": {
                            "type": "string",
                            "description": "CNOVA",
                            "format": "int64"
                          },
                          "VALUE": {
                            "type": "string",
                            "description": "WALMART,MERCADO LIVRE",
                            "format": "int64"
                          },
                          "PERCENT": {
                            "type": "string",
                            "description": "WALMART,MERCADO LIVRE",
                            "format": "int64"
                          },
                          "bronze_price": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "bronze_price_factor": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "buying_mode": {
                            "description": "MERCADO LIVRE",
                            "enum": [
                              "buy_it_now",
                              "auction"
                            ]
                          },
                          "category_with_variation": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "condition": {
                            "type": "string",
                            "format": "int64",
                            "description": "MERCADO LIVRE, AMAZON",
                            "example": "NEW"
                          },
                          "free_price": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "free_price_factor": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "free_shipping": {
                            "description": "MERCADO LIVRE",
                            "enum": [
                              false,
                              true
                            ]
                          },
                          "gold_premium_price": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "gold_premium_price_factor": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "gold_price": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "gold_price_factor": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "gold_pro_price": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "gold_pro_price_factor": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "gold_special_price": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "gold_special_price_factor": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "listing_type_id": {
                            "description": "MERCADO LIVRE",
                            "enum": [
                              "gold_special",
                              "gold_pro",
                              "bronze",
                              "silver",
                              "gold",
                              "free"
                            ]
                          },
                          "shipping_local_pick_up": {
                            "description": "MERCADO LIVRE",
                            "enum": [
                              false,
                              true
                            ]
                          },
                          "shipping_mode": {
                            "description": "MERCADO LIVRE, AMAZON",
                            "enum": [
                              "me1",
                              "me2",
                              "Id ANYMARKET da tabela de frete"
                            ]
                          },
                          "silver_price": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "silver_price_factor": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "measurement_chart_id": {
                            "type": "string",
                            "format": "int64",
                            "description": "Identificador ANYMARKET da tabela de medidas."
                          },
                          "warranty_time": {
                            "type": "string",
                            "example": "60",
                            "description": "Tempo de garantia."
                          },
                          "HAS_FULFILLMENT": {
                            "enum": [
                              false,
                              true
                            ],
                            "description": "Anúncio Fulfillment."
                          },
                          "official_store_id": {
                            "type": "string",
                            "description": "Código da loja oficial. (MERCADO LIVRE)"
                          },
                          "ml_channels": {
                            "enum": [
                              "marketplace",
                              "mshops"
                            ],
                            "description": "Canal de exibição. (MERCADO L)"
                          },
                          "is_main_sku": {
                            "enum": [
                              true,
                              false
                            ],
                            "description": "SKU Principal."
                          },
                          "is_match": {
                            "description": "Match a anúncio existente. (VIA)",
                            "enum": [
                              false,
                              true
                            ]
                          }
                        },
                        "example": {
                          "title": "string",
                          "template": -9223372036854776000,
                          "priceFactor": "string",
                          "DISCOUNT_TYPE": "string",
                          "DISCOUNT_VALUE": "string",
                          "HAS_DISCOUNT": "string",
                          "CONCAT_ATTRIBUTES": "string",
                          "delivery_type": "string",
                          "SHIPMENT": "string",
                          "crossDocking": "string",
                          "CUSTOM_DESCRIPTION": "string",
                          "EAN": "string",
                          "MANUFACTURING_TIME": "string",
                          "VALUE": "string",
                          "PERCENT": "string",
                          "bronze_price": "string",
                          "bronze_price_factor": "string",
                          "buying_mode": "string",
                          "category_with_variation": "string",
                          "condition": "string",
                          "free_price": "string",
                          "free_price_factor": "string",
                          "free_shipping": "string",
                          "gold_premium_price": "string",
                          "gold_premium_price_factor": "string",
                          "gold_price": "string",
                          "gold_price_factor": "string",
                          "gold_pro_price": "string",
                          "gold_pro_price_factor": "string",
                          "gold_special_price": "string",
                          "gold_special_price_factor": "string",
                          "listing_type_id": "string",
                          "shipping_local_pick_up": "string",
                          "shipping_mode": "string",
                          "silver_price": "string",
                          "silver_price_factor": "string",
                          "measurement_chart_id": "string"
                        }
                      },
                      "attributes": {
                        "type": "object",
                        "description": "Lista os vínculos de tipo de variação e valor da variação da publicação com os valores do marketplace. Podem ser texto ou números de acordo com cada marketplace.\n</br>\n{\n  \"63000\":\"71994\"\n}\n</br>\nExemplo do Mercado Livre onde para o tipo de variação (cor, tamanho, outros) e para os valores são utilizados valores numéricos.\n",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "marketplaceItemCode": {
                        "type": "string",
                        "description": "Código do anúncio no marketplace"
                      },
                      "warnings": {
                        "type": "array",
                        "description": "Lista de pendências do produto. Caso exista alguma pendência, o anúncio somente terá atualização de preço, estoque e status",
                        "items": {
                          "type": "string",
                          "description": "Descrição da pendência"
                        }
                      }
                    },
                    "required": [
                      "id",
                      "accountName",
                      "idAccount",
                      "marketPlace",
                      "index",
                      "publicationStatus",
                      "price",
                      "priceFactor",
                      "fields"
                    ],
                    "description": "",
                    "title": "",
                    "example": {
                      "id": 0,
                      "accountName": "string",
                      "idAccount": 0,
                      "marketPlace": "B2W",
                      "idInMarketplace": "string",
                      "index": 0,
                      "publicationStatus": "ACTIVE",
                      "marketplaceStatus": "string",
                      "price": 0,
                      "priceFactor": 0,
                      "discountPrice": 0,
                      "permalink": "string",
                      "skuInMarketplace": "string",
                      "fields": {
                        "title": "string",
                        "template": 0,
                        "priceFactor": "string",
                        "DISCOUNT_TYPE": "string",
                        "DISCOUNT_VALUE": "string",
                        "HAS_DISCOUNT": "string",
                        "CONCAT_ATTRIBUTES": "string",
                        "delivery_type": "string",
                        "SHIPMENT": "string",
                        "crossDocking": "string",
                        "CUSTOM_DESCRIPTION": "string",
                        "EAN": "string",
                        "MANUFACTURING_TIME": "string",
                        "VALUE": "string",
                        "PERCENT": "string",
                        "bronze_price": "string",
                        "bronze_price_factor": "string",
                        "buying_mode": "string",
                        "category_with_variation": "string",
                        "condition": "string",
                        "free_price": "string",
                        "free_price_factor": "string",
                        "free_shipping": "string",
                        "gold_premium_price": "string",
                        "gold_premium_price_factor": "string",
                        "gold_price": "string",
                        "gold_price_factor": "string",
                        "gold_pro_price": "string",
                        "gold_pro_price_factor": "string",
                        "gold_special_price": "string",
                        "gold_special_price_factor": "string",
                        "listing_type_id": "string",
                        "shipping_local_pick_up": "string",
                        "shipping_mode": "string",
                        "silver_price": "string",
                        "silver_price_factor": "string"
                      },
                      "attributes": {},
                      "marketplaceItemCode": "string",
                      "warnings": [
                        "string"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "partnerID obrigatório": {
                    "value": {
                      "code": "400",
                      "message": "O parâmetro 'partnerID' é obrigatório, consulte a documentação para maiores informações."
                    }
                  },
                  "Example 1": {
                    "value": {
                      "code": "400",
                      "message": "O parâmetro 'partnerID' é obrigatório, consulte a documentação para maiores informações."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "422 - Error",
                  "example": {
                    "code": "422",
                    "message": "O campo informado esta fora das especificações."
                  }
                }
              }
            }
          }
        },
        "operationId": "get-skus-marketplaces",
        "description": "# Consulta todos os anúncios de um SKU\nConsulta todos os anúncios de um SKU. Um SKU pode possuir varios anúncios criados nos Marketplaces",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Código SKU do parceiro",
            "name": "partnerID",
            "required": true
          }
        ]
      }
    },
    "/skus/{marketplace}/{skuInMarketplace}/stock/reservation": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "marketplace",
          "in": "path",
          "required": true,
          "description": "Identificador do marketplace"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "skuInMarketplace",
          "in": "path",
          "required": true,
          "description": "Identificador do sku no marketplace"
        }
      ],
      "get": {
        "summary": "/skus/{marketplace}/{skuInMarketplace}/stock/reservation",
        "tags": [
          "SKU Marketplace"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "": {
                      "type": "object",
                      "description": "",
                      "title": "StockReservationGet",
                      "properties": {
                        "reservedPending": {
                          "type": "integer",
                          "description": "Valor de reserva pendente",
                          "format": "double"
                        },
                        "reservedPaid": {
                          "type": "integer",
                          "description": "Valor de reserva pago",
                          "format": "double"
                        },
                        "reservedInvoiced": {
                          "type": "integer",
                          "format": "double",
                          "description": "Valor de reserva faturado"
                        }
                      },
                      "example": {
                        "reservedPending": 0,
                        "reservedPaid": 0,
                        "reservedInvoiced": 0
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-skus-marketplace-skuinmarketplace-stock-reservation",
        "description": "# Consulta reserva de estoque do marketplace de um SKU\nConsulta a reserva de estoque de um SKU através do seu identificador no marketplace.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "idAccount",
            "description": "Identificador da conta"
          }
        ],
        "x-internal": true,
        "x-stoplight": {
          "id": "zwpy7z0ob4ssm"
        }
      }
    },
    "/skus/{marketplace}/simple/all": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "marketplace",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "/skus/{marketplace}/simple/all",
        "tags": [
          "SKU Marketplace"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "rel",
                          "href"
                        ],
                        "properties": {
                          "rel": {
                            "type": "string",
                            "minLength": 1
                          },
                          "href": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "content": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "id",
                          "idInMarketplace",
                          "marketPlace",
                          "title",
                          "publicationStatus",
                          "transmissionStatus",
                          "errorMsg",
                          "price",
                          "priceFactor",
                          "discountPrice",
                          "skuInMarketplace",
                          "marketplaceItemCode",
                          "lastUpdateStatusDate",
                          "transmissionMessage"
                        ],
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "idInMarketplace": {
                            "type": "string",
                            "minLength": 1
                          },
                          "marketPlace": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "publicationStatus": {
                            "type": "string",
                            "minLength": 1
                          },
                          "transmissionStatus": {
                            "type": "string",
                            "minLength": 1
                          },
                          "errorMsg": {
                            "type": "string",
                            "minLength": 1
                          },
                          "price": {
                            "type": "number"
                          },
                          "priceFactor": {
                            "type": "number"
                          },
                          "discountPrice": {
                            "type": "number"
                          },
                          "skuInMarketplace": {
                            "type": "string",
                            "minLength": 1
                          },
                          "marketplaceItemCode": {
                            "type": "string",
                            "minLength": 1
                          },
                          "lastUpdateStatusDate": {
                            "type": "string",
                            "minLength": 1
                          },
                          "transmissionMessage": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "object",
                      "properties": {
                        "size": {
                          "type": "number"
                        },
                        "totalElements": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        },
                        "number": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "size",
                        "totalElements",
                        "totalPages",
                        "number"
                      ]
                    }
                  },
                  "required": [
                    "links",
                    "content",
                    "page"
                  ],
                  "x-examples": {
                    "example-1": {
                      "links": [
                        {
                          "rel": "next",
                          "href": "string"
                        }
                      ],
                      "content": [
                        {
                          "id": 0,
                          "idInMarketplace": "string",
                          "marketPlace": "B2W",
                          "title": "string",
                          "publicationStatus": "ACTIVE",
                          "transmissionStatus": "string",
                          "errorMsg": "string",
                          "price": 0,
                          "priceFactor": 0,
                          "discountPrice": 0,
                          "skuInMarketplace": "string",
                          "marketplaceItemCode": "string",
                          "lastUpdateStatusDate": "2022-03-03T14:06:02Z",
                          "transmissionMessage": "string"
                        }
                      ],
                      "page": {
                        "size": 0,
                        "totalElements": 0,
                        "totalPages": 0,
                        "number": 0
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "links": [
                        {
                          "rel": "next",
                          "href": "string"
                        }
                      ],
                      "content": [
                        {
                          "id": 0,
                          "idInMarketplace": "string",
                          "marketPlace": "B2W",
                          "title": "string",
                          "publicationStatus": "ACTIVE",
                          "transmissionStatus": "string",
                          "errorMsg": "string",
                          "price": 0,
                          "priceFactor": 0,
                          "discountPrice": 0,
                          "skuInMarketplace": "string",
                          "marketplaceItemCode": "string",
                          "lastUpdateStatusDate": "2022-03-03T14:06:02Z",
                          "transmissionMessage": "string"
                        }
                      ],
                      "page": {
                        "size": 0,
                        "totalElements": 0,
                        "totalPages": 0,
                        "number": 0
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-skus-marketplace-simple-all",
        "description": "# Consulta todos os anúncios de um SKU\nConsulta todos os anúncios de um SKU filtrando o Marketplace. Um SKU pode possuir varios anúncios criados nos Marketplaces\n\nLembrando que se o total de item ultrapassar 50 mil itens o totalizador apresentara um valor aproximado",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Publication status que será filtado",
            "name": "status"
          }
        ],
        "x-internal": true,
        "x-stoplight": {
          "id": "8cchpah6e5lwr"
        }
      }
    },
    "/skus/{skuId}/marketplaces": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "skuId",
          "in": "path",
          "required": true,
          "description": "ID do SKU"
        }
      ],
      "get": {
        "summary": "/skus/{skuId}/marketplaces",
        "tags": [
          "SKU Marketplace"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID do anúncio no ANYMARKET",
                        "format": "int64"
                      },
                      "accountName": {
                        "type": "string",
                        "description": "Identificador da conta no marketplace"
                      },
                      "idAccount": {
                        "type": "number",
                        "description": "ID da conta gerado automático pelo ANYMARKET"
                      },
                      "marketPlace": {
                        "type": "string",
                        "title": "Marketplaces",
                        "enum": [
                          "MERCADO_LIVRE",
                          "ALIEXPRESS",
                          "AMAZON_GLOBAL_API",
                          "ANGELONI",
                          "ARMAZEM_PARAIBA",
                          "B2W_NEW_API",
                          "BABYBIZ",
                          "BANCO_INTER",
                          "BANDSHOP",
                          "BELEZA_NA_WEB_NEW_API",
                          "BRAVIUM",
                          "C_A",
                          "CARREFOUR",
                          "CASA_VIDEO",
                          "CASSOL_CENTERLAR",
                          "CENTAURO_NEW_API",
                          "CLAROSHOP_MEXICO",
                          "COMFORTFLEX_NOVA_API",
                          "COMPRA_CERTA",
                          "COPPEL",
                          "CSM",
                          "DB1_MARKETPLACE",
                          "DECATHLON",
                          "DIGIGROW",
                          "EFACIL",
                          "ELEKTRA",
                          "EOS",
                          "EPOCA",
                          "ESTANTE_VIRTUAL",
                          "FALABELLA",
                          "FARMADELIVERY",
                          "FASTSHOP_NEW_API",
                          "FENICIO",
                          "FOODIES_STORE",
                          "GFG",
                          "GRUPO_MATEUS",
                          "HELP_SELLER",
                          "HITES",
                          "HOUSE_OF_GAMERS",
                          "ICBC_MALL",
                          "IGA",
                          "ITAU",
                          "JUMPSELLER",
                          "KABUM",
                          "KOERICH",
                          "LE_BISCUIT",
                          "LEROY_MERLIN",
                          "LIVESHOP",
                          "LL_LOYALTY",
                          "LOJA_DO_COOPERADO",
                          "LOJA_DO_MECANICO",
                          "LOJAS_COLOMBO",
                          "LOJAS_IMPERIO",
                          "LOJAS_LEBES_NEW_API",
                          "LOJAS_MM",
                          "LOJAS_QUERO_QUERO",
                          "MADEIRA_MADEIRA",
                          "MAGAZINE_LUIZA",
                          "MAGENTO",
                          "MAIS_CORREIOS",
                          "MARCA_SELETA",
                          "MARTINS_ATACADO",
                          "MEGATONE",
                          "MOBLY",
                          "MULTIVAREJO_GPA",
                          "NETSHOES",
                          "NEXTSHOP",
                          "NUVEMSHOP",
                          "OLIST_NEW_API",
                          "PAGUE_MENOS",
                          "PARIS",
                          "PHILIPS_STORE",
                          "PITSTOP",
                          "PNEUBEST",
                          "POLISHOP",
                          "POSTHAUS_NEW_API",
                          "PRESTASHOP",
                          "PRIVALIA",
                          "RAIA_DROGASIL",
                          "RAMARIM_NOVA_API",
                          "RENNER",
                          "RI_HAPPY_NEW_API",
                          "RIACHUELO",
                          "RIPLEY",
                          "SENFF_SHOPPING",
                          "SHEIN",
                          "SHOPEE",
                          "SHOPHUB",
                          "SHOPIFY",
                          "SHOPPING_BB",
                          "SHOPPING_LIVELO",
                          "SICOOB",
                          "SICREDI",
                          "STECK",
                          "SUBLIMITY",
                          "TA_TASHOP",
                          "TENDA_ATACADO",
                          "THE_HOME_DEPOT",
                          "TIENDA_CLIC",
                          "TIKTOK_SHOP",
                          "TRAY",
                          "TROCAFONE",
                          "VALE_BONUS",
                          "VENTURESHOP",
                          "VINKLO_BY_FESTALAB",
                          "VTEX",
                          "WALMART",
                          "WEB_CONTINENTAL_V2",
                          "WEHOUSE",
                          "WOOCOMMERCE",
                          "WOOCOMMERCE2",
                          "YA_PLACE_STORE",
                          "ZEMA",
                          "ZOOM"
                        ],
                        "description": "Identificador do MARKETPLACE",
                        "example": "ALIEXPRESS"
                      },
                      "idInMarketplace": {
                        "type": "string",
                        "description": "ID do anúncio no Marketplace",
                        "maxLength": 255
                      },
                      "index": {
                        "type": "integer",
                        "description": "Índice do anúncio por Marketplace",
                        "format": "int64"
                      },
                      "publicationStatus": {
                        "type": "string",
                        "description": "Status do anúncio no ANYMARKET",
                        "enum": [
                          "ACTIVE",
                          "CLOSED",
                          "CORRUPTED",
                          "PAUSED",
                          "UNPUBLISHED",
                          "WITHOUT_STOCK"
                        ]
                      },
                      "marketplaceStatus": {
                        "type": "string",
                        "description": "Status do anúncio no marketplace",
                        "maxLength": 255
                      },
                      "price": {
                        "type": "number",
                        "description": "Preço do anúncio",
                        "format": "double"
                      },
                      "priceFactor": {
                        "type": "number",
                        "description": "Markup da transmissão",
                        "format": "double"
                      },
                      "discountPrice": {
                        "type": "number",
                        "description": "Preço com desconto do anúncio",
                        "format": "double"
                      },
                      "permalink": {
                        "type": "string",
                        "description": "Link da publicação no marketplace"
                      },
                      "skuInMarketplace": {
                        "type": "string",
                        "description": "Identificador do SKU no marketplace"
                      },
                      "fields": {
                        "type": "object",
                        "description": "Informações especificas do anúncio por marketplace",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Titulo da publicação.",
                            "maxLength": 255
                          },
                          "template": {
                            "type": "integer",
                            "description": "ID do template fornecido pelo ANYMARKET"
                          },
                          "priceFactor": {
                            "type": "string",
                            "description": "Fator de mutiplicação (markup). Obrigatório para anúncios em que o cálculo de preço é automático.",
                            "format": "int64",
                            "example": "1.000000"
                          },
                          "DISCOUNT_TYPE": {
                            "description": "Tipo de desconto.",
                            "enum": [
                              "PERCENT",
                              "VALUE"
                            ]
                          },
                          "DISCOUNT_VALUE": {
                            "type": "string",
                            "description": "Valor de desconto.",
                            "format": "int64",
                            "example": "1.00"
                          },
                          "HAS_DISCOUNT": {
                            "description": "Possui desconto?",
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "CONCAT_ATTRIBUTES": {
                            "type": "string",
                            "description": "B2W",
                            "format": "int64"
                          },
                          "delivery_type": {
                            "type": "string",
                            "description": "B2W",
                            "format": "int64"
                          },
                          "SHIPMENT": {
                            "type": "string",
                            "description": "B2W",
                            "format": "int64"
                          },
                          "crossDocking": {
                            "type": "string",
                            "description": "B2W",
                            "format": "int64"
                          },
                          "CUSTOM_DESCRIPTION": {
                            "type": "string",
                            "description": "B2W",
                            "format": "int64"
                          },
                          "EAN": {
                            "type": "string",
                            "format": "int64",
                            "description": "EAN do SKU."
                          },
                          "MANUFACTURING_TIME": {
                            "type": "string",
                            "description": "CNOVA",
                            "format": "int64"
                          },
                          "VALUE": {
                            "type": "string",
                            "description": "WALMART,MERCADO LIVRE",
                            "format": "int64"
                          },
                          "PERCENT": {
                            "type": "string",
                            "description": "WALMART,MERCADO LIVRE",
                            "format": "int64"
                          },
                          "bronze_price": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "bronze_price_factor": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "buying_mode": {
                            "description": "MERCADO LIVRE",
                            "enum": [
                              "buy_it_now",
                              "auction"
                            ]
                          },
                          "category_with_variation": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "condition": {
                            "type": "string",
                            "format": "int64",
                            "description": "MERCADO LIVRE, AMAZON",
                            "example": "NEW"
                          },
                          "free_price": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "free_price_factor": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "free_shipping": {
                            "description": "MERCADO LIVRE",
                            "enum": [
                              false,
                              true
                            ]
                          },
                          "gold_premium_price": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "gold_premium_price_factor": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "gold_price": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "gold_price_factor": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "gold_pro_price": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "gold_pro_price_factor": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "gold_special_price": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "gold_special_price_factor": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "listing_type_id": {
                            "description": "MERCADO LIVRE",
                            "enum": [
                              "gold_special",
                              "gold_pro",
                              "bronze",
                              "silver",
                              "gold",
                              "free"
                            ]
                          },
                          "shipping_local_pick_up": {
                            "description": "MERCADO LIVRE",
                            "enum": [
                              false,
                              true
                            ]
                          },
                          "shipping_mode": {
                            "description": "MERCADO LIVRE, AMAZON",
                            "enum": [
                              "me1",
                              "me2",
                              "Id ANYMARKET da tabela de frete"
                            ]
                          },
                          "silver_price": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "silver_price_factor": {
                            "type": "string",
                            "description": "MERCADO LIVRE",
                            "format": "int64"
                          },
                          "measurement_chart_id": {
                            "type": "string",
                            "format": "int64",
                            "description": "Identificador ANYMARKET da tabela de medidas."
                          },
                          "warranty_time": {
                            "type": "string",
                            "example": "60",
                            "description": "Tempo de garantia."
                          },
                          "HAS_FULFILLMENT": {
                            "enum": [
                              false,
                              true
                            ],
                            "description": "Anúncio Fulfillment."
                          },
                          "official_store_id": {
                            "type": "string",
                            "description": "Código da loja oficial. (MERCADO LIVRE)"
                          },
                          "ml_channels": {
                            "enum": [
                              "marketplace",
                              "mshops"
                            ],
                            "description": "Canal de exibição. (MERCADO L)"
                          },
                          "is_main_sku": {
                            "enum": [
                              true,
                              false
                            ],
                            "description": "SKU Principal."
                          },
                          "is_match": {
                            "description": "Match a anúncio existente. (VIA)",
                            "enum": [
                              false,
                              true
                            ]
                          }
                        },
                        "example": {
                          "title": "string",
                          "template": -9223372036854776000,
                          "priceFactor": "string",
                          "DISCOUNT_TYPE": "string",
                          "DISCOUNT_VALUE": "string",
                          "HAS_DISCOUNT": "string",
                          "CONCAT_ATTRIBUTES": "string",
                          "delivery_type": "string",
                          "SHIPMENT": "string",
                          "crossDocking": "string",
                          "CUSTOM_DESCRIPTION": "string",
                          "EAN": "string",
                          "MANUFACTURING_TIME": "string",
                          "VALUE": "string",
                          "PERCENT": "string",
                          "bronze_price": "string",
                          "bronze_price_factor": "string",
                          "buying_mode": "string",
                          "category_with_variation": "string",
                          "condition": "string",
                          "free_price": "string",
                          "free_price_factor": "string",
                          "free_shipping": "string",
                          "gold_premium_price": "string",
                          "gold_premium_price_factor": "string",
                          "gold_price": "string",
                          "gold_price_factor": "string",
                          "gold_pro_price": "string",
                          "gold_pro_price_factor": "string",
                          "gold_special_price": "string",
                          "gold_special_price_factor": "string",
                          "listing_type_id": "string",
                          "shipping_local_pick_up": "string",
                          "shipping_mode": "string",
                          "silver_price": "string",
                          "silver_price_factor": "string",
                          "measurement_chart_id": "string"
                        }
                      },
                      "attributes": {
                        "type": "object",
                        "description": "Lista os vínculos de tipo de variação e valor da variação da publicação com os valores do marketplace. Podem ser texto ou números de acordo com cada marketplace.\n</br>\n{\n  \"63000\":\"71994\"\n}\n</br>\nExemplo do Mercado Livre onde para o tipo de variação (cor, tamanho, outros) e para os valores são utilizados valores numéricos.\n",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "marketplaceItemCode": {
                        "type": "string",
                        "description": "Código do anúncio no marketplace"
                      },
                      "warnings": {
                        "type": "array",
                        "description": "Lista de pendências do produto. Caso exista alguma pendência, o anúncio somente terá atualização de preço, estoque e status",
                        "items": {
                          "type": "string",
                          "description": "Descrição da pendência"
                        }
                      }
                    },
                    "required": [
                      "id",
                      "accountName",
                      "idAccount",
                      "marketPlace",
                      "index",
                      "publicationStatus",
                      "price",
                      "priceFactor",
                      "fields"
                    ],
                    "description": "",
                    "title": "",
                    "example": {
                      "id": 0,
                      "accountName": "string",
                      "idAccount": 0,
                      "marketPlace": "B2W",
                      "idInMarketplace": "string",
                      "index": 0,
                      "publicationStatus": "ACTIVE",
                      "marketplaceStatus": "string",
                      "price": 0,
                      "priceFactor": 0,
                      "discountPrice": 0,
                      "permalink": "string",
                      "skuInMarketplace": "string",
                      "fields": {
                        "title": "string",
                        "template": 0,
                        "priceFactor": "string",
                        "DISCOUNT_TYPE": "string",
                        "DISCOUNT_VALUE": "string",
                        "HAS_DISCOUNT": "string",
                        "CONCAT_ATTRIBUTES": "string",
                        "delivery_type": "string",
                        "SHIPMENT": "string",
                        "crossDocking": "string",
                        "CUSTOM_DESCRIPTION": "string",
                        "EAN": "string",
                        "MANUFACTURING_TIME": "string",
                        "VALUE": "string",
                        "PERCENT": "string",
                        "bronze_price": "string",
                        "bronze_price_factor": "string",
                        "buying_mode": "string",
                        "category_with_variation": "string",
                        "condition": "string",
                        "free_price": "string",
                        "free_price_factor": "string",
                        "free_shipping": "string",
                        "gold_premium_price": "string",
                        "gold_premium_price_factor": "string",
                        "gold_price": "string",
                        "gold_price_factor": "string",
                        "gold_pro_price": "string",
                        "gold_pro_price_factor": "string",
                        "gold_special_price": "string",
                        "gold_special_price_factor": "string",
                        "listing_type_id": "string",
                        "shipping_local_pick_up": "string",
                        "shipping_mode": "string",
                        "silver_price": "string",
                        "silver_price_factor": "string"
                      },
                      "attributes": {},
                      "marketplaceItemCode": "string",
                      "warnings": [
                        "string"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          }
        },
        "operationId": "get-skus-skuId-marketplaces",
        "description": "# Consulta todos os anúncios de um SKU\nConsulta todos os anúncios de um SKU. Um SKU pode possuir varios anúncios criados nos Marketplaces"
      },
      "post": {
        "summary": "/skus/{skuId}/marketplaces",
        "operationId": "post-skus-skuId-marketplaces",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID do anúncio no ANYMARKET",
                      "format": "int64"
                    },
                    "accountName": {
                      "type": "string",
                      "description": "Identificador da conta no marketplace"
                    },
                    "idAccount": {
                      "type": "number",
                      "description": "ID da conta gerado automático pelo ANYMARKET"
                    },
                    "marketPlace": {
                      "type": "string",
                      "title": "Marketplaces",
                      "enum": [
                        "MERCADO_LIVRE",
                        "ALIEXPRESS",
                        "AMAZON_GLOBAL_API",
                        "ANGELONI",
                        "ARMAZEM_PARAIBA",
                        "B2W_NEW_API",
                        "BABYBIZ",
                        "BANCO_INTER",
                        "BANDSHOP",
                        "BELEZA_NA_WEB_NEW_API",
                        "BRAVIUM",
                        "C_A",
                        "CARREFOUR",
                        "CASA_VIDEO",
                        "CASSOL_CENTERLAR",
                        "CENTAURO_NEW_API",
                        "CLAROSHOP_MEXICO",
                        "COMFORTFLEX_NOVA_API",
                        "COMPRA_CERTA",
                        "COPPEL",
                        "CSM",
                        "DB1_MARKETPLACE",
                        "DECATHLON",
                        "DIGIGROW",
                        "EFACIL",
                        "ELEKTRA",
                        "EOS",
                        "EPOCA",
                        "ESTANTE_VIRTUAL",
                        "FALABELLA",
                        "FARMADELIVERY",
                        "FASTSHOP_NEW_API",
                        "FENICIO",
                        "FOODIES_STORE",
                        "GFG",
                        "GRUPO_MATEUS",
                        "HELP_SELLER",
                        "HITES",
                        "HOUSE_OF_GAMERS",
                        "ICBC_MALL",
                        "IGA",
                        "ITAU",
                        "JUMPSELLER",
                        "KABUM",
                        "KOERICH",
                        "LE_BISCUIT",
                        "LEROY_MERLIN",
                        "LIVESHOP",
                        "LL_LOYALTY",
                        "LOJA_DO_COOPERADO",
                        "LOJA_DO_MECANICO",
                        "LOJAS_COLOMBO",
                        "LOJAS_IMPERIO",
                        "LOJAS_LEBES_NEW_API",
                        "LOJAS_MM",
                        "LOJAS_QUERO_QUERO",
                        "MADEIRA_MADEIRA",
                        "MAGAZINE_LUIZA",
                        "MAGENTO",
                        "MAIS_CORREIOS",
                        "MARCA_SELETA",
                        "MARTINS_ATACADO",
                        "MEGATONE",
                        "MOBLY",
                        "MULTIVAREJO_GPA",
                        "NETSHOES",
                        "NEXTSHOP",
                        "NUVEMSHOP",
                        "OLIST_NEW_API",
                        "PAGUE_MENOS",
                        "PARIS",
                        "PHILIPS_STORE",
                        "PITSTOP",
                        "PNEUBEST",
                        "POLISHOP",
                        "POSTHAUS_NEW_API",
                        "PRESTASHOP",
                        "PRIVALIA",
                        "RAIA_DROGASIL",
                        "RAMARIM_NOVA_API",
                        "RENNER",
                        "RI_HAPPY_NEW_API",
                        "RIACHUELO",
                        "RIPLEY",
                        "SENFF_SHOPPING",
                        "SHEIN",
                        "SHOPEE",
                        "SHOPHUB",
                        "SHOPIFY",
                        "SHOPPING_BB",
                        "SHOPPING_LIVELO",
                        "SICOOB",
                        "SICREDI",
                        "STECK",
                        "SUBLIMITY",
                        "TA_TASHOP",
                        "TENDA_ATACADO",
                        "THE_HOME_DEPOT",
                        "TIENDA_CLIC",
                        "TIKTOK_SHOP",
                        "TRAY",
                        "TROCAFONE",
                        "VALE_BONUS",
                        "VENTURESHOP",
                        "VINKLO_BY_FESTALAB",
                        "VTEX",
                        "WALMART",
                        "WEB_CONTINENTAL_V2",
                        "WEHOUSE",
                        "WOOCOMMERCE",
                        "WOOCOMMERCE2",
                        "YA_PLACE_STORE",
                        "ZEMA",
                        "ZOOM"
                      ],
                      "description": "Identificador do MARKETPLACE",
                      "example": "ALIEXPRESS"
                    },
                    "idInMarketplace": {
                      "type": "string",
                      "description": "ID do anúncio no Marketplace",
                      "maxLength": 255
                    },
                    "index": {
                      "type": "integer",
                      "description": "Índice do anúncio por Marketplace",
                      "format": "int64"
                    },
                    "publicationStatus": {
                      "type": "string",
                      "description": "Status do anúncio no ANYMARKET",
                      "enum": [
                        "ACTIVE",
                        "CLOSED",
                        "CORRUPTED",
                        "PAUSED",
                        "UNPUBLISHED",
                        "WITHOUT_STOCK"
                      ]
                    },
                    "marketplaceStatus": {
                      "type": "string",
                      "description": "Status do anúncio no marketplace",
                      "maxLength": 255
                    },
                    "price": {
                      "type": "number",
                      "description": "Preço do anúncio",
                      "format": "double"
                    },
                    "priceFactor": {
                      "type": "number",
                      "description": "Markup da transmissão",
                      "format": "double"
                    },
                    "discountPrice": {
                      "type": "number",
                      "description": "Preço com desconto do anúncio",
                      "format": "double"
                    },
                    "permalink": {
                      "type": "string",
                      "description": "Link da publicação no marketplace"
                    },
                    "skuInMarketplace": {
                      "type": "string",
                      "description": "Identificador do SKU no marketplace"
                    },
                    "fields": {
                      "type": "object",
                      "description": "Informações especificas do anúncio por marketplace",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "Titulo da publicação.",
                          "maxLength": 255
                        },
                        "template": {
                          "type": "integer",
                          "description": "ID do template fornecido pelo ANYMARKET"
                        },
                        "priceFactor": {
                          "type": "string",
                          "description": "Fator de mutiplicação (markup). Obrigatório para anúncios em que o cálculo de preço é automático.",
                          "format": "int64",
                          "example": "1.000000"
                        },
                        "DISCOUNT_TYPE": {
                          "description": "Tipo de desconto.",
                          "enum": [
                            "PERCENT",
                            "VALUE"
                          ]
                        },
                        "DISCOUNT_VALUE": {
                          "type": "string",
                          "description": "Valor de desconto.",
                          "format": "int64",
                          "example": "1.00"
                        },
                        "HAS_DISCOUNT": {
                          "description": "Possui desconto?",
                          "enum": [
                            true,
                            false
                          ]
                        },
                        "CONCAT_ATTRIBUTES": {
                          "type": "string",
                          "description": "B2W",
                          "format": "int64"
                        },
                        "delivery_type": {
                          "type": "string",
                          "description": "B2W",
                          "format": "int64"
                        },
                        "SHIPMENT": {
                          "type": "string",
                          "description": "B2W",
                          "format": "int64"
                        },
                        "crossDocking": {
                          "type": "string",
                          "description": "B2W",
                          "format": "int64"
                        },
                        "CUSTOM_DESCRIPTION": {
                          "type": "string",
                          "description": "B2W",
                          "format": "int64"
                        },
                        "EAN": {
                          "type": "string",
                          "format": "int64",
                          "description": "EAN do SKU."
                        },
                        "MANUFACTURING_TIME": {
                          "type": "string",
                          "description": "CNOVA",
                          "format": "int64"
                        },
                        "VALUE": {
                          "type": "string",
                          "description": "WALMART,MERCADO LIVRE",
                          "format": "int64"
                        },
                        "PERCENT": {
                          "type": "string",
                          "description": "WALMART,MERCADO LIVRE",
                          "format": "int64"
                        },
                        "bronze_price": {
                          "type": "string",
                          "description": "MERCADO LIVRE",
                          "format": "int64"
                        },
                        "bronze_price_factor": {
                          "type": "string",
                          "description": "MERCADO LIVRE",
                          "format": "int64"
                        },
                        "buying_mode": {
                          "description": "MERCADO LIVRE",
                          "enum": [
                            "buy_it_now",
                            "auction"
                          ]
                        },
                        "category_with_variation": {
                          "type": "string",
                          "description": "MERCADO LIVRE",
                          "format": "int64"
                        },
                        "condition": {
                          "type": "string",
                          "format": "int64",
                          "description": "MERCADO LIVRE, AMAZON",
                          "example": "NEW"
                        },
                        "free_price": {
                          "type": "string",
                          "description": "MERCADO LIVRE",
                          "format": "int64"
                        },
                        "free_price_factor": {
                          "type": "string",
                          "description": "MERCADO LIVRE",
                          "format": "int64"
                        },
                        "free_shipping": {
                          "description": "MERCADO LIVRE",
                          "enum": [
                            false,
                            true
                          ]
                        },
                        "gold_premium_price": {
                          "type": "string",
[...]
