{
  "openapi": "3.0.0",
  "info": {
    "title": "Anymarket - Catálogo",
    "version": "2.0",
    "description": "",
    "contact": {
      "name": "ANYMARKET Developers",
      "url": "https://suporte.anymarket.com.br/"
    },
    "x-logo": {
      "url": "https://anymarket.com.br/wp-content/uploads/2018/07/icon-anymarket-300x300.png"
    },
    "x-preferred": true,
    "x-providerName": "V2 API"
  },
  "servers": [
    {
      "url": "https://sandbox-api.anymarket.com.br/v2",
      "description": "Sandbox"
    },
    {
      "url": "https://api.anymarket.com.br/v2",
      "description": "Produção"
    }
  ],
  "tags": [
    {
      "name": "Categorias",
      "description": "Gerenciamento de categorias"
    },
    {
      "name": "Grupo de caracteristica",
      "description": "Gerenciamento de grupo de caracteristica"
    },
    {
      "name": "Imagem",
      "description": "Gerenciamento de imagens"
    },
    {
      "name": "Marcas",
      "description": "Gerenciamento de marcas"
    },
    {
      "name": "Produto",
      "description": "Gerenciamento de produtos"
    },
    {
      "name": "SKU",
      "description": "Gerenciamento de skus"
    },
    {
      "name": "Tipos de variação",
      "description": "Gerenciamento de tipos de variação"
    },
    {
      "name": "Valores de variação",
      "description": "Gerenciamento de valores de variação"
    }
  ],
  "paths": {
    "/brands": {
      "get": {
        "summary": "/brands",
        "operationId": "get-brands",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "description": "Referências de paginação",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rel": {
                            "type": "string",
                            "description": "Relacionamento do hyperlink",
                            "example": "next"
                          },
                          "href": {
                            "type": "string",
                            "description": "URL de definição do recurso",
                            "example": "https://.../v2/component?limit=5&offset=5"
                          }
                        }
                      }
                    },
                    "content": {
                      "type": "array",
                      "description": "Lista de marcas",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID da marca",
                            "minimum": 0
                          },
                          "name": {
                            "type": "string",
                            "description": "Nome da marca",
                            "minLength": 1,
                            "maxLength": 120
                          },
                          "reducedName": {
                            "type": "string",
                            "description": "Nome reduzido da marca",
                            "minLength": 0,
                            "maxLength": 30
                          },
                          "partnerId": {
                            "type": "string",
                            "description": "ID da marca no parceiro",
                            "minLength": 0,
                            "maxLength": 255
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "object",
                      "properties": {
                        "size": {
                          "type": "integer",
                          "maximum": 100
                        },
                        "totalElements": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "totalPages": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "number": {
                          "type": "integer",
                          "minimum": 0
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-2": {
                    "value": {
                      "links": [
                        {
                          "rel": "next",
                          "href": "https://.../v2/component?limit=5&offset=5"
                        }
                      ],
                      "content": [
                        {
                          "id": 0,
                          "name": "string",
                          "reducedName": "string",
                          "partnerId": "string"
                        }
                      ],
                      "page": {
                        "size": 5,
                        "totalElements": 0,
                        "totalPages": 1,
                        "number": 1
                      }
                    }
                  },
                  "example-1": {
                    "value": {
                      "links": [
                        {
                          "rel": "next",
                          "href": "https://.../v2/component?limit=5&offset=5"
                        }
                      ],
                      "content": [
                        {
                          "id": 123456,
                          "name": "Brastemp",
                          "reducedName": "brastemp",
                          "partnerId": "marca-001-brastemp"
                        }
                      ],
                      "page": {
                        "size": 5,
                        "totalElements": 0,
                        "totalPages": 1,
                        "number": 1
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "description": "# Consulta Marcas\nConsulta todas as marcas",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 5,
              "default": 5,
              "example": 5,
              "maximum": 100
            },
            "description": "Número máximo de elementos"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Atributo para ordenação"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Atributo para filtro por nome"
          },
          {
            "name": "partnerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Atributo para filtro por partnerId"
          }
        ],
        "tags": [
          "Marcas"
        ]
      },
      "post": {
        "summary": "/brands",
        "operationId": "post-brands",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID da marca",
                      "minimum": 0
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome da marca",
                      "minLength": 1,
                      "maxLength": 120
                    },
                    "reducedName": {
                      "type": "string",
                      "description": "Nome reduzido da marca",
                      "minLength": 0,
                      "maxLength": 30
                    },
                    "partnerId": {
                      "type": "string",
                      "description": "ID da marca no parceiro",
                      "minLength": 0,
                      "maxLength": 255
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": 0,
                      "name": "string",
                      "reducedName": "string",
                      "partnerId": "string"
                    }
                  },
                  "example-1": {
                    "value": {
                      "id": 1987032,
                      "name": "teste co po",
                      "reducedName": "testcop"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "422 - Error",
                  "example": {
                    "code": "422",
                    "message": "O campo informado esta fora das especificações."
                  }
                }
              }
            }
          }
        },
        "description": "# Cria Marca\nCria uma marca com os dados informados",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome da marca",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "reducedName": {
                    "type": "string",
                    "description": "Nome reduzido da marca",
                    "minLength": 0,
                    "maxLength": 30
                  },
                  "partnerId": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 255,
                    "description": "ID da marca no parceiro"
                  }
                },
                "required": [
                  "name"
                ],
                "title": "BrandAdd",
                "description": "Model brand add"
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Marcas"
        ]
      }
    },
    "/brands/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          },
          "name": "id",
          "in": "path",
          "description": "ID da marca gerado pelo ANYMARKET",
          "required": true
        }
      ],
      "get": {
        "summary": "/brands/{id}",
        "operationId": "get-brands-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID da marca",
                      "minimum": 0
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome da marca",
                      "minLength": 1,
                      "maxLength": 120
                    },
                    "reducedName": {
                      "type": "string",
                      "description": "Nome reduzido da marca",
                      "minLength": 0,
                      "maxLength": 30
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 0,
                      "name": "string",
                      "reducedName": "string"
                    }
                  },
                  "stoplight-example-1": {
                    "value": {
                      "id": 1987032,
                      "name": "teste co po",
                      "reducedName": "testcop"
                    }
                  }
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "422 - Error",
                  "example": {
                    "code": "422",
                    "message": "O campo informado esta fora das especificações."
                  }
                }
              }
            }
          }
        },
        "description": "# Consulta marca\nConsulta os detalhes de uma marca",
        "parameters": [],
        "tags": [
          "Marcas"
        ]
      },
      "delete": {
        "summary": "/brands/{id}",
        "operationId": "delete-brands-id",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)"
          }
        },
        "description": "# Exclui marca\nExclui uma marca",
        "tags": [
          "Marcas"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": ""
        }
      },
      "put": {
        "summary": "/brands/{id}",
        "operationId": "put-brands-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID da marca",
                      "minimum": 0
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome da marca",
                      "minLength": 1,
                      "maxLength": 255
                    },
                    "reducedName": {
                      "type": "string",
                      "description": "Nome reduzido da marca",
                      "minLength": 0,
                      "maxLength": 30
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 0,
                      "name": "string",
                      "reducedName": "string"
                    }
                  },
                  "stoplight-example-1": {
                    "value": {
                      "id": 0,
                      "name": "string",
                      "reducedName": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "422 - Error",
                  "example": {
                    "code": "422",
                    "message": "O campo informado esta fora das especificações."
                  }
                }
              }
            }
          }
        },
        "description": "# Altera marca\nAtualiza os dados de uma marca\n\n> O método `PUT` substitui completamente o recurso. \n>\n> Todos os campos obrigatórios devem ser enviados, mesmo que não tenham sido modificados.\n>\n> Campos omitidos podem ser redefinidos ou apagados.\n>\n> Use este método quando quiser sobrescrever todas as informações.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome da marca",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "reducedName": {
                    "type": "string",
                    "description": "Nome reduzido da marca",
                    "minLength": 0,
                    "maxLength": 30
                  },
                  "partnerId": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 255,
                    "description": "ID da marca no parceiro"
                  }
                },
                "required": [
                  "name"
                ],
                "title": "BrandAdd",
                "description": "Model brand add"
              }
            }
          }
        },
        "tags": [
          "Marcas"
        ]
      }
    },
    "/categories": {
      "parameters": [],
      "get": {
        "summary": "/categories",
        "operationId": "get-categories",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Page_Category",
                  "type": "object",
                  "required": [
                    "links",
                    "content",
                    "page"
                  ],
                  "properties": {
                    "links": {
                      "type": "array",
                      "description": "Referências de paginação",
                      "items": {
                        "title": "PageLinks",
                        "type": "object",
                        "properties": {
                          "rel": {
                            "type": "string",
                            "description": "Relacionamento do hyperlink",
                            "example": "next"
                          },
                          "href": {
                            "type": "string",
                            "description": "URL de definição do recurso",
                            "example": "https://.../v2/{rota}?limit=5&offset=5"
                          }
                        }
                      }
                    },
                    "content": {
                      "type": "array",
                      "description": "Lista de categorias",
                      "items": {
                        "title": "Category",
                        "description": "Model return category",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "description": "ID interno",
                            "minimum": 0
                          },
                          "name": {
                            "type": "string",
                            "description": "Nome da categoria",
                            "maxLength": 80
                          },
                          "path": {
                            "type": "string",
                            "description": "Diretório e subdiretórios da categoria",
                            "maxLength": 1000
                          },
                          "partnerId": {
                            "type": "string",
                            "description": "ID da categoria no parceiro",
                            "maxLength": 80
                          },
                          "priceFactor": {
                            "type": "number",
                            "format": "double",
                            "description": "Fator de preço",
                            "minimum": 0
                          },
                          "definitionPriceScope": {
                            "type": "string",
                            "description": "SKU (Manual, eu controlo o preço pelo SKU), SKU_MARKETPLACE (Manual, eu controlo o preço pelo anúncio) ou COST (Automático, pela mudança do custo)",
                            "enum": [
                              "SKU",
                              "SKU_MARKETPLACE",
                              "COST"
                            ]
                          }
                        },
                        "example": {
                          "id": 0,
                          "name": "string",
                          "path": "string",
                          "partnerId": "string",
                          "priceFactor": 0,
                          "definitionPriceScope": "SKU"
                        }
                      }
                    },
                    "page": {
                      "title": "PageMetadata",
                      "type": "object",
                      "properties": {
                        "size": {
                          "type": "integer",
                          "description": "Tamanho da página",
                          "format": "int64",
                          "readOnly": true
                        },
                        "totalElements": {
                          "type": "integer",
                          "description": "Total de elementos existentes",
                          "format": "int64",
                          "readOnly": true
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total de páginas disponíveis",
                          "format": "int64",
                          "readOnly": true
                        },
                        "number": {
                          "type": "integer",
                          "description": "Número da página atual",
                          "format": "int64",
                          "readOnly": true
                        }
                      }
                    }
                  },
                  "example": {
                    "links": [
                      {
                        "rel": "next",
                        "href": "https://.../v2/{rota}?limit=5&offset=5"
                      }
                    ],
                    "content": [
                      {
                        "id": 0,
                        "name": "string",
                        "path": "string",
                        "partnerId": "string",
                        "priceFactor": 0,
                        "definitionPriceScope": "SKU"
                      }
                    ],
                    "page": {
                      "size": 0,
                      "totalElements": 0,
                      "totalPages": 0,
                      "number": 0
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "links": [
                        {
                          "rel": "next",
                          "href": "https://.../v2/{rota}?limit=5&offset=5"
                        }
                      ],
                      "content": [
                        {
                          "id": 0,
                          "name": "string",
                          "path": "string",
                          "partnerId": "string",
                          "priceFactor": 0,
                          "definitionPriceScope": "SKU"
                        }
                      ],
                      "page": {
                        "size": 5,
                        "totalElements": 0,
                        "totalPages": 0,
                        "number": 1
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "description": "# Consulta Categorias \nConsulta todas as categorias que estão no primeiro nível na hierarquia,\npor exemplo:\n\n\n- Eletrônicos\n  - Acessórios\n  - Smart TV\n- Esporte e Lazer\n  - Fitness\n  - Futebol\n- Eletroportáteis\n  - Cafeteiras\n  - Liquidificadores\n\nNesse caso as categorias que serão recuperadas serão Eletrônicos,\nEsporte e Lazer e Eletroportáteis",
        "tags": [
          "Categorias"
        ]
      },
      "post": {
        "summary": "/categories",
        "operationId": "post-categories",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Category",
                  "description": "Model return category",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "ID interno",
                      "minimum": 0
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome da categoria",
                      "maxLength": 80
                    },
                    "path": {
                      "type": "string",
                      "description": "Diretório e subdiretórios da categoria",
                      "maxLength": 1000
                    },
                    "partnerId": {
                      "type": "string",
                      "description": "ID da categoria no parceiro",
                      "maxLength": 80
                    },
                    "priceFactor": {
                      "type": "number",
                      "format": "double",
                      "description": "Fator de preço",
                      "minimum": 0
                    },
                    "definitionPriceScope": {
                      "type": "string",
                      "description": "SKU (Manual, eu controlo o preço pelo SKU), SKU_MARKETPLACE (Manual, eu controlo o preço pelo anúncio) ou COST (Automático, pela mudança do custo)",
                      "enum": [
                        "SKU",
                        "SKU_MARKETPLACE",
                        "COST"
                      ]
                    }
                  },
                  "example": {
                    "id": 0,
                    "name": "string",
                    "path": "string",
                    "partnerId": "string",
                    "priceFactor": 0,
                    "definitionPriceScope": "SKU"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "422 - Error",
                  "example": {
                    "code": "422",
                    "message": "O campo informado esta fora das especificações."
                  }
                }
              }
            }
          }
        },
        "description": "# Cria Categoria\nCria uma categoria com os dados informados",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0,
                    "description": "ID interno"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome da categoria",
                    "maxLength": 80
                  },
                  "partnerId": {
                    "type": "string",
                    "description": "ID da categoria no parceiro",
                    "maxLength": 80
                  },
                  "priceFactor": {
                    "type": "number",
                    "format": "double",
                    "description": "Fator de preço",
                    "minimum": 0
                  },
                  "definitionPriceScope": {
                    "type": "string",
                    "description": "SKU (Manual, eu controlo o preço pelo SKU), SKU_MARKETPLACE (Manual, eu controlo o preço pelo anúncio) ou COST (Automático, pela mudança do custo)",
                    "enum": [
                      "SKU",
                      "SKU_MARKETPLACE",
                      "COST"
                    ]
                  },
                  "parent": {
                    "type": "object",
                    "description": "Categoria Pai (Utilizado na criação de Subcategorias)",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 0,
                        "description": "ID da categoria gerado pelo ANYMARKET"
                      }
                    }
                  }
                },
                "required": [
                  "name"
                ],
                "title": "Category",
                "description": "Modelo de criação/atualização de categoria"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "name": "string",
                    "partnerId": "string",
                    "priceFactor": 0,
                    "definitionPriceScope": "SKU",
                    "parent": {
                      "id": 0
                    }
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Categorias"
        ]
      }
    },
    "/categories/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID da categoria gerada pelo ANYMARKET"
        }
      ],
      "get": {
        "summary": "/categories/{id}",
        "operationId": "get-categories-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID interno"
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome da categoria"
                    },
                    "path": {
                      "type": "string",
                      "description": "Diretório e subdiretórios da categoria"
                    },
                    "parent": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "ID da categoria \"PAI\""
                        },
                        "partnerId": {
                          "type": "string",
                          "description": "ID da categoria \"PAI\" no parceiro"
                        }
                      }
                    },
                    "partnerId": {
                      "type": "string",
                      "description": "ID da categoria no parceiro"
                    },
                    "priceFactor": {
                      "type": "integer",
                      "description": "Fator de preço"
                    },
                    "children": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID da categoria \"FILHA\""
                          },
                          "name": {
                            "type": "string",
                            "description": "Nome da categoria \"FILHA\""
                          },
                          "path": {
                            "type": "string",
                            "description": "Diretório e subdiretórios da categoria"
                          },
                          "partnerId": {
                            "type": "string",
                            "description": "ID da categoria \"FILHA\" no parceiro"
                          },
                          "priceFactor": {
                            "type": "integer",
                            "description": "Fator de preço"
                          },
                          "definitionPriceScope": {
                            "type": "string",
                            "description": "SKU (Manual, eu controlo o preço pelo SKU), SKU_MARKETPLACE (Manual, eu controlo o preço pelo anúncio) ou COST (Automático, pela mudança do custo)"
                          }
                        }
                      }
                    },
                    "definitionPriceScope": {
                      "type": "string",
                      "description": "SKU (Manual, eu controlo o preço pelo SKU), SKU_MARKETPLACE (Manual, eu controlo o preço pelo anúncio) ou COST (Automático, pela mudança do custo)"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 0,
                      "name": "string",
                      "path": "string",
                      "parent": {
                        "id": 0,
                        "partnerId": "string"
                      },
                      "partnerId": "string",
                      "priceFactor": 0,
                      "children": [
                        {
                          "id": 0,
                          "name": "string",
                          "path": "string",
                          "partnerId": "string",
                          "priceFactor": 0,
                          "definitionPriceScope": "SKU"
                        }
                      ],
                      "definitionPriceScope": "SKU"
                    }
                  },
                  "stoplight-example-1": {
                    "value": {
                      "id": 1794222,
                      "name": "Testetetetet1",
                      "path": "Testetetetet/Testetetetet1",
                      "parent": {
                        "id": 1794218,
                        "partnerId": "757878"
                      },
                      "partnerId": "7547878",
                      "priceFactor": 1,
                      "children": [
                        {
                          "id": 1794224,
                          "name": "Testetetetet10",
                          "path": "Testetetetet/Testetetetet1/Testetetetet10",
                          "partnerId": "75478678",
                          "priceFactor": 1,
                          "definitionPriceScope": "SKU"
                        }
                      ],
                      "definitionPriceScope": "SKU"
                    }
                  }
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          }
        },
        "description": "# Consulta Categoria\nRecupera os dados da categoria informada e as categorias filhas, caso existam",
        "parameters": [],
        "tags": [
          "Categorias"
        ]
      },
      "put": {
        "summary": "/categories/{id}",
        "operationId": "put-categories-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID da categoria gerado pelo ANYMARKET",
                      "format": "int64",
                      "minimum": 0
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Nome da categoria"
                    },
                    "path": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Caminho da categoria"
                    },
                    "partnerId": {
                      "type": "string",
                      "minLength": 1,
                      "description": "ID da categoria no parceiro "
                    },
                    "priceFactor": {
                      "type": "number",
                      "format": "double",
                      "description": "Fator de preço "
                    },
                    "children": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0,
                          "description": "ID interno"
                        },
                        "name": {
                          "type": "string",
                          "description": "Nome da categoria",
                          "maxLength": 80
                        },
                        "path": {
                          "type": "string",
                          "description": "Nome da categoria",
                          "maxLength": 1000
                        },
                        "partnerId": {
                          "type": "string",
                          "description": "ID da categoria no parceiro",
                          "maxLength": 80
                        },
                        "priceFactor": {
                          "type": "number",
                          "format": "double",
                          "description": "Fator de preço",
                          "minimum": 0
                        },
                        "definitionPriceScope": {
                          "type": "string",
                          "description": "SKU (Manual, eu controlo o preço pelo SKU), SKU_MARKETPLACE (Manual, eu controlo o preço pelo anúncio) ou COST (Automático, pela mudança do custo)\nCaso não informado o ANYMARKET adotará o cálculo como 'COST'.",
                          "enum": [
                            "SKU",
                            "SKU_MARKETPLACE",
                            "COST"
                          ]
                        },
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int64",
                              "description": "ID da categoria gerado pelo ANYMARKET ",
                              "minimum": 0
                            },
                            "parnerId": {
                              "type": "string",
                              "description": "Id da categoria no parceiro"
                            }
                          }
                        },
                        "children": {
                          "type": "object",
                          "description": "Referência recursiva a CategoryChildren (truncada; ver a spec fonte)"
                        }
                      },
                      "title": "Category",
                      "description": "Model return brand"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "422 - Error",
                  "example": {
                    "code": "422",
                    "message": "O campo informado esta fora das especificações."
                  }
                }
              }
            }
          }
        },
        "description": "# Altera Categoria\nAtualiza os dados de uma categoria\n\n> O método `PUT` substitui completamente o recurso. \n>\n> Todos os campos obrigatórios devem ser enviados, mesmo que não tenham sido modificados.\n>\n> Campos omitidos podem ser redefinidos ou apagados.\n>\n> Use este método quando quiser sobrescrever todas as informações.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0,
                    "description": "ID interno"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome da categoria",
                    "maxLength": 80
                  },
                  "partnerId": {
                    "type": "string",
                    "description": "ID da categoria no parceiro",
                    "maxLength": 80
                  },
                  "priceFactor": {
                    "type": "number",
                    "format": "double",
                    "description": "Fator de preço",
                    "minimum": 0
                  },
                  "definitionPriceScope": {
                    "type": "string",
                    "description": "SKU (Manual, eu controlo o preço pelo SKU), SKU_MARKETPLACE (Manual, eu controlo o preço pelo anúncio) ou COST (Automático, pela mudança do custo)",
                    "enum": [
                      "SKU",
                      "SKU_MARKETPLACE",
                      "COST"
                    ]
                  },
                  "parent": {
                    "type": "object",
                    "description": "Categoria Pai (Utilizado na criação de Subcategorias)",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 0,
                        "description": "ID da categoria gerado pelo ANYMARKET"
                      }
                    }
                  }
                },
                "required": [
                  "name"
                ],
                "title": "Category",
                "description": "Modelo de criação/atualização de categoria"
              }
            }
          }
        },
        "tags": [
          "Categorias"
        ]
      },
      "delete": {
        "summary": "/categories/{id}",
        "operationId": "delete-categories-id",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          }
        },
        "description": "# Exclui Categoria \nExclui uma categoria",
        "tags": [
          "Categorias"
        ]
      }
    },
    "/categories/fullPath": {
      "parameters": [],
      "get": {
        "summary": "/categories/fullPath",
        "operationId": "get-categories-fullPath",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID da categoria gerado pelo ANYMARKET"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome da categoria"
                      },
                      "path": {
                        "type": "string",
                        "description": "Caminho da categoria"
                      },
                      "partnerId": {
                        "type": "string",
                        "description": "partnerId"
                      },
                      "priceFactor": {
                        "type": "integer",
                        "description": "Fator de preço"
                      },
                      "totalProducts": {
                        "type": "integer",
                        "description": "Total de produtos contidos na categoria"
                      },
                      "children": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "ID interno"
                            },
                            "name": {
                              "type": "string",
                              "description": "Nome da categoria \"FILHA\""
                            },
                            "path": {
                              "type": "string",
                              "description": "Caminho da categoria"
                            },
                            "parent": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "description": "ID interno"
                                },
                                "partnerId": {
                                  "type": "string",
                                  "description": "ID da categoria no parceiro"
                                }
                              }
                            },
                            "partnerId": {
                              "type": "string",
                              "description": "ID da categoria no parceiro"
                            },
                            "priceFactor": {
                              "type": "integer",
                              "description": "priceFactor"
                            },
                            "totalProducts": {
                              "type": "integer",
                              "description": "Total de produtos contidos na categoria"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "id": 0,
                        "name": "string",
                        "path": "string",
                        "partnerId": "string",
                        "priceFactor": 0,
                        "totalProducts": 0,
                        "children": {
                          "id": 0,
                          "name": "string",
                          "path": "string",
                          "partnerId": "string",
                          "priceFactor": 0,
                          "totalProducts": 1,
                          "definitionPriceScope": "SKU",
                          "parent": {
                            "id": 0,
                            "parnerId": "string"
                          },
                          "children": {}
                        }
                      }
                    ]
                  },
                  "stoplight-example-1": {
                    "value": [
                      {
                        "id": 1771102,
                        "name": "Brinquedos",
                        "path": "Brinquedos",
                        "partnerId": "87",
                        "priceFactor": 1,
                        "totalProducts": 0,
                        "children": [
                          {
                            "id": 1771137,
                            "name": "Brinquedos para Bebês",
                            "path": "Brinquedos/Brinquedos para Bebês",
                            "parent": {
                              "id": 1771102,
                              "partnerId": "87"
                            },
                            "partnerId": "371",
                            "priceFactor": 1,
                            "totalProducts": 2
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "description": "# Consulta Categorias com hierarquias\nConsulta todas as categorias e todos os níveis de hierarquia, por exemplo:\n\n- Eletrônicos\n  - Acessórios\n    - Cabos e Conectores\n      - Cabo coaxial\n        - Smart TV\n- Esporte e Lazer\n  - Fitness\n    - Masculino\n      - Bermudas\n        - Futebol\n    - Feminino\n      - Regata\n        Futebol\n- Eletroportáteis\n  - Cafeteiras\n  - Liquidificadores\n\nSerão listadas todas as categorias e cada um dos sub-níveis respectivamente até o final da hierarquia\n",
        "parameters": [],
        "tags": [
          "Categorias"
        ]
      }
    },
    "/products/{productId}/images": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "productId",
          "in": "path",
          "required": true,
          "description": "ID do produto gerado pelo ANYMARKET"
        }
      ],
      "get": {
        "summary": "/products/{productId}/images",
        "tags": [
          "Imagem"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID da imagem gerado pelo ANYMARKET ",
                        "format": "int64",
                        "minimum": 0
                      },
                      "index": {
                        "type": "integer",
                        "description": "Índice da imagem, ou seja, posição da imagem no cadastro no produto; inicia-se em 1 e limita-se a quantidade de imagens no produto",
                        "format": "int32",
                        "minimum": 0
                      },
                      "main": {
                        "type": "boolean",
                        "description": "Determina se a imagem é principal",
                        "default": false
                      },
                      "url": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL original da imagem ",
                        "format": "uri"
                      },
                      "thumbnailUrl": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL da imagem miniatura",
                        "format": "uri"
                      },
                      "lowResolutionUrl": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL da imagem de baixa resolução",
                        "format": "uri"
                      },
                      "standardUrl": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL padrão da imagem",
                        "format": "uri"
                      },
                      "originalImage": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL da imagem original com suas dimensões originais ",
                        "format": "uri"
                      },
                      "variation": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Indica a qual variaçao a imagem pertence ",
                        "example": "Azul"
                      },
                      "status": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Determina qual é o status da imagem",
                        "enum": [
                          "UNPROCESSED",
                          "PROCESSED",
                          "ERROR"
                        ]
                      },
                      "statusMessage": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Preenchida quando ocorre algum erro no processamento da imagem "
                      },
                      "standardWidth": {
                        "type": "integer",
                        "description": "Dimensão padrão de largura da imagem ",
                        "format": "int32"
                      },
                      "standardHeight": {
                        "type": "integer",
                        "description": "Dimensão padrão de altura da imagem",
                        "format": "int32"
                      },
                      "originalWidth": {
                        "type": "integer",
                        "description": "Dimensão original de largura da imagem",
                        "format": "int32"
                      },
                      "originalHeight": {
                        "type": "integer",
                        "description": "Dimensão original de altura da imagem",
                        "format": "int32"
                      }
                    },
                    "required": [
                      "main",
                      "url"
                    ]
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "id": 0,
                        "index": 0,
                        "main": true,
                        "url": "http://example.com",
                        "thumbnailUrl": "http://example.com",
                        "lowResolutionUrl": "http://example.com",
                        "standardUrl": "http://example.com",
                        "originalImage": "http://example.com",
                        "variation": "string",
                        "status": "UNPROCESSED",
                        "statusMessage": "string",
                        "standardWidth": -2147483648,
                        "standardHeight": -2147483648,
                        "originalWidth": -2147483648,
                        "originalHeight": -2147483648
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          }
        },
        "operationId": "get-products-productId-images",
        "description": "# Consulta todas as imagens de um produto\nConsulta todas as imagens de um produto"
      },
      "post": {
        "summary": "/products/{productId}/images",
        "operationId": "post-products-productId-images",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID da imagem gerado pelo ANYMARKET"
                    },
                    "index": {
                      "type": "integer",
                      "description": "Índice da imagem, ou seja, posição da imagem no cadastro no produto; inicia-se em 1 e limita-se a quantidade de imagens no produto"
                    },
                    "main": {
                      "type": "boolean",
                      "description": "Determina se a imagem é principal"
                    },
                    "url": {
                      "type": "string",
                      "description": "URL original da imagem"
                    },
                    "variation": {
                      "type": "string",
                      "description": "Valor de Variação da Imagem"
                    },
                    "status": {
                      "type": "string",
                      "description": "Determina qual é o status da imagem",
                      "enum": [
                        "UNPROCESSED",
                        "PROCESSED",
                        "ERROR"
                      ]
                    },
                    "standardWidth": {
                      "type": "integer",
                      "description": "Dimensão padrão de largura da imagem"
                    },
                    "standardHeight": {
                      "type": "integer",
                      "description": "Dimensão padrão de altura da imagem"
                    },
                    "originalWidth": {
                      "type": "integer",
                      "description": "Dimensão original de largura da imagem"
                    },
                    "originalHeight": {
                      "type": "integer",
                      "description": "Dimensão original de altura da imagem"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 0,
                      "index": 0,
                      "main": true,
                      "url": "string",
                      "variation": "string",
                      "status": "UNPROCESSED",
                      "standardWidth": 0,
                      "standardHeight": 0,
                      "originalWidth": 0,
                      "originalHeight": 0
                    }
                  },
                  "stoplight-example-1": {
                    "value": {
                      "id": 2523770137,
                      "index": 2,
                      "main": true,
                      "url": "https://static.netshoes.com.br/produtos/bola-de-futebol-campo-nike-mercurial-fade/58/HZM-1897-058/HZM-1897-058_zoom3.jpg?ts=1564483160&ims=544x",
                      "variation": "Azul",
                      "status": "UNPROCESSED",
                      "standardWidth": 0,
                      "standardHeight": 0,
                      "originalWidth": 0,
                      "originalHeight": 0
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "example-1": {
                    "value": {}
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "422 - Error",
                  "example": {
                    "code": "422",
                    "message": "O campo informado esta fora das especificações."
                  }
                }
              }
            }
          }
        },
        "description": "# Cria uma imagem com os dados informados\nCria uma imagem com os dados informados. Caso informado um índice para a imagem o ANYMARKET manterá o índice, mantendo sempre o índice dentro da quantidade de imagens informadas para o produto. Caso não informado será atribuido em sequência iniciando-se em 1. Caso informado a imagem como main o ANYMARKET irá validar se não há outra imagem marcada como main.\n\n## Parâmetro `useCase`\nDefine a classificação/tipo de uso da imagem no produto. Valores possíveis:\n\n| Código | Descrição |\n| --- | --- |\n| `PRODUCT_IMAGE` | Produto |\n| `SIZE_CHART_IMAGE` | Tabela de Medida |\n| `CERTIFICATION_IMAGE` | Rótulo do Produto |\n\nCampo opcional; se omitido, a imagem não recebe uma classificação de uso.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "index": {
                    "type": "integer",
                    "description": "Índice da imagem, ou seja, posição da imagem no cadastro no produto; inicia-se em 1 e limita-se a quantidade de imagens no produto",
                    "format": "int32",
                    "minimum": 0
                  },
                  "main": {
                    "type": "boolean",
                    "description": "Determina se a imagem é principal"
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "URL original da imagem"
                  },
                  "variation": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Indica a qual variaçao a imagem pertence "
                  },
                  "useCase": {
                    "type": "string",
                    "description": "Define a classificação/tipo de uso da imagem no produto. Valores possíveis: `PRODUCT_IMAGE` (Produto), `SIZE_CHART_IMAGE` (Tabela de Medida), `CERTIFICATION_IMAGE` (Rótulo do Produto). Campo opcional; se omitido, a imagem não recebe uma classificação de uso.",
                    "enum": [
                      "PRODUCT_IMAGE",
                      "SIZE_CHART_IMAGE",
                      "CERTIFICATION_IMAGE"
                    ]
                  }
                },
                "required": [
                  "url"
                ],
                "example": {
                  "index": 0,
                  "main": true,
                  "url": "string",
                  "variation": "string",
                  "useCase": "SIZE_CHART_IMAGE"
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "index": 0,
                    "main": true,
                    "url": "string",
                    "variation": "string",
                    "useCase": "SIZE_CHART_IMAGE"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Imagem"
        ]
      },
      "put": {
        "summary": "/products/{productId}/images",
        "operationId": "put-products-productId-images",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "422 - Error",
                  "example": {
                    "code": "422",
                    "message": "O campo informado esta fora das especificações."
                  }
                }
              }
            }
          }
        },
        "description": "# Edita o index e/ou main da imagem informada\nCaso o índice informado for maior que a quantidade de imagens do produto a operação será ignorada. Caso o índice informado seja o mesmo de outra imagem então os índices serão trocados. Caso a imagem seja alterada para main e já exista uma primeira imagem com a mesma marcação a primeira imagem deixará de ser a main.\n\n> O método `PUT` substitui completamente o recurso. \n>\n> Todos os campos obrigatórios devem ser enviados, mesmo que não tenham sido modificados.\n>\n> Campos omitidos podem ser redefinidos ou apagados.\n>\n> Use este método quando quiser sobrescrever todas as informações.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "ID da imagem vínculada no produto no ANYMARKET"
                  },
                  "index": {
                    "type": "integer",
                    "description": "Índice da imagem, ou seja, posição da imagem que será atualizada no cadastro do produto; inicia-se em 1 e limita-se a quantidade de imagens no produto"
                  },
                  "main": {
                    "type": "boolean",
                    "description": "Determina se a imagem é principal "
                  }
                },
                "required": [
                  "id",
                  "index"
                ],
                "example": {
                  "id": 0,
                  "index": 0,
                  "main": true
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": 0,
                    "index": 0,
                    "main": true
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Imagem"
        ]
      }
    },
    "/products/{productId}/images/{imageId}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "productId",
          "in": "path",
          "required": true,
          "description": "ID do produto gerado pelo ANYMARKET"
        },
        {
          "schema": {
            "type": "integer"
          },
          "name": "imageId",
          "in": "path",
          "required": true,
          "description": "ID da imagem gerado pelo ANYMARKET"
        }
      ],
      "get": {
        "summary": "/products/{productId}/images/{imageId}",
        "tags": [
          "Imagem"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID da imagem gerado pelo ANYMARKET ",
                        "format": "int64",
                        "minimum": 0
                      },
                      "index": {
                        "type": "integer",
                        "description": "Índice da imagem, ou seja, posição da imagem no cadastro no produto; inicia-se em 1 e limita-se a quantidade de imagens no produto",
                        "format": "int32",
                        "minimum": 0
                      },
                      "main": {
                        "type": "boolean",
                        "description": "Determina se a imagem é principal",
                        "default": false
                      },
                      "url": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL original da imagem ",
                        "format": "uri"
                      },
                      "thumbnailUrl": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL da imagem miniatura",
                        "format": "uri"
                      },
                      "lowResolutionUrl": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL da imagem de baixa resolução",
                        "format": "uri"
                      },
                      "standardUrl": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL padrão da imagem",
                        "format": "uri"
                      },
                      "originalImage": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL da imagem original com suas dimensões originais ",
                        "format": "uri"
                      },
                      "variation": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Indica a qual variaçao a imagem pertence ",
                        "example": "Azul"
                      },
                      "status": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Determina qual é o status da imagem",
                        "enum": [
                          "UNPROCESSED",
                          "PROCESSED",
                          "ERROR"
                        ]
                      },
                      "statusMessage": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Preenchida quando ocorre algum erro no processamento da imagem "
                      },
                      "standardWidth": {
                        "type": "integer",
                        "description": "Dimensão padrão de largura da imagem ",
                        "format": "int32"
                      },
                      "standardHeight": {
                        "type": "integer",
                        "description": "Dimensão padrão de altura da imagem",
                        "format": "int32"
                      },
                      "originalWidth": {
                        "type": "integer",
                        "description": "Dimensão original de largura da imagem",
                        "format": "int32"
                      },
                      "originalHeight": {
                        "type": "integer",
                        "description": "Dimensão original de altura da imagem",
                        "format": "int32"
                      }
                    },
                    "required": [
                      "main",
                      "url"
                    ]
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "id": 0,
                        "index": 0,
                        "main": true,
                        "url": "http://example.com",
                        "thumbnailUrl": "http://example.com",
                        "lowResolutionUrl": "http://example.com",
                        "standardUrl": "http://example.com",
                        "originalImage": "http://example.com",
                        "variation": "string",
                        "status": "UNPROCESSED",
                        "statusMessage": "string",
                        "standardWidth": -2147483648,
                        "standardHeight": -2147483648,
                        "originalWidth": -2147483648,
                        "originalHeight": -2147483648
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          }
        },
        "operationId": "get-products-productId-images-imageId",
        "description": "# Consulta os detalhes de uma imagem\nConsulta os detalhes de uma imagem"
      },
      "delete": {
        "summary": "/products/{productId}/images/{imageId}",
        "operationId": "delete-products-productId-images-imageId",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "404 - Not Found",
                  "example": {
                    "code": "404",
                    "message": "Recurso com o id 'xxx' não encontrado."
                  }
                }
              }
            }
          }
        },
        "description": "# Exclui a imagem informada\nExclui a imagem informada",
        "tags": [
          "Imagem"
        ]
      }
    },
    "/products/{productId}/images/reorder": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "productId",
          "in": "path",
          "required": true,
          "description": "ID do produto no ANYMARKET"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "x-module-origin",
          "in": "header",
          "required": false,
          "description": "Origem do módulo que realizou a chamada"
        }
      ],
      "put": {
        "summary": "/products/{productId}/images/reorder",
        "tags": [
          "Imagem"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Lista de imagens do produto no estado pós-reorder",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "ID da imagem gerado pelo ANYMARKET ",
                        "format": "int64",
                        "minimum": 0
                      },
                      "index": {
                        "type": "integer",
                        "description": "Índice da imagem, ou seja, posição da imagem no cadastro no produto; inicia-se em 1 e limita-se a quantidade de imagens no produto",
                        "format": "int32",
                        "minimum": 0
                      },
                      "main": {
                        "type": "boolean",
                        "description": "Determina se a imagem é principal",
                        "default": false
                      },
                      "url": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL original da imagem ",
                        "format": "uri"
                      },
                      "thumbnailUrl": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL da imagem miniatura",
                        "format": "uri"
                      },
                      "lowResolutionUrl": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL da imagem de baixa resolução",
                        "format": "uri"
                      },
                      "standardUrl": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL padrão da imagem",
                        "format": "uri"
                      },
                      "originalImage": {
                        "type": "string",
                        "minLength": 1,
                        "description": "URL da imagem original com suas dimensões originais ",
                        "format": "uri"
                      },
                      "variation": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Indica a qual variaçao a imagem pertence ",
                        "example": "Azul"
                      },
                      "status": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Determina qual é o status da imagem",
                        "enum": [
                          "UNPROCESSED",
                          "PROCESSED",
                          "ERROR"
                        ]
                      },
                      "statusMessage": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Preenchida quando ocorre algum erro no processamento da imagem "
                      },
                      "standardWidth": {
                        "type": "integer",
                        "description": "Dimensão padrão de largura da imagem ",
                        "format": "int32"
                      },
                      "standardHeight": {
                        "type": "integer",
                        "description": "Dimensão padrão de altura da imagem",
                        "format": "int32"
                      },
                      "originalWidth": {
                        "type": "integer",
                        "description": "Dimensão original de largura da imagem",
                        "format": "int32"
                      },
                      "originalHeight": {
                        "type": "integer",
                        "description": "Dimensão original de altura da imagem",
                        "format": "int32"
                      }
                    },
                    "required": [
                      "main",
                      "url"
                    ]
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "id": 470739,
                        "index": 1
                      },
                      {
                        "id": 470738,
                        "index": 2
                      },
                      {
                        "id": 470736,
                        "index": 3
                      },
                      {
                        "id": 470735,
                        "index": 4
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "title": "400 - Bad Request",
                  "example": {
                    "code": "400",
                    "message": "Não foi possível finalizar a chamada."
                  }
                }
              }
            }
          }
        },
        "operationId": "put-products-images-reorder",
        "description": "# Reordena imagens\nReordena todas as imagens de um produto de forma atômica, respeitando a mesma quantidade já cadastrada.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "Lista de grupos de imagens a reordenar, um grupo por variação",
                "items": {
                  "type": "object",
                  "properties": {
                    "variation": {
                      "type": "string",
                      "description": "Descrição da variação à qual o grupo de imagens pertence. Quando omitido, o grupo se refere às imagens sem variação. Deve bater exatamente (case-sensitive) com a variação existente no produto"
                    },
                    "images": {
                      "type": "array",
                      "description": "Imagens do grupo e sua nova posição",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID da imagem",
                            "minimum": 0
                          },
                          "index": {
                            "type": "integer",
                            "description": "Posição da imagem dentro do grupo (1..N, relativo ao grupo)",
                            "minimum": 1
                          }
                        },
                        "required": [
                          "id",
                          "index"
                        ]
                      }
                    }
                  },
                  "required": [
                    "images"
                  ]
                }
              },
              "examples": {
                "example-1": {
                  "value": [
                    {
                      "variation": "branco",
                      "images": [
                        {
                          "id": 470739,
                          "index": 1
                        },
                        {
                          "id": 470738,
                          "index": 2
                        }
                      ]
                    },
                    {
                      "images": [
                        {
                          "id": 470736,
                          "index": 1
                        },
                        {
                          "id": 470735,
                          "index": 2
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "description": ""
        },
        "security": [
          {
            "gumgaToken": []
          }
        ]
      }
    },
    "/products": {
      "get": {
        "summary": "/products",
        "tags": [
          "Produto"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "description": "Referências de paginação",
                      "uniqueItems": false,
                      "minItems": 1,
                      "maxItems": 1,
                      "items": {
                        "title": "PageLinks",
                        "type": "object",
                        "properties": {
                          "rel": {
                            "type": "string",
                            "description": "Relacionamento do hyperlink",
                            "example": "next"
                          },
                          "href": {
                            "type": "string",
                            "description": "URL de definição do recurso",
                            "example": "https://.../v2/{rota}?limit=5&offset=5"
                          }
                        }
                      }
                    },
                    "content": {
                      "type": "array",
                      "description": "Lista de marcas",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "ID do produto gerado pelo ANYMARKET",
                            "format": "int64"
                          },
                          "title": {
                            "type": "string",
                            "description": "Título do produto",
                            "maxLength": 150
                          },
                          "description": {
                            "type": "string",
                            "description": "Descrição do produto",
                            "maxLength": 10000
                          },
                          "externalIdProduct": {
                            "type": "string",
                            "description": "ID externo do produto ",
                            "maxLength": 10000
                          },
                          "category": {
                            "description": "Categoria do produto. Posteriormente o cliente realizará o vinculo da categoria enviada com a categoria de cada marketplace",
                            "type": "object",
                            "required": [
                              "id",
                              "name",
                              "path"
                            ],
                            "properties": {
                              "id": {
                                "type": "number",
                                "description": "ID da categoria gerado pelo ANYMARKET"
                              },
                              "name": {
                                "type": "string",
                                "description": "Nome da Categoria"
                              },
                              "path": {
                                "type": "string",
                                "description": "Árvore de categorias até a categoria atual"
                              }
                            }
                          },
                          "brand": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "description": "ID da marca"
                              },
                              "name": {
                                "type": "string",
                                "description": "Nome da marca",
                                "minLength": 1,
                                "maxLength": 120
                              },
                              "reducedName": {
                                "type": "string",
                                "description": "Nome reduzido da marca",
                                "minLength": 0,
                                "maxLength": 30
                              },
                              "partnerId": {
                                "type": "string",
                                "minLength": 0,
                                "maxLength": 255,
                                "description": "ID da marca no parceiro"
                              }
                            },
                            "required": [
                              "name"
                            ],
                            "title": "Brand",
                            "description": "Marca"
                          },
                          "nbm": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "ID do NBM"
[...]
