{
  "openapi": "3.0.3",
  "info": {
    "title": "Calendly - Tipos de Evento e Disponibilidade",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.calendly.com",
      "description": "Production Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Event Types",
      "description": "Endpoints for listing, retrieving, and managing event types that define the kinds of meetings users can schedule."
    },
    {
      "name": "Availability",
      "description": "Endpoints for viewing available times for event types and managing user availability schedules."
    },
    {
      "name": "Shares",
      "description": "Endpoints for creating and managing shareable scheduling links."
    }
  ],
  "paths": {
    "/event_types": {
      "get": {
        "operationId": "listEventTypes",
        "summary": "List event types",
        "description": "Returns a paginated list of event types for the specified user or organization. Event types define the kinds of meetings that can be scheduled, including their duration, location, and availability.",
        "tags": [
          "Event Types"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "The URI of the user whose event types to list. Required if organization is not specified.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "organization",
            "in": "query",
            "description": "The URI of the organization whose event types to list. Required if user is not specified.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filter by active status. When true, only active event types are returned.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for results. Use name:asc or name:desc.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of results to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "A token for fetching the next page of results from a previous paginated response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of event types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "An event type defines a kind of meeting that can be scheduled, including its duration, location, and availability configuration.",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "format": "uri",
                            "description": "The canonical URI of the event type resource."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the event type."
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether the event type is currently active and available for scheduling."
                          },
                          "booking_method": {
                            "type": "string",
                            "enum": [
                              "instant",
                              "poll"
                            ],
                            "description": "The booking method for the event type."
                          },
                          "slug": {
                            "type": "string",
                            "description": "The URL-friendly slug for the event type."
                          },
                          "scheduling_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "The URL of the event types scheduling page."
                          },
                          "duration": {
                            "type": "integer",
                            "description": "The default duration of the event in minutes.",
                            "minimum": 1
                          },
                          "kind": {
                            "type": "string",
                            "enum": [
                              "solo",
                              "group"
                            ],
                            "description": "Whether the event type is for solo or group meetings."
                          },
                          "pooling_type": {
                            "type": "string",
                            "enum": [
                              "round_robin",
                              "collective"
                            ],
                            "description": "For team event types, the pooling strategy for host assignment."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "StandardEventType",
                              "AdhocEventType"
                            ],
                            "description": "The type classification of the event type."
                          },
                          "color": {
                            "type": "string",
                            "description": "The hex color code associated with the event type."
                          },
                          "description_plain": {
                            "type": "string",
                            "description": "The plain text description of the event type."
                          },
                          "description_html": {
                            "type": "string",
                            "description": "The HTML-formatted description of the event type."
                          },
                          "internal_note": {
                            "type": "string",
                            "description": "An internal note visible only to the event host."
                          },
                          "profile": {
                            "type": "object",
                            "description": "The profile associated with the event type.",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "The profile type (User or Team)."
                              },
                              "name": {
                                "type": "string",
                                "description": "The profile name."
                              },
                              "owner": {
                                "type": "string",
                                "format": "uri",
                                "description": "The URI of the profile owner."
                              }
                            }
                          },
                          "secret": {
                            "type": "boolean",
                            "description": "Whether the event type is hidden from the scheduling page."
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the event type was deleted, if applicable."
                          },
                          "custom_questions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "description": "A custom question displayed on the event type booking page.",
                              "properties": {
                                "uuid": {
                                  "type": "string",
                                  "description": "The UUID of the custom question."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The text of the question."
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "string",
                                    "text",
                                    "phone_number",
                                    "single_select",
                                    "multi_select"
                                  ],
                                  "description": "The type of input expected for the answer."
                                },
                                "position": {
                                  "type": "integer",
                                  "description": "The display order of the question."
                                },
                                "enabled": {
                                  "type": "boolean",
                                  "description": "Whether the question is currently enabled."
                                },
                                "required": {
                                  "type": "boolean",
                                  "description": "Whether an answer is required."
                                },
                                "answer_choices": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The available answer choices for select-type questions."
                                },
                                "include_other": {
                                  "type": "boolean",
                                  "description": "Whether an Other option is included in select-type questions."
                                }
                              }
                            },
                            "description": "Custom questions displayed on the booking page."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the event type was created."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the event type was last updated."
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Pagination information for paginated list responses.",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "The number of results in the current page."
                        },
                        "next_page": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL of the next page of results, if available."
                        },
                        "previous_page": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL of the previous page of results, if available."
                        },
                        "next_page_token": {
                          "type": "string",
                          "description": "The token to fetch the next page of results."
                        },
                        "previous_page_token": {
                          "type": "string",
                          "description": "The token to fetch the previous page of results."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. Verify that a valid access token is provided in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/event_types/{uuid}": {
      "get": {
        "operationId": "getEventType",
        "summary": "Get event type",
        "description": "Returns detailed information about a specific event type by its UUID, including its name, duration, scheduling URL, and configuration.",
        "tags": [
          "Event Types"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "The UUID of the event type.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the event type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resource": {
                      "type": "object",
                      "description": "An event type defines a kind of meeting that can be scheduled, including its duration, location, and availability configuration.",
                      "properties": {
                        "uri": {
                          "type": "string",
                          "format": "uri",
                          "description": "The canonical URI of the event type resource."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the event type."
                        },
                        "active": {
                          "type": "boolean",
                          "description": "Whether the event type is currently active and available for scheduling."
                        },
                        "booking_method": {
                          "type": "string",
                          "enum": [
                            "instant",
                            "poll"
                          ],
                          "description": "The booking method for the event type."
                        },
                        "slug": {
                          "type": "string",
                          "description": "The URL-friendly slug for the event type."
                        },
                        "scheduling_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL of the event types scheduling page."
                        },
                        "duration": {
                          "type": "integer",
                          "description": "The default duration of the event in minutes.",
                          "minimum": 1
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "solo",
                            "group"
                          ],
                          "description": "Whether the event type is for solo or group meetings."
                        },
                        "pooling_type": {
                          "type": "string",
                          "enum": [
                            "round_robin",
                            "collective"
                          ],
                          "description": "For team event types, the pooling strategy for host assignment."
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "StandardEventType",
                            "AdhocEventType"
                          ],
                          "description": "The type classification of the event type."
                        },
                        "color": {
                          "type": "string",
                          "description": "The hex color code associated with the event type."
                        },
                        "description_plain": {
                          "type": "string",
                          "description": "The plain text description of the event type."
                        },
                        "description_html": {
                          "type": "string",
                          "description": "The HTML-formatted description of the event type."
                        },
                        "internal_note": {
                          "type": "string",
                          "description": "An internal note visible only to the event host."
                        },
                        "profile": {
                          "type": "object",
                          "description": "The profile associated with the event type.",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The profile type (User or Team)."
                            },
                            "name": {
                              "type": "string",
                              "description": "The profile name."
                            },
                            "owner": {
                              "type": "string",
                              "format": "uri",
                              "description": "The URI of the profile owner."
                            }
                          }
                        },
                        "secret": {
                          "type": "boolean",
                          "description": "Whether the event type is hidden from the scheduling page."
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the event type was deleted, if applicable."
                        },
                        "custom_questions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "A custom question displayed on the event type booking page.",
                            "properties": {
                              "uuid": {
                                "type": "string",
                                "description": "The UUID of the custom question."
                              },
                              "name": {
                                "type": "string",
                                "description": "The text of the question."
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "string",
                                  "text",
                                  "phone_number",
                                  "single_select",
                                  "multi_select"
                                ],
                                "description": "The type of input expected for the answer."
                              },
                              "position": {
                                "type": "integer",
                                "description": "The display order of the question."
                              },
                              "enabled": {
                                "type": "boolean",
                                "description": "Whether the question is currently enabled."
                              },
                              "required": {
                                "type": "boolean",
                                "description": "Whether an answer is required."
                              },
                              "answer_choices": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The available answer choices for select-type questions."
                              },
                              "include_other": {
                                "type": "boolean",
                                "description": "Whether an Other option is included in select-type questions."
                              }
                            }
                          },
                          "description": "Custom questions displayed on the booking page."
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the event type was created."
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the event type was last updated."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. Verify that a valid access token is provided in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found. Verify the UUID or URI is correct.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/one_off_event_types": {
      "post": {
        "operationId": "createOneOffEventType",
        "summary": "Create one-off event type",
        "description": "Creates a single-use event type that can be used for a one-time scheduling session. One-off event types are not listed on the users scheduling page.",
        "tags": [
          "Event Types"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "host",
                  "duration",
                  "date_setting"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the one-off event type."
                  },
                  "host": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URI of the user who will host the event."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "The duration of the event in minutes.",
                    "minimum": 1
                  },
                  "date_setting": {
                    "type": "object",
                    "description": "Date range settings for the one-off event type.",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "date_range"
                        ]
                      },
                      "start_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  },
                  "location": {
                    "type": "object",
                    "description": "The location configuration for the event."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created the one-off event type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resource": {
                      "type": "object",
                      "description": "An event type defines a kind of meeting that can be scheduled, including its duration, location, and availability configuration.",
                      "properties": {
                        "uri": {
                          "type": "string",
                          "format": "uri",
                          "description": "The canonical URI of the event type resource."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the event type."
                        },
                        "active": {
                          "type": "boolean",
                          "description": "Whether the event type is currently active and available for scheduling."
                        },
                        "booking_method": {
                          "type": "string",
                          "enum": [
                            "instant",
                            "poll"
                          ],
                          "description": "The booking method for the event type."
                        },
                        "slug": {
                          "type": "string",
                          "description": "The URL-friendly slug for the event type."
                        },
                        "scheduling_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL of the event types scheduling page."
                        },
                        "duration": {
                          "type": "integer",
                          "description": "The default duration of the event in minutes.",
                          "minimum": 1
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "solo",
                            "group"
                          ],
                          "description": "Whether the event type is for solo or group meetings."
                        },
                        "pooling_type": {
                          "type": "string",
                          "enum": [
                            "round_robin",
                            "collective"
                          ],
                          "description": "For team event types, the pooling strategy for host assignment."
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "StandardEventType",
                            "AdhocEventType"
                          ],
                          "description": "The type classification of the event type."
                        },
                        "color": {
                          "type": "string",
                          "description": "The hex color code associated with the event type."
                        },
                        "description_plain": {
                          "type": "string",
                          "description": "The plain text description of the event type."
                        },
                        "description_html": {
                          "type": "string",
                          "description": "The HTML-formatted description of the event type."
                        },
                        "internal_note": {
                          "type": "string",
                          "description": "An internal note visible only to the event host."
                        },
                        "profile": {
                          "type": "object",
                          "description": "The profile associated with the event type.",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The profile type (User or Team)."
                            },
                            "name": {
                              "type": "string",
                              "description": "The profile name."
                            },
                            "owner": {
                              "type": "string",
                              "format": "uri",
                              "description": "The URI of the profile owner."
                            }
                          }
                        },
                        "secret": {
                          "type": "boolean",
                          "description": "Whether the event type is hidden from the scheduling page."
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the event type was deleted, if applicable."
                        },
                        "custom_questions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "A custom question displayed on the event type booking page.",
                            "properties": {
                              "uuid": {
                                "type": "string",
                                "description": "The UUID of the custom question."
                              },
                              "name": {
                                "type": "string",
                                "description": "The text of the question."
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "string",
                                  "text",
                                  "phone_number",
                                  "single_select",
                                  "multi_select"
                                ],
                                "description": "The type of input expected for the answer."
                              },
                              "position": {
                                "type": "integer",
                                "description": "The display order of the question."
                              },
                              "enabled": {
                                "type": "boolean",
                                "description": "Whether the question is currently enabled."
                              },
                              "required": {
                                "type": "boolean",
                                "description": "Whether an answer is required."
                              },
                              "answer_choices": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The available answer choices for select-type questions."
                              },
                              "include_other": {
                                "type": "boolean",
                                "description": "Whether an Other option is included in select-type questions."
                              }
                            }
                          },
                          "description": "Custom questions displayed on the booking page."
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the event type was created."
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the event type was last updated."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed. Check the request body and parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. Verify that a valid access token is provided in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/event_type_available_times": {
      "get": {
        "operationId": "listEventTypeAvailableTimes",
        "summary": "List event type available times",
        "description": "Returns a list of available time slots for a specific event type within a given date range. This endpoint is used to display bookable times to potential invitees.",
        "tags": [
          "Availability"
        ],
        "parameters": [
          {
            "name": "event_type",
            "in": "query",
            "required": true,
            "description": "The URI of the event type to check availability for.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "description": "The start of the time range to check, in UTC format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "description": "The end of the time range to check, in UTC format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved available times",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "An available time slot for an event type that can be booked by an invitee.",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "available"
                            ],
                            "description": "The status of the time slot."
                          },
                          "invitees_remaining": {
                            "type": "integer",
                            "description": "The number of remaining spots for group events."
                          },
                          "start_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The start time of the available slot in UTC."
                          },
                          "scheduling_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "The URL to schedule at this specific time."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed. Check the request body and parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. Verify that a valid access token is provided in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user_busy_times": {
      "get": {
        "operationId": "listUserBusyTimes",
        "summary": "List user busy times",
        "description": "Returns a list of time periods during which a user is busy, based on their connected calendars. Useful for checking a users availability before scheduling.",
        "tags": [
          "Availability"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "description": "The URI of the user whose busy times to retrieve.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "description": "The start of the time range to check, in UTC format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "description": "The end of the time range to check, in UTC format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved busy times",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "A time period during which a user is busy based on their connected calendars.",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of busy time (e.g., calendly or external)."
                          },
                          "start_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The start of the busy period in UTC."
                          },
                          "end_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The end of the busy period in UTC."
                          },
                          "buffered_start_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The start time including buffer periods."
                          },
                          "buffered_end_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The end time including buffer periods."
                          },
                          "event": {
                            "type": "object",
                            "description": "Details about the event causing the busy time.",
                            "properties": {
                              "uri": {
                                "type": "string",
                                "format": "uri",
                                "description": "The URI of the event."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed. Check the request body and parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. Verify that a valid access token is provided in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user_availability_schedules": {
      "get": {
        "operationId": "listUserAvailabilitySchedules",
        "summary": "List user availability schedules",
        "description": "Returns a list of availability schedules for a specific user. Availability schedules define the recurring time windows when a user is available for meetings.",
        "tags": [
          "Availability"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": true,
            "description": "The URI of the user whose availability schedules to retrieve.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved availability schedules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "An availability schedule defining recurring time windows when a user is available for meetings.",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "format": "uri",
                            "description": "The canonical URI of the availability schedule resource."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the availability schedule."
                          },
                          "default": {
                            "type": "boolean",
                            "description": "Whether this is the users default availability schedule."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "The IANA timezone for the schedule."
                          },
                          "rules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "wday",
                                    "date"
                                  ],
                                  "description": "The type of rule (recurring weekday or specific date)."
                                },
                                "wday": {
                                  "type": "string",
                                  "enum": [
                                    "sunday",
                                    "monday",
                                    "tuesday",
                                    "wednesday",
                                    "thursday",
                                    "friday",
                                    "saturday"
                                  ],
                                  "description": "The day of the week for wday-type rules."
                                },
                                "date": {
                                  "type": "string",
                                  "format": "date",
                                  "description": "The specific date for date-type rules."
                                },
                                "intervals": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "from": {
                                        "type": "string",
                                        "description": "The start time of the interval (HH:MM format)."
                                      },
                                      "to": {
                                        "type": "string",
                                        "description": "The end time of the interval (HH:MM format)."
                                      }
                                    }
                                  },
                                  "description": "The time intervals during which the user is available."
                                }
                              }
                            },
                            "description": "The availability rules defining when the user is available."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. Verify that a valid access token is provided in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user_availability_schedules/{uuid}": {
      "get": {
        "operationId": "getUserAvailabilitySchedule",
        "summary": "Get user availability schedule",
        "description": "Returns a specific availability schedule by its UUID, including the timezone and rules that define available time windows.",
        "tags": [
          "Availability"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "The UUID of the availability schedule.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the availability schedule",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resource": {
                      "type": "object",
                      "description": "An availability schedule defining recurring time windows when a user is available for meetings.",
                      "properties": {
                        "uri": {
                          "type": "string",
                          "format": "uri",
                          "description": "The canonical URI of the availability schedule resource."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the availability schedule."
                        },
                        "default": {
                          "type": "boolean",
                          "description": "Whether this is the users default availability schedule."
                        },
                        "timezone": {
                          "type": "string",
                          "description": "The IANA timezone for the schedule."
                        },
                        "rules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "wday",
                                  "date"
                                ],
                                "description": "The type of rule (recurring weekday or specific date)."
                              },
                              "wday": {
                                "type": "string",
                                "enum": [
                                  "sunday",
                                  "monday",
                                  "tuesday",
                                  "wednesday",
                                  "thursday",
                                  "friday",
                                  "saturday"
                                ],
                                "description": "The day of the week for wday-type rules."
                              },
                              "date": {
                                "type": "string",
                                "format": "date",
                                "description": "The specific date for date-type rules."
                              },
                              "intervals": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "from": {
                                      "type": "string",
                                      "description": "The start time of the interval (HH:MM format)."
                                    },
                                    "to": {
                                      "type": "string",
                                      "description": "The end time of the interval (HH:MM format)."
                                    }
                                  }
                                },
                                "description": "The time intervals during which the user is available."
                              }
                            }
                          },
                          "description": "The availability rules defining when the user is available."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. Verify that a valid access token is provided in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found. Verify the UUID or URI is correct.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shares": {
      "post": {
        "operationId": "createShare",
        "summary": "Create share",
        "description": "Creates a shareable scheduling link that can be distributed to potential invitees. Shares can include multiple event types and custom availability settings.",
        "tags": [
          "Shares"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_type"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URI of the event type to create a share for."
                  },
                  "max_spots": {
                    "type": "integer",
                    "description": "The maximum number of spots available for booking through this share.",
                    "minimum": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created the share",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resource": {
                      "type": "object",
                      "description": "A shareable scheduling link that can be distributed to potential invitees.",
                      "properties": {
                        "uri": {
                          "type": "string",
                          "format": "uri",
                          "description": "The canonical URI of the share resource."
                        },
                        "scheduling_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The shareable scheduling URL."
                        },
                        "booking_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The direct booking URL."
                        },
                        "event_type": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URI of the associated event type."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed. Check the request body and parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. Verify that a valid access token is provided in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal access token or OAuth 2.1 access token. Include in the Authorization header as Bearer {token}."
      }
    }
  }
}
