{
  "openapi": "3.0.3",
  "info": {
    "title": "Calendly - Agendamentos",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.calendly.com",
      "description": "Production Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Scheduled Events",
      "description": "Endpoints for listing, retrieving, and canceling scheduled events (booked meetings)."
    },
    {
      "name": "Invitees",
      "description": "Endpoints for listing, retrieving, and creating invitees on scheduled events."
    }
  ],
  "paths": {
    "/scheduled_events": {
      "get": {
        "operationId": "listScheduledEvents",
        "summary": "List scheduled events",
        "description": "Returns a paginated list of scheduled events for the specified user or organization. Scheduled events represent booked meetings with start and end times, locations, and associated invitees.",
        "tags": [
          "Scheduled Events"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "The URI of the user whose scheduled events to list.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "organization",
            "in": "query",
            "description": "The URI of the organization whose scheduled events to list.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "invitee_email",
            "in": "query",
            "description": "Filter by invitee email address.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by event status.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "canceled"
              ]
            }
          },
          {
            "name": "min_start_time",
            "in": "query",
            "description": "Only return events starting on or after this time, in UTC format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "max_start_time",
            "in": "query",
            "description": "Only return events starting before this time, in UTC format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for results. Use start_time:asc or start_time:desc.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of results to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "A token for fetching the next page of results from a previous paginated response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of scheduled events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "A scheduled event represents a booked meeting with a specific start time, end time, location, and associated invitees.",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "format": "uri",
                            "description": "The canonical URI of the scheduled event resource."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the scheduled event."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "canceled"
                            ],
                            "description": "The current status of the scheduled event."
                          },
                          "start_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The start time of the event in UTC."
                          },
                          "end_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The end time of the event in UTC."
                          },
                          "event_type": {
                            "type": "string",
                            "format": "uri",
                            "description": "The URI of the event type this event was created from."
                          },
                          "location": {
                            "type": "object",
                            "description": "The location configuration for a scheduled event, specifying where the meeting takes place.",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "The type of location (e.g., physical, outbound_call, inbound_call, google_conference, zoom, microsoft_teams_conference, custom)."
                              },
                              "location": {
                                "type": "string",
                                "description": "The location details, such as an address or phone number."
                              },
                              "join_url": {
                                "type": "string",
                                "format": "uri",
                                "description": "The URL to join the meeting for virtual locations."
                              },
                              "status": {
                                "type": "string",
                                "description": "The status of the conference link generation."
                              },
                              "additional_info": {
                                "type": "string",
                                "description": "Additional information about the location."
                              }
                            }
                          },
                          "invitees_counter": {
                            "type": "object",
                            "description": "A count of invitees by status.",
                            "properties": {
                              "total": {
                                "type": "integer",
                                "description": "The total number of invitees."
                              },
                              "active": {
                                "type": "integer",
                                "description": "The number of active invitees."
                              },
                              "limit": {
                                "type": "integer",
                                "description": "The maximum number of invitees allowed."
                              }
                            }
                          },
                          "cancellation": {
                            "type": "object",
                            "description": "Information about a canceled event or invitee, including who canceled and the reason.",
                            "properties": {
                              "canceled_by": {
                                "type": "string",
                                "description": "The name or identifier of who canceled the event."
                              },
                              "reason": {
                                "type": "string",
                                "description": "The reason provided for the cancellation."
                              },
                              "canceler_type": {
                                "type": "string",
                                "enum": [
                                  "host",
                                  "invitee"
                                ],
                                "description": "Whether the host or invitee canceled."
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The timestamp when the cancellation occurred."
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the event was created."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the event was last updated."
                          },
                          "event_memberships": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "user": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "The URI of the event member."
                                },
                                "user_email": {
                                  "type": "string",
                                  "format": "email",
                                  "description": "The email of the event member."
                                },
                                "user_name": {
                                  "type": "string",
                                  "description": "The name of the event member."
                                }
                              }
                            },
                            "description": "The list of users who are members (hosts) of this event."
                          },
                          "event_guests": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string",
                                  "format": "email",
                                  "description": "The email address of the guest."
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "When the guest was added."
                                },
                                "updated_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "When the guest record was last updated."
                                }
                              }
                            },
                            "description": "Additional guests invited to the event."
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Pagination information for paginated list responses.",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "The number of results in the current page."
                        },
                        "next_page": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL of the next page of results, if available."
                        },
                        "previous_page": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL of the previous page of results, if available."
                        },
                        "next_page_token": {
                          "type": "string",
                          "description": "The token to fetch the next page of results."
                        },
                        "previous_page_token": {
                          "type": "string",
                          "description": "The token to fetch the previous page of results."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. Verify that a valid access token is provided in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scheduled_events/{uuid}": {
      "get": {
        "operationId": "getScheduledEvent",
        "summary": "Get scheduled event",
        "description": "Returns detailed information about a specific scheduled event by its UUID, including start and end times, event type, location, and cancellation details if applicable.",
        "tags": [
          "Scheduled Events"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "The UUID of the scheduled event.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the scheduled event",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resource": {
                      "type": "object",
                      "description": "A scheduled event represents a booked meeting with a specific start time, end time, location, and associated invitees.",
                      "properties": {
                        "uri": {
                          "type": "string",
                          "format": "uri",
                          "description": "The canonical URI of the scheduled event resource."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the scheduled event."
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "canceled"
                          ],
                          "description": "The current status of the scheduled event."
                        },
                        "start_time": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The start time of the event in UTC."
                        },
                        "end_time": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The end time of the event in UTC."
                        },
                        "event_type": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URI of the event type this event was created from."
                        },
                        "location": {
                          "type": "object",
                          "description": "The location configuration for a scheduled event, specifying where the meeting takes place.",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The type of location (e.g., physical, outbound_call, inbound_call, google_conference, zoom, microsoft_teams_conference, custom)."
                            },
                            "location": {
                              "type": "string",
                              "description": "The location details, such as an address or phone number."
                            },
                            "join_url": {
                              "type": "string",
                              "format": "uri",
                              "description": "The URL to join the meeting for virtual locations."
                            },
                            "status": {
                              "type": "string",
                              "description": "The status of the conference link generation."
                            },
                            "additional_info": {
                              "type": "string",
                              "description": "Additional information about the location."
                            }
                          }
                        },
                        "invitees_counter": {
                          "type": "object",
                          "description": "A count of invitees by status.",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "description": "The total number of invitees."
                            },
                            "active": {
                              "type": "integer",
                              "description": "The number of active invitees."
                            },
                            "limit": {
                              "type": "integer",
                              "description": "The maximum number of invitees allowed."
                            }
                          }
                        },
                        "cancellation": {
                          "type": "object",
                          "description": "Information about a canceled event or invitee, including who canceled and the reason.",
                          "properties": {
                            "canceled_by": {
                              "type": "string",
                              "description": "The name or identifier of who canceled the event."
                            },
                            "reason": {
                              "type": "string",
                              "description": "The reason provided for the cancellation."
                            },
                            "canceler_type": {
                              "type": "string",
                              "enum": [
                                "host",
                                "invitee"
                              ],
                              "description": "Whether the host or invitee canceled."
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "The timestamp when the cancellation occurred."
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the event was created."
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the event was last updated."
                        },
                        "event_memberships": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "user": {
                                "type": "string",
                                "format": "uri",
                                "description": "The URI of the event member."
                              },
                              "user_email": {
                                "type": "string",
                                "format": "email",
                                "description": "The email of the event member."
                              },
                              "user_name": {
                                "type": "string",
                                "description": "The name of the event member."
                              }
                            }
                          },
                          "description": "The list of users who are members (hosts) of this event."
                        },
                        "event_guests": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "format": "email",
                                "description": "The email address of the guest."
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the guest was added."
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the guest record was last updated."
                              }
                            }
                          },
                          "description": "Additional guests invited to the event."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. Verify that a valid access token is provided in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found. Verify the UUID or URI is correct.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scheduled_events/{uuid}/cancellation": {
      "post": {
        "operationId": "cancelScheduledEvent",
        "summary": "Cancel scheduled event",
        "description": "Cancels a scheduled event. Optionally include a reason for the cancellation. This will trigger invitee.canceled webhook events for all subscribed endpoints.",
        "tags": [
          "Scheduled Events"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "The UUID of the scheduled event.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "The reason for canceling the event.",
                    "maxLength": 10000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully canceled the scheduled event",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resource": {
                      "type": "object",
                      "description": "Information about a canceled event or invitee, including who canceled and the reason.",
                      "properties": {
                        "canceled_by": {
                          "type": "string",
                          "description": "The name or identifier of who canceled the event."
                        },
                        "reason": {
                          "type": "string",
                          "description": "The reason provided for the cancellation."
                        },
                        "canceler_type": {
                          "type": "string",
                          "enum": [
                            "host",
                            "invitee"
                          ],
                          "description": "Whether the host or invitee canceled."
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the cancellation occurred."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed. Check the request body and parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. Verify that a valid access token is provided in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found. Verify the UUID or URI is correct.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scheduled_events/{event_uuid}/invitees": {
      "get": {
        "operationId": "listEventInvitees",
        "summary": "List event invitees",
        "description": "Returns a paginated list of invitees for a specific scheduled event. Invitee data includes name, email, timezone, and answers to custom questions from the booking page.",
        "tags": [
          "Invitees"
        ],
        "parameters": [
          {
            "name": "event_uuid",
            "in": "path",
            "required": true,
            "description": "The UUID of the scheduled event.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by invitee status.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "canceled"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for results. Use created_at:asc or created_at:desc.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of results to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "A token for fetching the next page of results from a previous paginated response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of invitees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "An invitee is a person who has booked or been booked for a scheduled event, with their contact information and booking details.",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "format": "uri",
                            "description": "The canonical URI of the invitee resource."
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "description": "The email address of the invitee."
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name of the invitee."
                          },
                          "last_name": {
                            "type": "string",
                            "description": "The last name of the invitee."
                          },
                          "name": {
                            "type": "string",
                            "description": "The full name of the invitee."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "canceled"
                            ],
                            "description": "The status of the invitee."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "The IANA timezone of the invitee."
                          },
                          "event": {
                            "type": "string",
                            "format": "uri",
                            "description": "The URI of the associated scheduled event."
                          },
                          "text_reminder_number": {
                            "type": "string",
                            "description": "The phone number for text reminders."
                          },
                          "rescheduled": {
                            "type": "boolean",
                            "description": "Whether this invitee was rescheduled from a previous event."
                          },
                          "old_invitee": {
                            "type": "string",
                            "format": "uri",
                            "description": "The URI of the previous invitee if this was rescheduled."
                          },
                          "new_invitee": {
                            "type": "string",
                            "format": "uri",
                            "description": "The URI of the new invitee if this invitee was rescheduled."
                          },
                          "cancel_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "The URL for the invitee to cancel the event."
                          },
                          "reschedule_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "The URL for the invitee to reschedule the event."
                          },
                          "routing_form_submission": {
                            "type": "string",
                            "format": "uri",
                            "description": "The URI of the routing form submission that led to this booking."
                          },
                          "cancellation": {
                            "type": "object",
                            "description": "Information about a canceled event or invitee, including who canceled and the reason.",
                            "properties": {
                              "canceled_by": {
                                "type": "string",
                                "description": "The name or identifier of who canceled the event."
                              },
                              "reason": {
                                "type": "string",
                                "description": "The reason provided for the cancellation."
                              },
                              "canceler_type": {
                                "type": "string",
                                "enum": [
                                  "host",
                                  "invitee"
                                ],
                                "description": "Whether the host or invitee canceled."
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The timestamp when the cancellation occurred."
                              }
                            }
                          },
                          "payment": {
                            "type": "object",
                            "description": "Payment information if the event type requires payment.",
                            "properties": {
                              "external_id": {
                                "type": "string",
                                "description": "The external payment processor ID."
                              },
                              "provider": {
                                "type": "string",
                                "description": "The payment provider name."
                              },
                              "amount": {
                                "type": "number",
                                "description": "The payment amount."
                              },
                              "currency": {
                                "type": "string",
                                "description": "The payment currency code."
                              },
                              "terms": {
                                "type": "string",
                                "description": "The payment terms."
                              },
                              "successful": {
                                "type": "boolean",
                                "description": "Whether the payment was successful."
                              }
                            }
                          },
                          "questions_and_answers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "question": {
                                  "type": "string",
                                  "description": "The text of the custom question."
                                },
                                "answer": {
                                  "type": "string",
                                  "description": "The invitees answer to the question."
                                },
                                "position": {
                                  "type": "integer",
                                  "description": "The display position of the question."
                                }
                              }
                            },
                            "description": "The invitees answers to custom questions on the booking page."
                          },
                          "tracking": {
                            "type": "object",
                            "description": "UTM and tracking parameters captured at booking time.",
                            "properties": {
                              "utm_campaign": {
                                "type": "string",
                                "description": "The UTM campaign parameter."
                              },
                              "utm_source": {
                                "type": "string",
                                "description": "The UTM source parameter."
                              },
                              "utm_medium": {
                                "type": "string",
                                "description": "The UTM medium parameter."
                              },
                              "utm_content": {
                                "type": "string",
                                "description": "The UTM content parameter."
                              },
                              "utm_term": {
                                "type": "string",
                                "description": "The UTM term parameter."
                              },
                              "salesforce_uuid": {
                                "type": "string",
                                "description": "The Salesforce UUID if applicable."
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the invitee was created."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the invitee was last updated."
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Pagination information for paginated list responses.",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "The number of results in the current page."
                        },
                        "next_page": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL of the next page of results, if available."
                        },
                        "previous_page": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL of the previous page of results, if available."
                        },
                        "next_page_token": {
                          "type": "string",
                          "description": "The token to fetch the next page of results."
                        },
                        "previous_page_token": {
                          "type": "string",
                          "description": "The token to fetch the previous page of results."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. Verify that a valid access token is provided in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found. Verify the UUID or URI is correct.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scheduled_events/{event_uuid}/invitees/{invitee_uuid}": {
      "get": {
        "operationId": "getEventInvitee",
        "summary": "Get event invitee",
        "description": "Returns detailed information about a specific invitee for a scheduled event, including their name, email, timezone, and answers to custom questions on the event booking page.",
        "tags": [
          "Invitees"
        ],
        "parameters": [
          {
            "name": "event_uuid",
            "in": "path",
            "required": true,
            "description": "The UUID of the scheduled event.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invitee_uuid",
            "in": "path",
            "required": true,
            "description": "The UUID of the invitee.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the invitee",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resource": {
                      "type": "object",
                      "description": "An invitee is a person who has booked or been booked for a scheduled event, with their contact information and booking details.",
                      "properties": {
                        "uri": {
                          "type": "string",
                          "format": "uri",
                          "description": "The canonical URI of the invitee resource."
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "description": "The email address of the invitee."
                        },
                        "first_name": {
                          "type": "string",
                          "description": "The first name of the invitee."
                        },
                        "last_name": {
                          "type": "string",
                          "description": "The last name of the invitee."
                        },
                        "name": {
                          "type": "string",
                          "description": "The full name of the invitee."
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "canceled"
                          ],
                          "description": "The status of the invitee."
                        },
                        "timezone": {
                          "type": "string",
                          "description": "The IANA timezone of the invitee."
                        },
                        "event": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URI of the associated scheduled event."
                        },
                        "text_reminder_number": {
                          "type": "string",
                          "description": "The phone number for text reminders."
                        },
                        "rescheduled": {
                          "type": "boolean",
                          "description": "Whether this invitee was rescheduled from a previous event."
                        },
                        "old_invitee": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URI of the previous invitee if this was rescheduled."
                        },
                        "new_invitee": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URI of the new invitee if this invitee was rescheduled."
                        },
                        "cancel_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL for the invitee to cancel the event."
                        },
                        "reschedule_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL for the invitee to reschedule the event."
                        },
                        "routing_form_submission": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URI of the routing form submission that led to this booking."
                        },
                        "cancellation": {
                          "type": "object",
                          "description": "Information about a canceled event or invitee, including who canceled and the reason.",
                          "properties": {
                            "canceled_by": {
                              "type": "string",
                              "description": "The name or identifier of who canceled the event."
                            },
                            "reason": {
                              "type": "string",
                              "description": "The reason provided for the cancellation."
                            },
                            "canceler_type": {
                              "type": "string",
                              "enum": [
                                "host",
                                "invitee"
                              ],
                              "description": "Whether the host or invitee canceled."
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "The timestamp when the cancellation occurred."
                            }
                          }
                        },
                        "payment": {
                          "type": "object",
                          "description": "Payment information if the event type requires payment.",
                          "properties": {
                            "external_id": {
                              "type": "string",
                              "description": "The external payment processor ID."
                            },
                            "provider": {
                              "type": "string",
                              "description": "The payment provider name."
                            },
                            "amount": {
                              "type": "number",
                              "description": "The payment amount."
                            },
                            "currency": {
                              "type": "string",
                              "description": "The payment currency code."
                            },
                            "terms": {
                              "type": "string",
                              "description": "The payment terms."
                            },
                            "successful": {
                              "type": "boolean",
                              "description": "Whether the payment was successful."
                            }
                          }
                        },
                        "questions_and_answers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "question": {
                                "type": "string",
                                "description": "The text of the custom question."
                              },
                              "answer": {
                                "type": "string",
                                "description": "The invitees answer to the question."
                              },
                              "position": {
                                "type": "integer",
                                "description": "The display position of the question."
                              }
                            }
                          },
                          "description": "The invitees answers to custom questions on the booking page."
                        },
                        "tracking": {
                          "type": "object",
                          "description": "UTM and tracking parameters captured at booking time.",
                          "properties": {
                            "utm_campaign": {
                              "type": "string",
                              "description": "The UTM campaign parameter."
                            },
                            "utm_source": {
                              "type": "string",
                              "description": "The UTM source parameter."
                            },
                            "utm_medium": {
                              "type": "string",
                              "description": "The UTM medium parameter."
                            },
                            "utm_content": {
                              "type": "string",
                              "description": "The UTM content parameter."
                            },
                            "utm_term": {
                              "type": "string",
                              "description": "The UTM term parameter."
                            },
                            "salesforce_uuid": {
                              "type": "string",
                              "description": "The Salesforce UUID if applicable."
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the invitee was created."
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the invitee was last updated."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. Verify that a valid access token is provided in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found. Verify the UUID or URI is correct.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invitees": {
      "post": {
        "operationId": "createEventInvitee",
        "summary": "Create event invitee",
        "description": "Creates a new invitee for a scheduled event, effectively booking a meeting on behalf of the invitee. This is the core endpoint of the Scheduling API, enabling programmatic event creation without redirects, iframes, or the Calendly-hosted UI. Requires a paid Calendly plan.",
        "tags": [
          "Invitees"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_type",
                  "start_time",
                  "invitee"
                ],
                "properties": {
                  "event_type": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URI of the event type to book."
                  },
                  "start_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The start time for the event in UTC. Must correspond to a valid available time slot."
                  },
                  "invitee": {
                    "type": "object",
                    "required": [
                      "name",
                      "email"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The full name of the invitee."
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "The email address of the invitee."
                      },
                      "timezone": {
                        "type": "string",
                        "description": "The IANA timezone of the invitee."
                      }
                    },
                    "description": "The invitee details for the booking."
                  },
                  "questions_and_answers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "question_uuid": {
                          "type": "string",
                          "description": "The UUID of the custom question."
                        },
                        "answer": {
                          "type": "string",
                          "description": "The answer to the custom question."
                        }
                      }
                    },
                    "description": "Answers to custom questions on the event type booking page."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created the invitee and booked the event",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resource": {
                      "type": "object",
                      "description": "An invitee is a person who has booked or been booked for a scheduled event, with their contact information and booking details.",
                      "properties": {
                        "uri": {
                          "type": "string",
                          "format": "uri",
                          "description": "The canonical URI of the invitee resource."
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "description": "The email address of the invitee."
                        },
                        "first_name": {
                          "type": "string",
                          "description": "The first name of the invitee."
                        },
                        "last_name": {
                          "type": "string",
                          "description": "The last name of the invitee."
                        },
                        "name": {
                          "type": "string",
                          "description": "The full name of the invitee."
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "canceled"
                          ],
                          "description": "The status of the invitee."
                        },
                        "timezone": {
                          "type": "string",
                          "description": "The IANA timezone of the invitee."
                        },
                        "event": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URI of the associated scheduled event."
                        },
                        "text_reminder_number": {
                          "type": "string",
                          "description": "The phone number for text reminders."
                        },
                        "rescheduled": {
                          "type": "boolean",
                          "description": "Whether this invitee was rescheduled from a previous event."
                        },
                        "old_invitee": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URI of the previous invitee if this was rescheduled."
                        },
                        "new_invitee": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URI of the new invitee if this invitee was rescheduled."
                        },
                        "cancel_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL for the invitee to cancel the event."
                        },
                        "reschedule_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL for the invitee to reschedule the event."
                        },
                        "routing_form_submission": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URI of the routing form submission that led to this booking."
                        },
                        "cancellation": {
                          "type": "object",
                          "description": "Information about a canceled event or invitee, including who canceled and the reason.",
                          "properties": {
                            "canceled_by": {
                              "type": "string",
                              "description": "The name or identifier of who canceled the event."
                            },
                            "reason": {
                              "type": "string",
                              "description": "The reason provided for the cancellation."
                            },
                            "canceler_type": {
                              "type": "string",
                              "enum": [
                                "host",
                                "invitee"
                              ],
                              "description": "Whether the host or invitee canceled."
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "The timestamp when the cancellation occurred."
                            }
                          }
                        },
                        "payment": {
                          "type": "object",
                          "description": "Payment information if the event type requires payment.",
                          "properties": {
                            "external_id": {
                              "type": "string",
                              "description": "The external payment processor ID."
                            },
                            "provider": {
                              "type": "string",
                              "description": "The payment provider name."
                            },
                            "amount": {
                              "type": "number",
                              "description": "The payment amount."
                            },
                            "currency": {
                              "type": "string",
                              "description": "The payment currency code."
                            },
                            "terms": {
                              "type": "string",
                              "description": "The payment terms."
                            },
                            "successful": {
                              "type": "boolean",
                              "description": "Whether the payment was successful."
                            }
                          }
                        },
                        "questions_and_answers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "question": {
                                "type": "string",
                                "description": "The text of the custom question."
                              },
                              "answer": {
                                "type": "string",
                                "description": "The invitees answer to the question."
                              },
                              "position": {
                                "type": "integer",
                                "description": "The display position of the question."
                              }
                            }
                          },
                          "description": "The invitees answers to custom questions on the booking page."
                        },
                        "tracking": {
                          "type": "object",
                          "description": "UTM and tracking parameters captured at booking time.",
                          "properties": {
                            "utm_campaign": {
                              "type": "string",
                              "description": "The UTM campaign parameter."
                            },
                            "utm_source": {
                              "type": "string",
                              "description": "The UTM source parameter."
                            },
                            "utm_medium": {
                              "type": "string",
                              "description": "The UTM medium parameter."
                            },
                            "utm_content": {
                              "type": "string",
                              "description": "The UTM content parameter."
                            },
                            "utm_term": {
                              "type": "string",
                              "description": "The UTM term parameter."
                            },
                            "salesforce_uuid": {
                              "type": "string",
                              "description": "The Salesforce UUID if applicable."
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the invitee was created."
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp when the invitee was last updated."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed. Check the request body and parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. Verify that a valid access token is provided in the Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found. Verify the UUID or URI is correct.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An error response from the Calendly API.",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "A short summary of the error."
                    },
                    "message": {
                      "type": "string",
                      "description": "A detailed description of the error."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "The parameter that caused the error."
                          },
                          "message": {
                            "type": "string",
                            "description": "A description of what was wrong with the parameter."
                          }
                        }
                      },
                      "description": "Specific details about validation errors."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal access token or OAuth 2.1 access token. Include in the Authorization header as Bearer {token}."
      }
    }
  }
}
