{
  "openapi": "3.0.3",
  "info": {
    "title": "WhatsApp Business Cloud API - numeros",
    "version": "v23.0",
    "description": "API for retrieving connected client businesses associated with a Meta application.\n\n\nThis endpoint allows applications to retrieve information about businesses that have\nestablished client connections through the application. This is essential for managing\nbusiness relationships and understanding client business configurations.\n",
    "contact": {
      "name": "Meta Business Platform Team",
      "url": "https://developers.facebook.com/support"
    },
    "license": {
      "name": "Meta Platform Terms",
      "url": "https://developers.facebook.com/terms"
    },
    "termsOfService": "https://developers.facebook.com/terms"
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v23.0",
      "description": "WhatsApp Business Cloud API (v23.0)"
    }
  ],
  "tags": [
    {
      "name": "numeros",
      "description": "Números de telefone: registro, verificação, perfil, QR codes e bloqueios."
    }
  ],
  "paths": {
    "/{Phone-Number-ID}/block_users": {
      "parameters": [
        {
          "name": "Phone-Number-ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "numeros"
        ],
        "summary": "Get blocked users",
        "description": "- Guide: [Block Users](https://developers.facebook.com/docs/business-messaging/whatsapp/block-users)\n    \n- Endpoint reference: [GET WhatsApp Buiness Phone Number > block_users](https://developers.facebook.com/docs/graph-api/reference/whats-app-business-account-to-number-current-status/block_users/#Reading)",
        "operationId": "getBlockedUsers",
        "responses": {
          "200": {
            "description": "Get blocked users",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                },
                "description": "CORS policy allowing access from any origin"
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                },
                "description": "Alternative service advertisement for HTTP/3"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, no-cache, no-store, must-revalidate"
                },
                "description": "Cache control directives for the response"
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                },
                "description": "Connection management directive"
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "25"
                },
                "description": "Size of the response body in bytes"
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 24 Jan 2025 00:48:41 GMT"
                },
                "description": "Date and time when the response was generated"
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "\"eb11a43a8f1e633acc57540de90158ed9ede1eb6\""
                },
                "description": "Entity tag for caching and conditional requests"
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 01 Jan 2000 00:00:00 GMT"
                },
                "description": "Expiration date for cached responses"
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                },
                "description": "Legacy cache control directive"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=15552000; preload"
                },
                "description": "HSTS header enforcing HTTPS connections"
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                },
                "description": "Headers that affect caching and content negotiation"
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string",
                  "example": "52zkUgodnaVRhbBE+3RiGz6TnmjmDEGunwYd+vKSc4synE+Xii//dy6twB/7yKgOJiMUuV0OF248UAZ1qL3v0A=="
                },
                "description": "Facebook debug information for troubleshooting"
              },
              "facebook-api-version": {
                "schema": {
                  "type": "string",
                  "example": "v22.0"
                },
                "description": "Facebook Graph API version used for the request"
              },
              "x-business-use-case-usage": {
                "schema": {
                  "type": "string",
                  "example": "{\"102290129340398\":[{\"type\":\"whatsapp_business_management\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0},{\"type\":\"whatsapp\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}"
                },
                "description": "Business use case usage metrics and rate limiting information"
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string",
                  "example": "AGaOBl2yM-g8gdON-dhzl5y"
                },
                "description": "Unique identifier for the request for debugging purposes"
              },
              "x-fb-rev": {
                "schema": {
                  "type": "string",
                  "example": "1019544279"
                },
                "description": "Facebook internal revision number"
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string",
                  "example": "E7riEe9OW2e"
                },
                "description": "Facebook trace identifier for request tracking"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "messaging_product": {
                            "type": "string",
                            "example": "whatsapp"
                          },
                          "wa_id": {
                            "type": "string",
                            "example": "16505551234"
                          }
                        }
                      },
                      "example": [
                        {
                          "messaging_product": "whatsapp",
                          "wa_id": "16505551234"
                        }
                      ]
                    },
                    "paging": {
                      "type": "object",
                      "properties": {
                        "cursors": {
                          "type": "object",
                          "properties": {
                            "after": {
                              "type": "string",
                              "example": "eyJvZAmZAzZAXQiOjAsInZAlcnNpb25JZACI6IjE3Mzc2Nzk2ODgzODM1ODQifQZDZD"
                            },
                            "before": {
                              "type": "string",
                              "example": "eyJvZAmZAzZAXQiOjAsInZAlcnNpb25JZACI6IjE3Mzc2Nzk2ODgzODM1ODQifQZDZD"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Get blocked users": {
                    "value": {
                      "data": [
                        {
                          "messaging_product": "whatsapp",
                          "wa_id": "16505551234"
                        }
                      ],
                      "paging": {
                        "cursors": {
                          "after": "eyJvZAmZAzZAXQiOjAsInZAlcnNpb25JZACI6IjE3Mzc2Nzk2ODgzODM1ODQifQZDZD",
                          "before": "eyJvZAmZAzZAXQiOjAsInZAlcnNpb25JZACI6IjE3Mzc2Nzk2ODgzODM1ODQifQZDZD"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "numeros"
        ],
        "summary": "Block user(s)",
        "description": "- Guide: [Block Users](https://developers.facebook.com/docs/business-messaging/whatsapp/block-users)\n    \n- Endpoint reference: [POST WhatsApp Buiness Phone Number > block_users](https://developers.facebook.com/docs/graph-api/reference/whats-app-business-account-to-number-current-status/block_users/#Creating)",
        "operationId": "blockUserS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "block_users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "string",
                          "example": "+16505551234"
                        }
                      }
                    },
                    "example": [
                      {
                        "user": "+16505551234"
                      }
                    ]
                  },
                  "messaging_product": {
                    "type": "string",
                    "example": "whatsapp"
                  }
                }
              },
              "examples": {
                "Block user(s)": {
                  "value": {
                    "block_users": [
                      {
                        "user": "+16505551234"
                      }
                    ],
                    "messaging_product": "whatsapp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block user(s)",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                },
                "description": "CORS policy allowing access from any origin"
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                },
                "description": "Alternative service advertisement for HTTP/3"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, no-cache, no-store, must-revalidate"
                },
                "description": "Cache control directives for the response"
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                },
                "description": "Connection management directive"
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "25"
                },
                "description": "Size of the response body in bytes"
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 24 Jan 2025 00:48:41 GMT"
                },
                "description": "Date and time when the response was generated"
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 01 Jan 2000 00:00:00 GMT"
                },
                "description": "Expiration date for cached responses"
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                },
                "description": "Legacy cache control directive"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=15552000; preload"
                },
                "description": "HSTS header enforcing HTTPS connections"
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                },
                "description": "Headers that affect caching and content negotiation"
              },
              "X-FB-Connection-Quality": {
                "schema": {
                  "type": "string",
                  "example": "EXCELLENT; q=0.9, rtt=7, rtx=0, c=10, mss=1380, tbw=372, tp=-1, tpl=-1, uplat=527, ullat=0"
                },
                "description": "Facebook connection quality metrics"
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string",
                  "example": "52zkUgodnaVRhbBE+3RiGz6TnmjmDEGunwYd+vKSc4synE+Xii//dy6twB/7yKgOJiMUuV0OF248UAZ1qL3v0A=="
                },
                "description": "Facebook debug information for troubleshooting"
              },
              "facebook-api-version": {
                "schema": {
                  "type": "string",
                  "example": "v22.0"
                },
                "description": "Facebook Graph API version used for the request"
              },
              "x-business-use-case-usage": {
                "schema": {
                  "type": "string",
                  "example": "{\"102290129340398\":[{\"type\":\"whatsapp_business_management\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0},{\"type\":\"whatsapp\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}"
                },
                "description": "Business use case usage metrics and rate limiting information"
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string",
                  "example": "AGaOBl2yM-g8gdON-dhzl5y"
                },
                "description": "Unique identifier for the request for debugging purposes"
              },
              "x-fb-rev": {
                "schema": {
                  "type": "string",
                  "example": "1019544279"
                },
                "description": "Facebook internal revision number"
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string",
                  "example": "E7riEe9OW2e"
                },
                "description": "Facebook trace identifier for request tracking"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "block_users": {
                      "type": "object",
                      "properties": {
                        "added_users": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "input": {
                                "type": "string",
                                "example": "+16505551234"
                              },
                              "wa_id": {
                                "type": "string",
                                "example": "16505551234"
                              }
                            }
                          },
                          "example": [
                            {
                              "input": "+16505551234",
                              "wa_id": "16505551234"
                            }
                          ]
                        }
                      }
                    },
                    "messaging_product": {
                      "type": "string",
                      "example": "whatsapp"
                    }
                  }
                },
                "examples": {
                  "Block user(s)": {
                    "value": {
                      "block_users": {
                        "added_users": [
                          {
                            "input": "+16505551234",
                            "wa_id": "16505551234"
                          }
                        ]
                      },
                      "messaging_product": "whatsapp"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "numeros"
        ],
        "summary": "Unblock user(s)",
        "description": "- Guide: [Block Users](https://developers.facebook.com/docs/business-messaging/whatsapp/block-users)\n    \n- Endpoint reference: [DELETE WhatsApp Buiness Phone Number > block_users](https://developers.facebook.com/docs/graph-api/reference/whats-app-business-account-to-number-current-status/block_users/#Deleting)",
        "operationId": "unblockUserS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "block_users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "string",
                          "example": "+16505551234"
                        }
                      }
                    },
                    "example": [
                      {
                        "user": "+16505551234"
                      }
                    ]
                  },
                  "messaging_product": {
                    "type": "string",
                    "example": "whatsapp"
                  }
                }
              },
              "examples": {
                "Unblock user(s)": {
                  "value": {
                    "block_users": [
                      {
                        "user": "+16505551234"
                      }
                    ],
                    "messaging_product": "whatsapp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unblock user(s)",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                },
                "description": "CORS policy allowing access from any origin"
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                },
                "description": "Alternative service advertisement for HTTP/3"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, no-cache, no-store, must-revalidate"
                },
                "description": "Cache control directives for the response"
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                },
                "description": "Connection management directive"
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "25"
                },
                "description": "Size of the response body in bytes"
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 24 Jan 2025 00:48:41 GMT"
                },
                "description": "Date and time when the response was generated"
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 01 Jan 2000 00:00:00 GMT"
                },
                "description": "Expiration date for cached responses"
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                },
                "description": "Legacy cache control directive"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=15552000; preload"
                },
                "description": "HSTS header enforcing HTTPS connections"
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                },
                "description": "Headers that affect caching and content negotiation"
              },
              "X-FB-Connection-Quality": {
                "schema": {
                  "type": "string",
                  "example": "EXCELLENT; q=0.9, rtt=7, rtx=0, c=10, mss=1380, tbw=372, tp=-1, tpl=-1, uplat=527, ullat=0"
                },
                "description": "Facebook connection quality metrics"
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string",
                  "example": "52zkUgodnaVRhbBE+3RiGz6TnmjmDEGunwYd+vKSc4synE+Xii//dy6twB/7yKgOJiMUuV0OF248UAZ1qL3v0A=="
                },
                "description": "Facebook debug information for troubleshooting"
              },
              "facebook-api-version": {
                "schema": {
                  "type": "string",
                  "example": "v22.0"
                },
                "description": "Facebook Graph API version used for the request"
              },
              "x-business-use-case-usage": {
                "schema": {
                  "type": "string",
                  "example": "{\"102290129340398\":[{\"type\":\"whatsapp_business_management\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0},{\"type\":\"whatsapp\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}"
                },
                "description": "Business use case usage metrics and rate limiting information"
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string",
                  "example": "AGaOBl2yM-g8gdON-dhzl5y"
                },
                "description": "Unique identifier for the request for debugging purposes"
              },
              "x-fb-rev": {
                "schema": {
                  "type": "string",
                  "example": "1019544279"
                },
                "description": "Facebook internal revision number"
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string",
                  "example": "E7riEe9OW2e"
                },
                "description": "Facebook trace identifier for request tracking"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "block_users": {
                      "type": "object",
                      "properties": {
                        "removed_users": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "input": {
                                "type": "string",
                                "example": "+16505551234"
                              },
                              "wa_id": {
                                "type": "string",
                                "example": "16505551234"
                              }
                            }
                          },
                          "example": [
                            {
                              "input": "+16505551234",
                              "wa_id": "16505551234"
                            }
                          ]
                        }
                      }
                    },
                    "messaging_product": {
                      "type": "string",
                      "example": "whatsapp"
                    }
                  }
                },
                "examples": {
                  "Unblock user(s)": {
                    "value": {
                      "block_users": {
                        "removed_users": [
                          {
                            "input": "+16505551234",
                            "wa_id": "16505551234"
                          }
                        ]
                      },
                      "messaging_product": "whatsapp"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/{Phone-Number-ID}/message_qrdls": {
      "get": {
        "summary": "List All Message QR Codes",
        "description": "Retrieve all message QR codes for a phone number, sorted by creation time (newest first).\nSupports field selection, filtering by code, cursor-based pagination, and QR image generation.\n",
        "operationId": "listAllQrCodes",
        "tags": [
          "numeros"
        ],
        "parameters": [
          {
            "name": "Phone-Number-ID",
            "in": "path",
            "required": true,
            "description": "The WhatsApp Business Account phone number ID for which to list QR codes.\nThis ID is provided when you add a phone number to your WhatsApp Business Account.\n",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "1234567890123456"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to include in the response. Available fields:\n- code: QR code identifier (always included)\n- prefilled_message: Pre-filled message text (always included)\n- deep_link_url: WhatsApp deep link URL (always included)\n- creation_time: Unix timestamp when QR code was created (first-party apps only)\n- qr_image_url.format(FORMAT): QR code image URL where FORMAT is SVG or PNG\n\nExample: \"code,prefilled_message,qr_image_url.format(SVG)\"\n",
            "schema": {
              "type": "string"
            },
            "example": "code,prefilled_message,deep_link_url,qr_image_url.format(SVG)"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "description": "Filter results to a specific QR code by its unique identifier.\nWhen provided, only the matching QR code will be returned (if it exists).\n",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z2-7]{14}$",
              "minLength": 14,
              "maxLength": 14
            },
            "example": "ANED2T5QRU7HG1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of QR codes to return in a single response.\nDefault and maximum limit is typically 25.\n",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 25
            },
            "example": 10
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Use this to get the next page of results.\nObtain this value from the paging.cursors.after field in previous responses.\n",
            "schema": {
              "type": "string"
            },
            "example": "MTYwNDYxNzIwMQ=="
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Use this to get the previous page of results.\nObtain this value from the paging.cursors.before field in previous responses.\n",
            "schema": {
              "type": "string"
            },
            "example": "MTYwNDYxNzIwMA=="
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of message QR codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "List of message QR codes with pagination information",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Array of QR code objects",
                      "items": {
                        "type": "object",
                        "description": "Complete details of a message QR code",
                        "required": [
                          "code",
                          "prefilled_message",
                          "deep_link_url"
                        ],
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Unique 14-character QR code identifier",
                            "pattern": "^[A-Z2-7]{14}$",
                            "example": "ANED2T5QRU7HG1"
                          },
                          "prefilled_message": {
                            "type": "string",
                            "description": "Pre-filled message text that appears in customer chat",
                            "example": "Hi! I'm interested in your products. Can you help me?"
                          },
                          "deep_link_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "WhatsApp deep link URL for direct conversation initiation",
                            "example": "https://wa.me/message/ANED2T5QRU7HG1"
                          },
                          "creation_time": {
                            "type": "integer",
                            "description": "Unix timestamp when QR code was created (first-party apps only)",
                            "example": 1672531200
                          },
                          "qr_image_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "QR code image download URL (when format specified in fields)",
                            "example": "https://scontent-iad3-1.xx.fbcdn.net/m1/v/t6/An-H7T8OyTqO07lcRGHlKteuPMKDnx07nua3dGb4i560bVxDscweOV4KoKD_4wCDFoHR_C5LyVjxQISKPxwora1bbFhUEo2nA19ZPLBUVoQSmV12l1x-nuu312jKty-5rmojmde_a0g?ccb=10-5&oh=00_AfASq_vjojFza_9A-HDeRgHM3wZ8yjNprpYBjNKOn8RkSg&oe=64550A9E&_nc_sid=f36290"
                          }
                        }
                      }
                    },
                    "paging": {
                      "type": "object",
                      "description": "Pagination information for navigating through large result sets.\nContains cursors for accessing previous and next pages of results.\n",
                      "properties": {
                        "cursors": {
                          "type": "object",
                          "properties": {
                            "before": {
                              "type": "string",
                              "description": "Cursor for accessing the previous page of results",
                              "example": "MTYwNDYxNzIwMA=="
                            },
                            "after": {
                              "type": "string",
                              "description": "Cursor for accessing the next page of results",
                              "example": "MTYwNDYxNzIwMQ=="
                            }
                          }
                        },
                        "previous": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL for the previous page of results",
                          "example": "https://graph.facebook.com/v23.0/1234567890123456/message_qrdls?before=MTYwNDYxNzIwMA=="
                        },
                        "next": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL for the next page of results",
                          "example": "https://graph.facebook.com/v23.0/1234567890123456/message_qrdls?after=MTYwNDYxNzIwMQ=="
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "default_fields": {
                    "summary": "Default fields response",
                    "description": "Response with default fields (code, prefilled_message, deep_link_url)",
                    "value": {
                      "data": [
                        {
                          "code": "5QBPAD2DC6L5A1",
                          "prefilled_message": "Show me Cyber Tuesday deals!",
                          "deep_link_url": "https://wa.me/message/5QBPAD2DC6L5A1"
                        },
                        {
                          "code": "ANED2T5QRU7HG1",
                          "prefilled_message": "Show me Cyber Monday deals!",
                          "deep_link_url": "https://wa.me/message/ANED2T5QRU7HG1"
                        },
                        {
                          "code": "WOMVT6TJ2BP7A1",
                          "prefilled_message": "Tell me more about your production workshop",
                          "deep_link_url": "https://wa.me/message/WOMVT6TJ2BP7A1"
                        }
                      ]
                    }
                  },
                  "with_qr_image": {
                    "summary": "Response with QR code image",
                    "description": "Response including QR code image URL in SVG format",
                    "value": {
                      "data": [
                        {
                          "code": "FO7JXE4BG3RFG1",
                          "prefilled_message": "Tell me more about your event planning packages",
                          "deep_link_url": "https://wa.me/message/FO7JXE4BG3RFG1",
                          "qr_image_url": "https://scontent-iad3-1.xx.fbcdn.net/m1/v/t6/An-H7T8OyTqO07lcRGHlKteuPMKDnx07nua3dGb4i560bVxDscweOV4KoKD_4wCDFoHR_C5LyVjxQISKPxwora1bbFhUEo2nA19ZPLBUVoQSmV12l1x-nuu312jKty-5rmojmde_a0g?ccb=10-5&oh=00_AfASq_vjojFza_9A-HDeRgHM3wZ8yjNprpYBjNKOn8RkSg&oe=64550A9E&_nc_sid=f36290"
                        }
                      ]
                    }
                  },
                  "single_qr_code": {
                    "summary": "Filtered by specific QR code",
                    "description": "Response when filtering by a specific QR code ID",
                    "value": {
                      "data": [
                        {
                          "code": "ANED2T5QRU7HG1",
                          "prefilled_message": "Show me Cyber Monday deals!",
                          "deep_link_url": "https://wa.me/message/ANED2T5QRU7HG1"
                        }
                      ]
                    }
                  },
                  "empty_response": {
                    "summary": "No QR codes found",
                    "description": "Response when no QR codes exist or match the filter criteria",
                    "value": {
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid fields parameter. Check field names and format specifications",
                    "type": "OAuthException",
                    "code": 100,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid OAuth access token",
                    "type": "OAuthException",
                    "code": 190,
                    "error_subcode": 463,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Your app doesn't have permission to list QR codes for this phone number",
                    "type": "OAuthException",
                    "code": 200,
                    "error_subcode": 1349174,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "error_user_title": "Permission Denied",
                    "error_user_msg": "Your app doesn't have permission to access this resource"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Phone number ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Phone number not found",
                    "type": "GraphMethodException",
                    "code": 803,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Too many API calls. Please try again later",
                    "type": "OAuthException",
                    "code": 4,
                    "error_subcode": 2446079,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "is_transient": true
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "An unexpected error occurred. Please retry your request",
                    "type": "GraphMethodException",
                    "code": 2,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "is_transient": true
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create or Update Message QR Code",
        "description": "Create a new QR code (without code parameter) or update existing QR code (with code parameter).\nSupports optional QR image generation in PNG or SVG format.\n",
        "operationId": "createOrUpdateQrCode",
        "tags": [
          "numeros"
        ],
        "parameters": [
          {
            "name": "Phone-Number-ID",
            "in": "path",
            "required": true,
            "description": "The WhatsApp Business Account phone number ID for which to create or update the QR code.\nThis ID is provided when you add a phone number to your WhatsApp Business Account.\n",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "1234567890123456"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "description": "Request payload for creating a new message QR code",
                    "required": [
                      "prefilled_message"
                    ],
                    "properties": {
                      "prefilled_message": {
                        "type": "string",
                        "description": "Pre-filled message text (max 140 characters) that appears in customer chat",
                        "maxLength": 140,
                        "example": "Hi! I'm interested in your products. Can you help me?"
                      },
                      "generate_qr_image": {
                        "type": "string",
                        "description": "QR image format. When specified, response includes qr_image_url",
                        "enum": [
                          "PNG",
                          "SVG"
                        ],
                        "example": "SVG"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "description": "Request payload for updating an existing message QR code",
                    "required": [
                      "code",
                      "prefilled_message"
                    ],
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "14-character QR code identifier to update",
                        "pattern": "^[A-Z2-7]{14}$",
                        "minLength": 14,
                        "maxLength": 14,
                        "example": "ANED2T5QRU7HG1"
                      },
                      "prefilled_message": {
                        "type": "string",
                        "description": "New pre-filled message text (max 140 characters)",
                        "maxLength": 140,
                        "example": "Hello! I'd like to know more about your latest offers."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "create_qr_code": {
                  "summary": "Create new QR code with SVG image",
                  "description": "Creates a new QR code and generates an SVG image",
                  "value": {
                    "prefilled_message": "Hi! I'm interested in your products. Can you help me?",
                    "generate_qr_image": "SVG"
                  }
                },
                "create_qr_code_png": {
                  "summary": "Create new QR code with PNG image",
                  "description": "Creates a new QR code and generates a PNG image",
                  "value": {
                    "prefilled_message": "Hello! I'd like to get more information about your services.",
                    "generate_qr_image": "PNG"
                  }
                },
                "create_qr_code_no_image": {
                  "summary": "Create new QR code without image",
                  "description": "Creates a new QR code without generating an image file",
                  "value": {
                    "prefilled_message": "I'm interested in learning more about your business!"
                  }
                },
                "update_existing_qr_code": {
                  "summary": "Update existing QR code message",
                  "description": "Updates the pre-filled message for an existing QR code",
                  "value": {
                    "code": "ANED2T5QRU7HG1",
                    "prefilled_message": "Hello! I'd like to know more about your latest offers."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created or updated the message QR code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response containing QR code details after creation or update",
                  "required": [
                    "code",
                    "prefilled_message",
                    "deep_link_url"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Unique 14-character identifier for the QR code. This code is used\nfor future updates or deletions.\n",
                      "pattern": "^[A-Z2-7]{14}$",
                      "example": "ANED2T5QRU7HG1"
                    },
                    "prefilled_message": {
                      "type": "string",
                      "description": "The pre-filled message text associated with this QR code.\nThis text appears when customers use the QR code.\n",
                      "example": "Hi! I'm interested in your products. Can you help me?"
                    },
                    "deep_link_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "WhatsApp deep link URL that can be used directly without QR code scanning.\nCustomers can click this link to start a conversation with the pre-filled message.\n",
                      "example": "https://wa.me/message/ANED2T5QRU7HG1"
                    },
                    "qr_image_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to download the QR code image. Only present if generate_qr_image\nparameter was specified in the request. Image format matches the requested format.\n",
                      "example": "https://scontent-iad3-2.xx.fbcdn.net/m1/v/t6/An-psFmLBls2NFXnhhkSVqwIHEqCTQoNKTLxxlOeci0Wbsukd2RLiwZalHrXwqT5RTFSzOhyw6OLvJJO0itaQtJI1BS2WkNcV67wR3GNx7ZX1tFSNCbpo1e6KPptKF1GbVGzmUfkgSPX?ccb=10-5&oh=00_AfAOAr6oRA2OKV_Ur3GUh4em57sACxUkfhXHsObiFrxOsA&oe=64DCCEF6&_nc_sid=5a413f"
                    }
                  }
                },
                "examples": {
                  "created_qr_code_with_image": {
                    "summary": "Newly created QR code with image",
                    "value": {
                      "code": "ANED2T5QRU7HG1",
                      "prefilled_message": "Hi! I'm interested in your products. Can you help me?",
                      "deep_link_url": "https://wa.me/message/ANED2T5QRU7HG1",
                      "qr_image_url": "https://scontent-iad3-2.xx.fbcdn.net/m1/v/t6/An-psFmLBls2NFXnhhkSVqwIHEqCTQoNKTLxxlOeci0Wbsukd2RLiwZalHrXwqT5RTFSzOhyw6OLvJJO0itaQtJI1BS2WkNcV67wR3GNx7ZX1tFSNCbpo1e6KPptKF1GbVGzmUfkgSPX?ccb=10-5&oh=00_AfAOAr6oRA2OKV_Ur3GUh4em57sACxUkfhXHsObiFrxOsA&oe=64DCCEF6&_nc_sid=5a413f"
                    }
                  },
                  "updated_qr_code": {
                    "summary": "Updated existing QR code",
                    "value": {
                      "code": "WOMVT6TJ2BP7A1",
                      "prefilled_message": "Hello! I'd like to know more about your latest offers.",
                      "deep_link_url": "https://wa.me/message/WOMVT6TJ2BP7A1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid prefilled_message length. Maximum 140 characters allowed",
                    "type": "OAuthException",
                    "code": 100,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid OAuth access token",
                    "type": "OAuthException",
                    "code": 190,
                    "error_subcode": 463,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Your app doesn't have permission to manage QR codes for this phone number",
                    "type": "OAuthException",
                    "code": 200,
                    "error_subcode": 1349174,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "error_user_title": "Permission Denied",
                    "error_user_msg": "Your app doesn't have permission to access this resource"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Phone number ID does not exist or QR code not found for update",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Phone number not found",
                    "type": "GraphMethodException",
                    "code": 803,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Too many QR code operations. Please try again later",
                    "type": "OAuthException",
                    "code": 4,
                    "error_subcode": 2446079,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "is_transient": true
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "An unexpected error occurred. Please retry your request",
                    "type": "GraphMethodException",
                    "code": 2,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "is_transient": true
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/{Phone-Number-ID}/message_qrdls/{QR-Code-ID}": {
      "get": {
        "summary": "Get Individual Message QR Code",
        "description": "Retrieve details for a specific QR code by its unique identifier.\nSupports field selection and QR image generation. Response returns QR code in data array for consistency.\n",
        "operationId": "getIndividualQrCode",
        "tags": [
          "numeros"
        ],
        "parameters": [
          {
            "name": "Phone-Number-ID",
            "in": "path",
            "required": true,
            "description": "The WhatsApp Business Account phone number ID that owns the QR code.\nThis ID is provided when you add a phone number to your WhatsApp Business Account.\n",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "1234567890123456"
          },
          {
            "name": "QR-Code-ID",
            "in": "path",
            "required": true,
            "description": "The unique 14-character identifier of the QR code to retrieve.\nThis is the code value returned when the QR code was created.\n",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z2-7]{14}$",
              "minLength": 14,
              "maxLength": 14
            },
            "example": "ANED2T5QRU7HG1"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to include in the response. Available fields:\n- code: QR code identifier (always included)\n- prefilled_message: Pre-filled message text (always included)\n- deep_link_url: WhatsApp deep link URL (always included)\n- creation_time: Unix timestamp when QR code was created (first-party apps only)\n- qr_image_url.format(FORMAT): QR code image URL where FORMAT is SVG or PNG\n\nExample: \"code,prefilled_message,qr_image_url.format(SVG)\"\n",
            "schema": {
              "type": "string"
            },
            "example": "code,prefilled_message,deep_link_url,qr_image_url.format(SVG)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the message QR code details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response containing QR code details after creation or update",
                  "required": [
                    "code",
                    "prefilled_message",
                    "deep_link_url"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Unique 14-character identifier for the QR code. This code is used\nfor future updates or deletions.\n",
                      "pattern": "^[A-Z2-7]{14}$",
                      "example": "ANED2T5QRU7HG1"
                    },
                    "prefilled_message": {
                      "type": "string",
                      "description": "The pre-filled message text associated with this QR code.\nThis text appears when customers use the QR code.\n",
                      "example": "Hi! I'm interested in your products. Can you help me?"
                    },
                    "deep_link_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "WhatsApp deep link URL that can be used directly without QR code scanning.\nCustomers can click this link to start a conversation with the pre-filled message.\n",
                      "example": "https://wa.me/message/ANED2T5QRU7HG1"
                    },
                    "qr_image_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to download the QR code image. Only present if generate_qr_image\nparameter was specified in the request. Image format matches the requested format.\n",
                      "example": "https://scontent-iad3-2.xx.fbcdn.net/m1/v/t6/An-psFmLBls2NFXnhhkSVqwIHEqCTQoNKTLxxlOeci0Wbsukd2RLiwZalHrXwqT5RTFSzOhyw6OLvJJO0itaQtJI1BS2WkNcV67wR3GNx7ZX1tFSNCbpo1e6KPptKF1GbVGzmUfkgSPX?ccb=10-5&oh=00_AfAOAr6oRA2OKV_Ur3GUh4em57sACxUkfhXHsObiFrxOsA&oe=64DCCEF6&_nc_sid=5a413f"
                    }
                  }
                },
                "examples": {
                  "default_fields": {
                    "summary": "Default fields response",
                    "description": "Response with default fields (code, prefilled_message, deep_link_url)",
                    "value": {
                      "data": [
                        {
                          "code": "ANED2T5QRU7HG1",
                          "prefilled_message": "Show me Cyber Monday deals!",
                          "deep_link_url": "https://wa.me/message/ANED2T5QRU7HG1"
                        }
                      ]
                    }
                  },
                  "with_qr_image_svg": {
                    "summary": "Response with SVG QR code image",
                    "description": "Response including QR code image URL in SVG format",
                    "value": {
                      "data": [
                        {
                          "code": "ANED2T5QRU7HG1",
                          "prefilled_message": "Show me Cyber Monday deals!",
                          "deep_link_url": "https://wa.me/message/ANED2T5QRU7HG1",
                          "qr_image_url": "https://scontent-iad3-1.xx.fbcdn.net/m1/v/t6/An-H7T8OyTqO07lcRGHlKteuPMKDnx07nua3dGb4i560bVxDscweOV4KoKD_4wCDFoHR_C5LyVjxQISKPxwora1bbFhUEo2nA19ZPLBUVoQSmV12l1x-nuu312jKty-5rmojmde_a0g?ccb=10-5&oh=00_AfASq_vjojFza_9A-HDeRgHM3wZ8yjNprpYBjNKOn8RkSg&oe=64550A9E&_nc_sid=f36290"
                        }
                      ]
                    }
                  },
                  "with_creation_time": {
                    "summary": "Response with creation time (first-party apps only)",
                    "description": "Response including creation timestamp for first-party applications",
                    "value": {
                      "data": [
                        {
                          "code": "ANED2T5QRU7HG1",
                          "prefilled_message": "Show me Cyber Monday deals!",
                          "deep_link_url": "https://wa.me/message/ANED2T5QRU7HG1",
                          "creation_time": 1672531200
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid QR code ID format or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid QR code ID format. Expected 14-character alphanumeric string",
                    "type": "OAuthException",
                    "code": 100,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid OAuth access token",
                    "type": "OAuthException",
                    "code": 190,
                    "error_subcode": 463,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
[...]
