{
  "openapi": "3.0.3",
  "info": {
    "title": "WhatsApp Business Cloud API - contas",
    "version": "v23.0",
    "description": "API for retrieving connected client businesses associated with a Meta application.\n\n\nThis endpoint allows applications to retrieve information about businesses that have\nestablished client connections through the application. This is essential for managing\nbusiness relationships and understanding client business configurations.\n",
    "contact": {
      "name": "Meta Business Platform Team",
      "url": "https://developers.facebook.com/support"
    },
    "license": {
      "name": "Meta Platform Terms",
      "url": "https://developers.facebook.com/terms"
    },
    "termsOfService": "https://developers.facebook.com/terms"
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v23.0",
      "description": "WhatsApp Business Cloud API (v23.0)"
    }
  ],
  "tags": [
    {
      "name": "contas",
      "description": "WhatsApp Business Account: dados, usuários, agendamentos e webhooks."
    }
  ],
  "paths": {
    "/{Business-ID}/owned_whatsapp_business_accounts": {
      "get": {
        "summary": "Get Owned WhatsApp Business Accounts",
        "description": "Retrieve WhatsApp Business Accounts owned by the specified business. This endpoint\nprovides comprehensive information about all WABAs owned by the business, including\naccount details, configuration, and status information.\n\n**Use Cases:**\n- Retrieve all WhatsApp Business Accounts owned by a business\n- Filter accounts by business type\n- Find specific accounts by ID\n- Monitor business portfolio of WhatsApp Business Accounts\n- Manage account access and permissions across multiple WABAs\n\n**Rate Limiting:**\nStandard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.\n\n**Caching:**\nAccount information can be cached for short periods, but status and configuration\nmay change frequently. Implement appropriate cache invalidation strategies.\n",
        "operationId": "getOwnedWhatsAppBusinessAccounts",
        "tags": [
          "contas"
        ],
        "parameters": [
          {
            "name": "Business-ID",
            "in": "path",
            "required": true,
            "description": "Your Business ID. This ID represents the business portfolio that owns the\nWhatsApp Business Accounts and can be found in your Business Manager settings.\n",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "1234567890123456"
          },
          {
            "name": "business_type",
            "in": "query",
            "required": false,
            "description": "Filter accounts by business type. Can specify multiple types as comma-separated values.\nUse this to filter between enterprise and small-medium business accounts.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Type of WhatsApp Business Account",
                "enum": [
                  "ENTERPRISE",
                  "SMB"
                ],
                "example": "ENTERPRISE"
              }
            },
            "style": "form",
            "explode": false,
            "example": [
              "ENTERPRISE",
              "SMB"
            ]
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor for forward pagination. Use the cursor from the previous response\nto get the next page of results.\n",
            "schema": {
              "type": "string"
            },
            "example": "QVFIUjBrRUs5QVJuUDhDSmZARMlc2dXRYNXBmMjMtRUt3SmFlbk9PRk43azdiN1VQaW1HcnRkejFzZATNoNDdTdGVWMDhjamVvY25HWnI4WjIzX0hYSk40NHhB"
          },
          {
            "name": "first",
            "in": "query",
            "required": false,
            "description": "Number of results to return in forward pagination. Maximum value is 100.\nUse with 'after' cursor for forward pagination.\n",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "example": 25
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor for backward pagination. Use the cursor from the previous response\nto get the previous page of results.\n",
            "schema": {
              "type": "string"
            },
            "example": "QVFIUnpPVXRnY3BPN19rTVItOG51T291YURjV3BaeXRXU29adDVreS04ekhSNl9YWTlfdmN3SHlyTEk1a2FRdnlWanBqM1FuQm1uZAHhfYl9UMTNCYjM3MWV3"
          },
          {
            "name": "last",
            "in": "query",
            "required": false,
            "description": "Number of results to return in backward pagination. Maximum value is 100.\nUse with 'before' cursor for backward pagination.\n",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "example": 25
          },
          {
            "name": "find",
            "in": "query",
            "required": false,
            "description": "Find a specific WhatsApp Business Account by ID within the owned accounts.\nUse this to quickly locate a specific account.\n",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "104996122399160"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved owned WhatsApp Business Accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Paginated collection of owned WhatsApp Business Accounts",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "WhatsApp Business Account details and configuration",
                        "required": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the WhatsApp Business Account",
                            "example": "1234567890123456"
                          },
                          "name": {
                            "type": "string",
                            "description": "Human-readable name of the WhatsApp Business Account",
                            "minLength": 1,
                            "maxLength": 255,
                            "example": "My WhatsApp Business Account"
                          },
                          "account_review_status": {
                            "type": "string",
                            "description": "Review status of the WhatsApp Business Account",
                            "enum": [
                              "APPROVED",
                              "PENDING",
                              "REJECTED",
                              "RESTRICTED"
                            ],
                            "example": "APPROVED"
                          },
                          "purchase_order_number": {
                            "type": "string",
                            "description": "Purchase order number associated with the account",
                            "example": "PO-2023-001234"
                          },
                          "audiences": {
                            "type": "array",
                            "description": "List of audience segments associated with the account",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "customers",
                              "prospects"
                            ]
                          },
                          "ownership_type": {
                            "type": "string",
                            "description": "Type of ownership for the WhatsApp Business Account",
                            "enum": [
                              "SELF_OWNED",
                              "CLIENT_OWNED",
                              "AGENCY_OWNED"
                            ],
                            "example": "CLIENT_OWNED"
                          },
                          "subscribed_apps": {
                            "type": "array",
                            "description": "List of applications subscribed to this WABA",
                            "items": {
                              "type": "object",
                              "description": "Application subscribed to the WABA",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Application ID",
                                  "example": "9876543210987654"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Application name",
                                  "example": "WhatsApp Integration App"
                                }
                              }
                            }
                          },
                          "business_verification_status": {
                            "type": "string",
                            "description": "Verification status of the connected client business",
                            "enum": [
                              "VERIFIED",
                              "UNVERIFIED",
                              "PENDING",
                              "REJECTED"
                            ],
                            "example": "VERIFIED"
                          },
                          "country": {
                            "type": "string",
                            "description": "Country code where the WABA is registered",
                            "pattern": "^[A-Z]{2}$",
                            "example": "US"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency code for the WABA",
                            "pattern": "^[A-Z]{3}$",
                            "example": "USD"
                          },
                          "timezone_id": {
                            "type": "string",
                            "description": "Timezone identifier for the WABA",
                            "example": "1"
                          },
                          "on_behalf_of_business_info": {
                            "type": "object",
                            "description": "Information about the business on whose behalf the WABA operates",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Business ID",
                                "example": "5678901234567890"
                              },
                              "name": {
                                "type": "string",
                                "description": "Business name",
                                "example": "Partner Business Inc"
                              }
                            }
                          },
                          "schedules": {
                            "type": "array",
                            "description": "Business hours and scheduling information",
                            "items": {
                              "type": "object",
                              "description": "Business hours schedule information",
                              "properties": {
                                "day_of_week": {
                                  "type": "string",
                                  "enum": [
                                    "MONDAY",
                                    "TUESDAY",
                                    "WEDNESDAY",
                                    "THURSDAY",
                                    "FRIDAY",
                                    "SATURDAY",
                                    "SUNDAY"
                                  ],
                                  "example": "MONDAY"
                                },
                                "open_time": {
                                  "type": "string",
                                  "description": "Opening time in HH:MM format",
                                  "pattern": "^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$",
                                  "example": "09:00"
                                },
                                "close_time": {
                                  "type": "string",
                                  "description": "Closing time in HH:MM format",
                                  "pattern": "^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$",
                                  "example": "17:00"
                                }
                              }
                            }
                          },
                          "is_enabled_for_insights": {
                            "type": "boolean",
                            "description": "Whether insights are enabled for this WABA",
                            "example": true
                          },
                          "dcc_config": {
                            "type": "object",
                            "description": "Data and Content Control configuration",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "description": "Whether DCC is enabled",
                                "example": true
                              },
                              "policy_url": {
                                "type": "string",
                                "description": "URL to the DCC policy",
                                "example": "https://example.com/dcc-policy"
                              }
                            }
                          },
                          "message_templates": {
                            "type": "array",
                            "description": "Message templates associated with the WABA",
                            "items": {
                              "type": "object",
                              "description": "Message template information",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Template ID",
                                  "example": "template_123456"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Template name",
                                  "example": "welcome_message"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "APPROVED",
                                    "PENDING",
                                    "REJECTED",
                                    "DISABLED"
                                  ],
                                  "example": "APPROVED"
                                }
                              }
                            }
                          },
                          "phone_numbers": {
                            "type": "array",
                            "description": "Phone numbers associated with the WABA",
                            "items": {
                              "type": "object",
                              "description": "Phone number associated with the WABA",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Phone number ID",
                                  "example": "1234567890123456"
                                },
                                "display_phone_number": {
                                  "type": "string",
                                  "description": "Formatted phone number for display",
                                  "example": "+1 (555) 123-4567"
                                },
                                "verified_name": {
                                  "type": "string",
                                  "description": "Verified business name for the phone number",
                                  "example": "Example Business"
                                }
                              }
                            }
                          },
                          "message_template_namespace": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Array of owned WhatsApp Business Account records"
                    },
                    "paging": {
                      "type": "object",
                      "description": "Cursor-based pagination information",
                      "properties": {
                        "cursors": {
                          "type": "object",
                          "properties": {
                            "before": {
                              "type": "string",
                              "description": "Cursor pointing to the start of the page of data",
                              "example": "QVFIUjNpUWpVWmRBd0dn"
                            },
                            "after": {
                              "type": "string",
                              "description": "Cursor pointing to the end of the page of data",
                              "example": "QVFIUjNpUWpVWmRBd0Rn"
                            }
                          }
                        },
                        "previous": {
                          "type": "string",
                          "description": "URL for the previous page of results",
                          "example": "https://graph.facebook.com/v23.0/1234567890/connected_client_businesses?before=QVFIUjNpUWpVWmRBd0Dn"
                        },
                        "next": {
                          "type": "string",
                          "description": "URL for the next page of results",
                          "example": "https://graph.facebook.com/v23.0/1234567890/connected_client_businesses?after=QVFIUjNpUWpVWmRBd0Rn"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "multiple_accounts": {
                    "summary": "Multiple owned WhatsApp Business Accounts",
                    "value": {
                      "data": [
                        {
                          "id": "104996122399160",
                          "name": "Lucky Shrub",
                          "message_template_namespace": "58e6d318_b627_4112_b9c7_2961197553ea",
                          "timezone_id": "1"
                        },
                        {
                          "id": "102290129340398",
                          "name": "Test WhatsApp Business Account",
                          "message_template_namespace": "ba30dd89_2ebd_41e4_b805_f2c05ae04cc9",
                          "timezone_id": "1"
                        }
                      ],
                      "paging": {
                        "cursors": {
                          "after": "QVFIUjBrRUs5QVJuUDhDSmZARMlc2dXRYNXBmMjMtRUt3SmFlbk9PRk43azdiN1VQaW1HcnRkejFzZATNoNDdTdGVWMDhjamVvY25HWnI4WjIzX0hYSk40NHhB",
                          "before": "QVFIUnpPVXRnY3BPN19rTVItOG51T291YURjV3BaeXRXU29adDVreS04ekhSNl9YWTlfdmN3SHlyTEk1a2FRdnlWanBqM1FuQm1uZAHhfYl9UMTNCYjM3MWV3"
                        }
                      }
                    }
                  },
                  "single_account": {
                    "summary": "Single owned WhatsApp Business Account",
                    "value": {
                      "data": [
                        {
                          "id": "104996122399160",
                          "name": "Lucky Shrub",
                          "message_template_namespace": "58e6d318_b627_4112_b9c7_2961197553ea",
                          "timezone_id": "1"
                        }
                      ]
                    }
                  },
                  "empty_result": {
                    "summary": "No owned accounts found",
                    "value": {
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid parameter: business_id must be a valid numeric string",
                    "type": "OAuthException",
                    "code": 100,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid OAuth access token",
                    "type": "OAuthException",
                    "code": 190,
                    "error_subcode": 463,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Your app doesn't have permission to access this business's WhatsApp Business Accounts",
                    "type": "OAuthException",
                    "code": 200,
                    "error_subcode": 1349174,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "error_user_title": "Permission Denied",
                    "error_user_msg": "Your app doesn't have permission to access this resource"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Business ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Business not found",
                    "type": "GraphMethodException",
                    "code": 803,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request parameters are valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "The requested filter combination is not supported",
                    "type": "GraphMethodException",
                    "code": 100,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Application request limit reached",
                    "type": "OAuthException",
                    "code": 4,
                    "error_subcode": 2446079,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "is_transient": true
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "An unexpected error occurred. Please retry your request",
                    "type": "GraphMethodException",
                    "code": 2,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "is_transient": true
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/{User-ID}/assigned_whatsapp_business_accounts": {
      "get": {
        "summary": "Get Assigned WhatsApp Business Accounts",
        "description": "Retrieve WhatsApp Business Accounts that have been assigned to a specific user.\nThis endpoint provides information about account assignments, permissions, and\ncurrent status corresponding to the GraphAssignedWhatsAppBusinessAccountsEdge node.\n\n\n**Use Cases:**\n- Retrieve all WhatsApp Business Accounts assigned to a user\n- Check user permissions for specific accounts\n- Monitor account assignment status and changes\n- Validate user access before performing business operations\n\n\n**Rate Limiting:**\nStandard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.\n\n\n**Caching:**\nAssignment information can be cached for short periods, but permissions and status\nmay change frequently. Implement appropriate cache invalidation strategies.\n",
        "operationId": "getAssignedWhatsAppBusinessAccounts",
        "tags": [
          "contas"
        ],
        "parameters": [
          {
            "name": "User-ID",
            "in": "path",
            "required": true,
            "description": "The user ID for whom to retrieve assigned WhatsApp Business Accounts.\nThis must be a valid user ID within your solution or partnership.\n",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "1234567890123456"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to include in the response. If not specified,\ndefault fields will be returned (id, name, status).\nAvailable fields: id, name, status, assignment_date, permissions, business_id, phone_numbers\n",
            "schema": {
              "type": "string"
            },
            "example": "id,name,status,permissions"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of accounts to return per page. Default is 25, maximum is 100.\n",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "example": 25
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Use this to get the next page of results.\n",
            "schema": {
              "type": "string"
            },
            "example": "MTAxNTExOTQ1MjAwNzI5NDE="
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Use this to get the previous page of results.\n",
            "schema": {
              "type": "string"
            },
            "example": "NDMyNzQyODI3OTQw"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved assigned WhatsApp Business Accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response containing assigned WhatsApp Business Accounts",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of assigned WhatsApp Business Accounts",
                      "items": {
                        "type": "object",
                        "description": "WhatsApp Business Account assigned to a user",
                        "required": [
                          "id",
                          "name",
                          "status"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the WhatsApp Business Account",
                            "example": "1234567890123456"
                          },
                          "name": {
                            "type": "string",
                            "description": "Display name of the WhatsApp Business Account",
                            "minLength": 1,
                            "maxLength": 100,
                            "example": "Business Account Name"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current status of the WhatsApp Business Account",
                            "enum": [
                              "ACTIVE",
                              "PENDING",
                              "RESTRICTED",
                              "DISABLED"
                            ],
                            "example": "ACTIVE"
                          },
                          "assignment_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when the account was assigned to the user",
                            "example": "2023-10-15T14:30:00Z"
                          },
                          "permissions": {
                            "type": "array",
                            "description": "List of permissions granted to the user for this account",
                            "items": {
                              "type": "string",
                              "description": "Permission level for WhatsApp Business Account access",
                              "enum": [
                                "MANAGE",
                                "DEVELOP",
                                "MANAGE_TEMPLATES",
                                "MANAGE_PHONE",
                                "VIEW_COST",
                                "MANAGE_EXTENSIONS",
                                "VIEW_PHONE_ASSETS",
                                "MANAGE_PHONE_ASSETS",
                                "VIEW_TEMPLATES",
                                "VIEW_INSIGHTS",
                                "RECEIVE_INCOMING_MESSAGES",
                                "MANAGE_BILLING",
                                "MANAGE_USERS",
                                "MESSAGING",
                                "FULL_CONTROL"
                              ],
                              "example": "MANAGE"
                            },
                            "example": [
                              "MANAGE",
                              "DEVELOP",
                              "MANAGE_TEMPLATES"
                            ]
                          },
                          "business_id": {
                            "type": "string",
                            "description": "Business ID that owns this WhatsApp Business Account",
                            "example": "9876543210987654"
                          },
                          "phone_numbers": {
                            "type": "array",
                            "description": "Phone numbers associated with this WhatsApp Business Account",
                            "items": {
                              "type": "object",
                              "description": "Phone number information and status",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The ID associated with the phone number",
                                  "example": "1906385232743451"
                                },
                                "display_phone_number": {
                                  "type": "string",
                                  "description": "The string representation of the phone number",
                                  "example": "+1 631-555-5555"
                                },
                                "verified_name": {
                                  "type": "string",
                                  "description": "The verified name associated with the phone number",
                                  "example": "Jasper's Market"
                                },
                                "quality_rating": {
                                  "type": "string",
                                  "enum": [
                                    "GREEN",
                                    "YELLOW",
                                    "RED",
                                    "NA"
                                  ],
                                  "description": "The quality rating of the phone number based on how messages have been received by recipients in recent days.\n- GREEN: High Quality\n- YELLOW: Medium Quality\n- RED: Low Quality\n- NA: Quality has not been determined\n",
                                  "example": "GREEN"
                                },
                                "code_verification_status": {
                                  "type": "string",
                                  "enum": [
                                    "VERIFIED",
                                    "UNVERIFIED"
                                  ],
                                  "description": "The two-step verification status for the phone number indicating whether the number has completed two-step verification.\n- VERIFIED: Phone number has completed two-step verification\n- UNVERIFIED: Two-step verification is pending or incomplete\n",
                                  "example": "VERIFIED"
                                },
                                "name_status": {
                                  "type": "string",
                                  "enum": [
                                    "APPROVED",
                                    "AVAILABLE_WITHOUT_REVIEW",
                                    "DECLINED",
                                    "EXPIRED",
                                    "PENDING_REVIEW",
                                    "NONE"
                                  ],
                                  "description": "The status of a display name associated with a specific phone number.\n- APPROVED: The display name has been approved and is ready to use.\n- AVAILABLE_WITHOUT_REVIEW: The display name is ready to use without review.\n- DECLINED: The display name has not been approved.\n- EXPIRED: The display name approval has expired.\n- PENDING_REVIEW: The display name is under review.\n- NONE: No display name verification request exists.\n",
                                  "example": "AVAILABLE_WITHOUT_REVIEW"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "paging": {
                      "type": "object",
                      "properties": {
                        "cursors": {
                          "type": "object",
                          "properties": {
                            "before": {
                              "type": "string",
                              "description": "Before cursor"
                            },
                            "after": {
                              "type": "string",
                              "description": "After cursor"
                            }
                          }
                        },
                        "previous": {
                          "type": "string",
                          "description": "Previous page URL"
                        },
                        "next": {
                          "type": "string",
                          "description": "Next page URL"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "multiple_accounts": {
                    "summary": "User with multiple assigned accounts",
                    "value": {
                      "data": [
                        {
                          "id": "1234567890123456",
                          "name": "Primary Business Account",
                          "status": "ACTIVE",
                          "assignment_date": "2023-10-15T14:30:00Z",
                          "permissions": [
                            "MANAGE",
                            "DEVELOP",
                            "MANAGE_TEMPLATES"
                          ],
                          "business_id": "9876543210987654",
                          "phone_numbers": [
                            {
                              "id": "1234567890",
                              "display_phone_number": "+1 (555) 123-4567",
                              "verified_name": "Primary Business",
                              "status": "CONNECTED"
                            }
                          ]
                        },
                        {
                          "id": "2345678901234567",
                          "name": "Secondary Business Account",
                          "status": "ACTIVE",
                          "assignment_date": "2023-10-20T09:15:00Z",
                          "permissions": [
                            "VIEW_INSIGHTS",
                            "MESSAGING"
                          ],
                          "business_id": "8765432109876543"
                        }
                      ]
                    }
                  },
                  "single_account": {
                    "summary": "User with single assigned account",
                    "value": {
                      "data": [
                        {
                          "id": "1234567890123456",
                          "name": "Business Account",
                          "status": "ACTIVE",
                          "assignment_date": "2023-10-15T14:30:00Z",
                          "permissions": [
                            "FULL_CONTROL"
                          ],
                          "business_id": "9876543210987654"
                        }
                      ]
                    }
                  },
                  "no_accounts": {
                    "summary": "User with no assigned accounts",
                    "value": {
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid parameter: user_id must be a valid numeric string",
                    "type": "OAuthException",
                    "code": 100,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid OAuth access token",
                    "type": "OAuthException",
                    "code": 190,
                    "error_subcode": 463,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Your app doesn't have permission to access assigned WhatsApp Business Accounts for this user",
                    "type": "OAuthException",
                    "code": 200,
                    "error_subcode": 1349174,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "error_user_title": "Permission Denied",
                    "error_user_msg": "Your app doesn't have permission to access this resource"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - User ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "User not found",
                    "type": "GraphMethodException",
                    "code": 803,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request parameters are valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "The requested fields are not available for this user",
                    "type": "GraphMethodException",
                    "code": 100,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Application request limit reached",
                    "type": "OAuthException",
                    "code": 4,
                    "error_subcode": 2446079,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "is_transient": true
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "An unexpected error occurred. Please retry your request",
                    "type": "GraphMethodException",
                    "code": 2,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "is_transient": true
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/{WhatsApp-Business-Account-ID}/assigned_users": {
      "get": {
        "summary": "List Assigned Users",
        "description": "Retrieve a list of users assigned to the WhatsApp Business Account with their permissions\nand user details. This endpoint supports pagination and filtering capabilities.\n\n\n**Use Cases:**\n- Audit user access to WhatsApp Business Account\n- Retrieve user permission assignments for compliance\n- List all users with access for management purposes\n- Monitor user access patterns and assignments\n\n\n**Rate Limiting:**\nStandard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.\n\n\n**Caching:**\nUser assignment data can be cached for short periods, but permission changes may occur\nfrequently. Implement appropriate cache invalidation strategies.\n",
        "operationId": "getAssignedUsers",
        "tags": [
          "contas"
        ],
        "parameters": [
          {
            "name": "WhatsApp-Business-Account-ID",
            "in": "path",
            "required": true,
            "description": "Your WhatsApp Business Account ID. This ID is provided when you create the account\nand can be found in your Business Manager or through account management APIs.\n",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "1234567890123456"
          },
          {
            "name": "business",
            "in": "query",
            "required": true,
            "description": "Business ID that owns or has access to the WhatsApp Business Account.\nThis parameter is required to specify the business context for user assignments.\n",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "9876543210987654"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to include in the response. If not specified,\ndefault fields will be returned (id, name). Available fields: id, name, business, user_type\n",
            "schema": {
              "type": "string"
            },
            "example": "id,name,business,user_type"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of assigned users to return per page. Default is 25, maximum is 100.\n",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "example": 25
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Use this to get the next page of results.\n",
            "schema": {
              "type": "string"
            },
            "example": "QVFIUjJ5M2wwdmtONVFHbDZAMVQ4OGJBQUFBQQ"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Use this to get the previous page of results.\n",
            "schema": {
              "type": "string"
            },
            "example": "QVFIUmx1WTBpMGpJWXprYzVYaVhabW9PVVhF"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved assigned users list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response containing list of assigned users with pagination",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Array of assigned users",
                      "items": {
                        "type": "object",
                        "description": "User assigned to WhatsApp Business Account with permissions",
                        "required": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the assigned user",
                            "example": "1234567890123456"
                          },
                          "name": {
                            "type": "string",
                            "description": "Display name of the assigned user",
                            "example": "John Smith"
                          },
                          "business": {
                            "type": "object",
                            "description": "Business entity associated with the user",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Unique identifier for the business",
                                "example": "9876543210987654"
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the business",
                                "example": "Example Business Inc"
                              }
                            }
                          },
                          "user_type": {
                            "type": "string",
                            "description": "Type of user assignment",
                            "enum": [
                              "BUSINESS_USER",
                              "SYSTEM_USER",
                              "PERSONAL_USER"
                            ],
                            "example": "BUSINESS_USER"
                          }
                        }
                      }
                    },
                    "paging": {
                      "type": "object",
                      "description": "Cursor-based pagination information",
                      "properties": {
                        "cursors": {
                          "type": "object",
                          "properties": {
                            "before": {
                              "type": "string",
                              "description": "Cursor pointing to the start of the page of data",
                              "example": "QVFIUjNpUWpVWmRBd0dn"
                            },
                            "after": {
                              "type": "string",
                              "description": "Cursor pointing to the end of the page of data",
                              "example": "QVFIUjNpUWpVWmRBd0Rn"
                            }
                          }
                        },
                        "previous": {
                          "type": "string",
                          "description": "URL for the previous page of results",
                          "example": "https://graph.facebook.com/v23.0/1234567890/connected_client_businesses?before=QVFIUjNpUWpVWmRBd0Dn"
                        },
                        "next": {
                          "type": "string",
                          "description": "URL for the next page of results",
                          "example": "https://graph.facebook.com/v23.0/1234567890/connected_client_businesses?after=QVFIUjNpUWpVWmRBd0Rn"
                        }
                      }
                    },
                    "summary": {
                      "type": "object",
                      "description": "Summary information about assigned users",
                      "properties": {
                        "total_count": {
                          "type": "integer",
                          "description": "Total number of assigned users",
                          "example": 25
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "multiple_users": {
                    "summary": "Multiple assigned users with different types",
                    "value": {
                      "data": [
                        {
                          "id": "1234567890123456",
                          "name": "John Smith",
                          "business": {
                            "id": "9876543210987654",
                            "name": "Example Business Inc"
                          },
                          "user_type": "BUSINESS_USER"
                        },
                        {
                          "id": "2345678901234567",
                          "name": "System User Bot",
                          "business": {
                            "id": "9876543210987654",
                            "name": "Example Business Inc"
                          },
                          "user_type": "SYSTEM_USER"
                        }
                      ],
                      "paging": {
                        "cursors": {
                          "after": "QVFIUjJ5M2wwdmtONVFHbDZAMVQ4OGJBQUFBQQ",
                          "before": "QVFIUmx1WTBpMGpJWXprYzVYaVhabW9PVVhF"
                        },
                        "next": "https://graph.facebook.com/v23.0/1234567890123456/assigned_users?access_token=YOUR_SYSTEM_USER_ACCESS_TOKEN&limit=25&after=QVFIUjJ5M2wwdmtONVFHbDZAMVQ4OGJBQUFBQQ"
                      },
                      "summary": {
                        "total_count": 15
                      }
                    }
                  },
                  "single_user": {
                    "summary": "Single assigned user",
                    "value": {
                      "data": [
                        {
                          "id": "1234567890123456",
                          "name": "Jane Doe",
                          "user_type": "BUSINESS_USER"
                        }
                      ],
                      "summary": {
                        "total_count": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "The parameter business is required to specify a business",
                    "type": "OAuthException",
                    "code": 100,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid OAuth access token",
                    "type": "OAuthException",
                    "code": 190,
                    "error_subcode": 463,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
[...]
