{
  "openapi": "3.0.3",
  "info": {
    "title": "WhatsApp Business Cloud API - parceiros",
    "version": "v23.0",
    "description": "API for retrieving connected client businesses associated with a Meta application.\n\n\nThis endpoint allows applications to retrieve information about businesses that have\nestablished client connections through the application. This is essential for managing\nbusiness relationships and understanding client business configurations.\n",
    "contact": {
      "name": "Meta Business Platform Team",
      "url": "https://developers.facebook.com/support"
    },
    "license": {
      "name": "Meta Platform Terms",
      "url": "https://developers.facebook.com/terms"
    },
    "termsOfService": "https://developers.facebook.com/terms"
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v23.0",
      "description": "WhatsApp Business Cloud API (v23.0)"
    }
  ],
  "tags": [
    {
      "name": "parceiros",
      "description": "Tech Provider e Solution Partner: soluções multiparceiro, WABAs de clientes, números pré-verificados, portfólio empresarial e linha de crédito."
    }
  ],
  "paths": {
    "/{Application-ID}/connected_client_businesses": {
      "get": {
        "summary": "Get Connected Client Businesses",
        "description": "Retrieve a list of client businesses connected to the specified application.\n\n\n**Use Cases:**\n- Monitor application-business client relationships\n- Verify connected business configurations\n- Retrieve business connection status and details\n- Manage client business access and permissions\n\n\n**Rate Limiting:**\nStandard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.\n\n\n**Caching:**\nBusiness connection data can be cached for moderate periods, but status information may change.\nImplement appropriate cache invalidation strategies.\n",
        "operationId": "getConnectedClientBusinesses",
        "tags": [
          "parceiros"
        ],
        "parameters": [
          {
            "name": "Application-ID",
            "in": "path",
            "required": true,
            "description": "Your Meta Application ID. This ID is provided when you create the application\nand can be found in your App Dashboard.\n",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "1234567890123456"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to include in the response. If not specified,\ndefault fields will be returned (id, name, verification_status, business_status).\nAvailable fields: id, name, verification_status, business_status, created_time, updated_time\n",
            "schema": {
              "type": "string"
            },
            "example": "id,name,verification_status,business_status"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of connected client businesses to return per page. Default is 25, maximum is 100.\n",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "example": 25
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Use this to get the next page of results.\n",
            "schema": {
              "type": "string"
            },
            "example": "QVFIUjNpUWpVWmRBd0Rn"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Use this to get the previous page of results.\n",
            "schema": {
              "type": "string"
            },
            "example": "QVFIUjNpUWpVWmRBd0Dn"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved connected client businesses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response containing list of connected client businesses",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Array of connected client businesses",
                      "items": {
                        "type": "object",
                        "description": "Connected client business information and configuration",
                        "required": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the connected client business",
                            "example": "1234567890123456"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the connected client business",
                            "minLength": 1,
                            "maxLength": 255,
                            "example": "Example Client Business"
                          },
                          "verification_status": {
                            "type": "string",
                            "description": "Verification status of the connected client business",
                            "enum": [
                              "VERIFIED",
                              "UNVERIFIED",
                              "PENDING",
                              "REJECTED"
                            ],
                            "example": "VERIFIED"
                          },
                          "business_status": {
                            "type": "string",
                            "description": "Current status of the connected client business",
                            "enum": [
                              "ACTIVE",
                              "INACTIVE",
                              "SUSPENDED",
                              "PENDING_APPROVAL"
                            ],
                            "example": "ACTIVE"
                          },
                          "created_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the business connection was created",
                            "example": "2023-01-15T10:30:00Z"
                          },
                          "updated_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the business connection was last updated",
                            "example": "2023-06-20T14:45:00Z"
                          }
                        }
                      }
                    },
                    "paging": {
                      "type": "object",
                      "description": "Cursor-based pagination information",
                      "properties": {
                        "cursors": {
                          "type": "object",
                          "properties": {
                            "before": {
                              "type": "string",
                              "description": "Cursor pointing to the start of the page of data",
                              "example": "QVFIUjNpUWpVWmRBd0dn"
                            },
                            "after": {
                              "type": "string",
                              "description": "Cursor pointing to the end of the page of data",
                              "example": "QVFIUjNpUWpVWmRBd0Rn"
                            }
                          }
                        },
                        "previous": {
                          "type": "string",
                          "description": "URL for the previous page of results",
                          "example": "https://graph.facebook.com/v23.0/1234567890/connected_client_businesses?before=QVFIUjNpUWpVWmRBd0Dn"
                        },
                        "next": {
                          "type": "string",
                          "description": "URL for the next page of results",
                          "example": "https://graph.facebook.com/v23.0/1234567890/connected_client_businesses?after=QVFIUjNpUWpVWmRBd0Rn"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "multiple_businesses": {
                    "summary": "Multiple connected client businesses",
                    "value": {
                      "data": [
                        {
                          "id": "1234567890123456",
                          "name": "Example Client Business A",
                          "verification_status": "VERIFIED",
                          "business_status": "ACTIVE",
                          "created_time": "2023-01-15T10:30:00Z",
                          "updated_time": "2023-06-20T14:45:00Z"
                        },
                        {
                          "id": "2345678901234567",
                          "name": "Example Client Business B",
                          "verification_status": "PENDING",
                          "business_status": "PENDING_APPROVAL",
                          "created_time": "2023-03-10T09:15:00Z",
                          "updated_time": "2023-03-10T09:15:00Z"
                        }
                      ],
                      "paging": {
                        "cursors": {
                          "after": "QVFIUjNpUWpVWmRBd0Rn"
                        },
                        "next": "https://graph.facebook.com/v23.0/1234567890/connected_client_businesses?after=QVFIUjNpUWpVWmRBd0Rn"
                      }
                    }
                  },
                  "single_business": {
                    "summary": "Single connected client business",
                    "value": {
                      "data": [
                        {
                          "id": "1234567890123456",
                          "name": "Example Client Business",
                          "verification_status": "VERIFIED",
                          "business_status": "ACTIVE"
                        }
                      ]
                    }
                  },
                  "empty_response": {
                    "summary": "No connected client businesses",
                    "value": {
                      "data": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid parameter: application_id must be a valid numeric string",
                    "type": "OAuthException",
                    "code": 100,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid OAuth access token",
                    "type": "OAuthException",
                    "code": 190,
                    "error_subcode": 463,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Your app doesn't have permission to access connected client businesses for this application",
                    "type": "OAuthException",
                    "code": 200,
                    "error_subcode": 1349174,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "error_user_title": "Permission Denied",
                    "error_user_msg": "Your app doesn't have permission to access this resource"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Application ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Application not found",
                    "type": "GraphMethodException",
                    "code": 803,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request parameters are valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "The requested fields are not available for this application",
                    "type": "GraphMethodException",
                    "code": 100,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Application request limit reached",
                    "type": "OAuthException",
                    "code": 4,
                    "error_subcode": 2446079,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "is_transient": true
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "An unexpected error occurred. Please retry your request",
                    "type": "GraphMethodException",
                    "code": 2,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "is_transient": true
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/{Application-ID}/whatsapp_business_solution": {
      "post": {
        "summary": "Create Multi-Partner Solution",
        "description": "Create a new Multi-Partner Solution that defines permission distribution between\na solution owner app and a partner app for WhatsApp Business messaging collaboration.\n\n\n**Permission Logic:**\n- Only one partner (owner or partner app) can have MESSAGING permission\n- At least one partner must have MESSAGING permission\n- Both partners automatically receive default solution partner permissions\n- Empty permission arrays indicate no configurable permissions for that partner\n\n\n**Solution Lifecycle:**\n- Solutions are created with INITIATED status\n- Require subsequent activation workflow through solution management\n- Can be managed through Partner Dashboard or solution management APIs\n\n\n**Rate Limiting:**\nStandard Graph API rate limits apply with WhatsApp Business Management throttling.\nUse appropriate retry logic with exponential backoff for rate-limited requests.\n\n\n**Validation:**\n- Partner app must be accessible and have proper capabilities\n- Permission combinations are validated against business logic rules\n- Solution names must meet length and content requirements\n",
        "operationId": "createWhatsAppBusinessSolution",
        "tags": [
          "parceiros"
        ],
        "parameters": [
          {
            "name": "Application-ID",
            "in": "path",
            "required": true,
            "description": "Your Facebook Application ID that will serve as the solution owner.\nThis application will be the primary owner of the created solution.\n",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "1234567890123456"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request payload for creating a Multi-Partner Solution",
                "required": [
                  "owner_permissions",
                  "partner_app_id",
                  "partner_permissions",
                  "solution_name"
                ],
                "properties": {
                  "owner_permissions": {
                    "type": "array",
                    "description": "Configurable permissions granted to the solution owner app. Currently supports\nonly MESSAGING permission. Use empty array if owner should not have configurable permissions.\n",
                    "items": {
                      "type": "string",
                      "description": "Configurable permission tasks for WhatsApp Business Account access in Multi-Partner Solutions.\nCurrently only MESSAGING permission is configurable through this API.\n",
                      "enum": [
                        "MESSAGING"
                      ],
                      "example": "MESSAGING"
                    },
                    "maxItems": 1,
                    "example": [
                      "MESSAGING"
                    ]
                  },
                  "partner_app_id": {
                    "type": "string",
                    "description": "Facebook Application ID of the partner app that will participate in this solution.\nMust be a valid application ID accessible to the requesting entity.\n",
                    "pattern": "^[0-9]+$",
                    "example": "9876543210987654"
                  },
                  "partner_permissions": {
                    "type": "array",
                    "description": "Configurable permissions granted to the partner app. Currently supports\nonly MESSAGING permission. Use empty array if partner should not have configurable permissions.\n",
                    "items": {
                      "type": "string",
                      "description": "Configurable permission tasks for WhatsApp Business Account access in Multi-Partner Solutions.\nCurrently only MESSAGING permission is configurable through this API.\n",
                      "enum": [
                        "MESSAGING"
                      ],
                      "example": "MESSAGING"
                    },
                    "maxItems": 1,
                    "example": []
                  },
                  "solution_name": {
                    "type": "string",
                    "description": "Human-readable name for the Multi-Partner Solution. Used for identification\nand management purposes in partner dashboards and solution management interfaces.\n",
                    "minLength": 2,
                    "maxLength": 75,
                    "example": "E-commerce Integration Solution"
                  }
                }
              },
              "examples": {
                "owner_has_messaging": {
                  "summary": "Owner app has messaging permission",
                  "description": "Solution where the owner app handles messaging operations",
                  "value": {
                    "owner_permissions": [
                      "MESSAGING"
                    ],
                    "partner_app_id": "9876543210987654",
                    "partner_permissions": [],
                    "solution_name": "Owner-Managed Messaging Solution"
                  }
                },
                "partner_has_messaging": {
                  "summary": "Partner app has messaging permission",
                  "description": "Solution where the partner app handles messaging operations",
                  "value": {
                    "owner_permissions": [],
                    "partner_app_id": "9876543210987654",
                    "partner_permissions": [
                      "MESSAGING"
                    ],
                    "solution_name": "Partner-Managed Messaging Solution"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Multi-Partner Solution created successfully. The solution is created with INITIATED status\nand can be managed through subsequent API calls or Partner Dashboard.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Successful response containing the created solution identifier",
                  "required": [
                    "solution_id"
                  ],
                  "properties": {
                    "solution_id": {
                      "type": "string",
                      "description": "Unique identifier for the newly created Multi-Partner Solution.\nUse this ID for subsequent solution management operations.\n",
                      "pattern": "^[0-9]+$",
                      "example": "1234567890123456"
                    }
                  }
                },
                "examples": {
                  "successful_creation": {
                    "summary": "Successful solution creation",
                    "value": {
                      "solution_id": "1234567890123456"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided. This includes validation failures\nfor permission logic, malformed IDs, or constraint violations.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "invalid_permissions": {
                    "summary": "Invalid permission combination",
                    "value": {
                      "error": {
                        "message": "Invalid Permissions for either of the partners",
                        "type": "OAuthException",
                        "code": 100,
                        "fbtrace_id": "A1B2C3D4E5F6G7H8"
                      }
                    }
                  },
                  "invalid_app_id": {
                    "summary": "Invalid partner application ID",
                    "value": {
                      "error": {
                        "message": "Invalid parameter value for partner_app_id",
                        "type": "OAuthException",
                        "code": 100,
                        "fbtrace_id": "A1B2C3D4E5F6G7H8"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required or invalid access token provided.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "invalid_token": {
                    "summary": "Invalid or expired access token",
                    "value": {
                      "error": {
                        "message": "Invalid OAuth access token",
                        "type": "OAuthException",
                        "code": 190,
                        "error_subcode": 463,
                        "fbtrace_id": "A1B2C3D4E5F6G7H8"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or missing required capabilities.\nApp may lack whatsapp_business_management permission or required granular scopes.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "insufficient_permissions": {
                    "summary": "Missing required permissions",
                    "value": {
                      "error": {
                        "message": "Insufficient permissions for this operation",
                        "type": "OAuthException",
                        "code": 200,
                        "fbtrace_id": "A1B2C3D4E5F6G7H8",
                        "error_user_title": "Permission Denied",
                        "error_user_msg": "Your app doesn't have permission to access this resource"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Application ID not found or not accessible to the requesting entity.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "app_not_found": {
                    "summary": "Application not found",
                    "value": {
                      "error": {
                        "message": "Application not found",
                        "type": "GraphMethodException",
                        "code": 803,
                        "fbtrace_id": "A1B2C3D4E5F6G7H8"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request is well-formed but contains business logic violations.\nThis includes cases where both partners have MESSAGING permission or neither has it.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "business_logic_violation": {
                    "summary": "Business logic constraint violation",
                    "value": {
                      "error": {
                        "message": "Invalid Permissions for either of the partners",
                        "type": "GraphMethodException",
                        "code": 100,
                        "fbtrace_id": "A1B2C3D4E5F6G7H8"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limiting threshold exceeded.\nImplement exponential backoff retry logic.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Rate limit exceeded",
                    "value": {
                      "error": {
                        "message": "Application request limit reached",
                        "type": "OAuthException",
                        "code": 4,
                        "is_transient": true,
                        "fbtrace_id": "A1B2C3D4E5F6G7H8"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server-side error occurred.\nThese errors are typically transient and should be retried.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "server_error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "message": "An unexpected error occurred",
                        "type": "GraphMethodException",
                        "code": 2,
                        "is_transient": true,
                        "fbtrace_id": "A1B2C3D4E5F6G7H8"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/{Application-ID}/whatsapp_business_solutions": {
      "get": {
        "summary": "Get Multi-Partner Solutions for Application",
        "description": "Retrieve all WhatsApp Business Multi-Partner Solutions associated with the specified application.\nThis includes both solutions owned by the application and solutions where the application\nacts as a partner.\n\n\n**Use Cases:**\n- Retrieve all solutions for an application's portfolio management\n- Filter solutions by ownership role (owner vs partner)\n- Monitor solution lifecycle and status changes across multiple solutions\n- Verify solution configuration before business onboarding operations\n- Check pending approval requests and status transitions\n\n\n**Filtering:**\nUse the `role` parameter to filter solutions by the application's relationship:\n- `OWNER`: Only solutions owned by this application\n- `PARTNER`: Only solutions where this application is a partner\n- No role parameter: All solutions (both owned and partnered)\n\n\n**Rate Limiting:**\nStandard Graph API rate limits apply. Use appropriate retry logic with exponential backoff.\n\n\n**Caching:**\nSolution details can be cached for short periods, but status information may change\nfrequently during transitions. Implement appropriate cache invalidation strategies.\n",
        "operationId": "getApplicationWhatsAppBusinessSolutions",
        "tags": [
          "parceiros"
        ],
        "parameters": [
          {
            "name": "Application-ID",
            "in": "path",
            "required": true,
            "description": "Your Meta Application ID. This ID can be found in your App Dashboard and represents\nthe application for which you want to retrieve associated Multi-Partner Solutions.\n",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "1234567890123456"
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "description": "Filter solutions by the application's relationship role. If not specified,\nall solutions (both owned and partnered) will be returned.\n",
            "schema": {
              "type": "string",
              "description": "Role of the application in relation to the Multi-Partner Solution",
              "enum": [
                "OWNER",
                "PARTNER"
              ],
              "example": "OWNER"
            },
            "example": "OWNER"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to include in the response. If not specified,\ndefault fields will be returned (name, status, status_for_pending_request).\nAvailable fields: id, name, status, status_for_pending_request, owner_app, owner_permissions\n",
            "schema": {
              "type": "string"
            },
            "example": "id,name,status,owner_app"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of solutions to return in a single request. Default is 25, maximum is 100.\n",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "example": 50
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Use this to get the next page of results.\n",
            "schema": {
              "type": "string"
            },
            "example": "MTAxNTExOTQ1MjAwNzI5NDE"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor for pagination. Use this to get the previous page of results.\n",
            "schema": {
              "type": "string"
            },
            "example": "MAZDZD"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Multi-Partner Solutions for the application",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response containing list of Multi-Partner Solutions with pagination",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Array of Multi-Partner Solutions",
                      "items": {
                        "type": "object",
                        "description": "Multi-Partner Solution details and configuration",
                        "required": [
                          "id",
                          "name",
                          "status",
                          "status_for_pending_request"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the Multi-Partner Solution",
                            "example": "1234567890123456"
                          },
                          "name": {
                            "type": "string",
                            "description": "Human-readable name of the Multi-Partner Solution",
                            "minLength": 2,
                            "maxLength": 75,
                            "example": "E-commerce Integration Solution"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current effective status of the Multi-Partner Solution",
                            "enum": [
                              "DRAFT",
                              "INITIATED",
                              "ACTIVE",
                              "REJECTED",
                              "DEACTIVATED"
                            ],
                            "example": "ACTIVE"
                          },
                          "status_for_pending_request": {
                            "type": "string",
                            "description": "Status of any pending solution status transition requests",
                            "enum": [
                              "PENDING_ACTIVATION",
                              "PENDING_DEACTIVATION",
                              "NONE"
                            ],
                            "example": "NONE"
                          },
                          "owner_app": {
                            "type": "object",
                            "description": "Meta application that owns the Multi-Partner Solution",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Unique identifier for the Meta application",
                                "example": "9876543210987654"
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the Meta application",
                                "example": "Solution Partner App"
                              }
                            }
                          },
                          "owner_permissions": {
                            "type": "array",
                            "description": "List of WhatsApp Business Account permissions granted to the solution owner",
                            "items": {
                              "type": "string",
                              "description": "Granular permission tasks for WhatsApp Business Account access",
                              "enum": [
                                "MANAGE",
                                "DEVELOP",
                                "MANAGE_TEMPLATES",
                                "MANAGE_PHONE",
                                "VIEW_COST",
                                "MANAGE_EXTENSIONS",
                                "VIEW_PHONE_ASSETS",
                                "MANAGE_PHONE_ASSETS",
                                "VIEW_TEMPLATES",
                                "VIEW_INSIGHTS",
                                "RECEIVE_INCOMING_MESSAGES",
                                "MANAGE_BILLING",
                                "MANAGE_USERS",
                                "MESSAGING",
                                "FULL_CONTROL"
                              ],
                              "example": "MANAGE"
                            },
                            "example": [
                              "MANAGE",
                              "DEVELOP",
                              "MANAGE_TEMPLATES"
                            ]
                          }
                        }
                      }
                    },
                    "paging": {
                      "type": "object",
                      "description": "Cursor-based pagination information",
                      "properties": {
                        "cursors": {
                          "type": "object",
                          "properties": {
                            "before": {
                              "type": "string",
                              "description": "Cursor pointing to the start of the page of data",
                              "example": "QVFIUjNpUWpVWmRBd0dn"
                            },
                            "after": {
                              "type": "string",
                              "description": "Cursor pointing to the end of the page of data",
                              "example": "QVFIUjNpUWpVWmRBd0Rn"
                            }
                          }
                        },
                        "previous": {
                          "type": "string",
                          "description": "URL for the previous page of results",
                          "example": "https://graph.facebook.com/v23.0/1234567890/connected_client_businesses?before=QVFIUjNpUWpVWmRBd0Dn"
                        },
                        "next": {
                          "type": "string",
                          "description": "URL for the next page of results",
                          "example": "https://graph.facebook.com/v23.0/1234567890/connected_client_businesses?after=QVFIUjNpUWpVWmRBd0Rn"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "multiple_solutions": {
                    "summary": "Application with multiple solutions (owner and partner)",
                    "value": {
                      "data": [
                        {
                          "id": "1234567890123456",
                          "name": "E-commerce Integration Solution",
                          "status": "ACTIVE",
                          "status_for_pending_request": "NONE",
                          "owner_app": {
                            "id": "9876543210987654",
                            "name": "Solution Partner App"
                          },
                          "owner_permissions": [
                            "MANAGE",
                            "DEVELOP",
                            "MANAGE_TEMPLATES",
                            "VIEW_INSIGHTS"
                          ]
                        },
                        {
                          "id": "2345678901234567",
                          "name": "Customer Support Solution",
                          "status": "DRAFT",
                          "status_for_pending_request": "PENDING_ACTIVATION"
                        }
                      ],
                      "paging": {
                        "cursors": {
                          "after": "MTAxNTExOTQ1MjAwNzI5NDE"
                        },
                        "next": "https://graph.facebook.com/v23.0/1234567890123456/whatsapp_business_solution?after=MTAxNTExOTQ1MjAwNzI5NDE"
                      }
                    }
                  },
                  "owner_only_solutions": {
                    "summary": "Application as owner only (with role=OWNER filter)",
                    "value": {
                      "data": [
                        {
                          "id": "1234567890123456",
                          "name": "E-commerce Integration Solution",
                          "status": "ACTIVE",
                          "status_for_pending_request": "NONE"
                        }
                      ],
                      "paging": {
                        "cursors": {}
                      }
                    }
                  },
                  "empty_results": {
                    "summary": "No solutions found for application",
                    "value": {
                      "data": [],
                      "paging": {
                        "cursors": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid parameter: application_id must be a valid numeric string",
                    "type": "OAuthException",
                    "code": 100,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Invalid OAuth access token",
                    "type": "OAuthException",
                    "code": 190,
                    "error_subcode": 463,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Your app doesn't have permission to access Multi-Partner Solutions for this application",
                    "type": "OAuthException",
                    "code": 200,
                    "error_subcode": 1349174,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "error_user_title": "Permission Denied",
                    "error_user_msg": "Your app doesn't have permission to access this resource"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Application ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Application not found",
                    "type": "GraphMethodException",
                    "code": 803,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Request parameters are valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "The requested fields are not available for these solutions",
                    "type": "GraphMethodException",
                    "code": 100,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 100
                        },
                        "error_subcode": {
                          "type": "integer",
                          "description": "More specific error subcode when available",
                          "example": 33
                        },
                        "fbtrace_id": {
                          "type": "string",
                          "description": "Unique identifier for debugging and support requests with Meta",
                          "example": "AXsgnV2Cm3ZMGF3dF_cfYIn"
                        },
                        "is_transient": {
                          "type": "boolean",
                          "description": "Indicates whether this error is temporary and the request should be retried",
                          "example": false
                        },
                        "error_user_title": {
                          "type": "string",
                          "description": "User-friendly error title for display purposes",
                          "example": "Permission Denied"
                        },
                        "error_user_msg": {
                          "type": "string",
                          "description": "User-friendly error message for display purposes",
                          "example": "Your app doesn't have permission to access this resource"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "message": "Application request limit reached",
                    "type": "OAuthException",
                    "code": 4,
                    "error_subcode": 2446079,
                    "fbtrace_id": "AXsgnV2Cm3ZMGF3dF_cfYIn",
                    "is_transient": true
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Standard Graph API error response",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "message",
                        "type",
                        "code"
                      ],
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message",
                          "example": "Invalid parameter"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error category type",
                          "example": "OAuthException"
                        },
                        "code": {
[...]
