{
  "openapi": "3.0.3",
  "info": {
    "title": "WhatsApp Business Cloud API - mensagens",
    "version": "v23.0",
    "description": "API for retrieving connected client businesses associated with a Meta application.\n\n\nThis endpoint allows applications to retrieve information about businesses that have\nestablished client connections through the application. This is essential for managing\nbusiness relationships and understanding client business configurations.\n",
    "contact": {
      "name": "Meta Business Platform Team",
      "url": "https://developers.facebook.com/support"
    },
    "license": {
      "name": "Meta Platform Terms",
      "url": "https://developers.facebook.com/terms"
    },
    "termsOfService": "https://developers.facebook.com/terms"
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v23.0",
      "description": "WhatsApp Business Cloud API (v23.0)"
    }
  ],
  "tags": [
    {
      "name": "mensagens",
      "description": "Envio de mensagens, mídia, chamadas e histórico de conversas."
    }
  ],
  "paths": {
    "/{Phone-Number-ID}/call_permissions": {
      "parameters": [
        {
          "name": "Phone-Number-ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "102290129340398"
          },
          "description": "The ID of the phone number registered with your WhatsApp Business Account"
        }
      ],
      "get": {
        "tags": [
          "mensagens"
        ],
        "summary": "Check Call Permissions",
        "description": "Check whether you have permission to call a WhatsApp user and what actions are available. This endpoint returns the current permission status for calling a specific user, along with available actions and their limits.\n\n**Permission Status:**\n- `granted`: You have active permission to call this user - `pending`: A permission request has been sent but not yet approved - `denied`: The user has denied call permissions - `expired`: Previous permission has expired\n\n**Available Actions:**\n- `start_call`: Initiate a new call to this user - `send_call_permission_request`: Send a permission request to this user\n\n**Error Handling:**\nThis endpoint may return various error codes including rate limiting errors if too many permission checks are made within a short period.\n",
        "operationId": "checkCallPermissions",
        "parameters": [
          {
            "name": "user_wa_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "14085551234"
            },
            "description": "The WhatsApp ID of the user you want to check call permissions for"
          }
        ],
        "responses": {
          "200": {
            "description": "Call Permissions Check Success",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                },
                "description": "CORS policy allowing access from any origin"
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                },
                "description": "Alternative service advertisement for HTTP/3"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, no-cache, no-store, must-revalidate"
                },
                "description": "Cache control directives for the response"
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                },
                "description": "Connection management directive"
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "25"
                },
                "description": "Size of the response body in bytes"
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 24 Jan 2025 00:48:41 GMT"
                },
                "description": "Date and time when the response was generated"
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 01 Jan 2000 00:00:00 GMT"
                },
                "description": "Expiration date for cached responses"
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                },
                "description": "Legacy cache control directive"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=15552000; preload"
                },
                "description": "HSTS header enforcing HTTPS connections"
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                },
                "description": "Headers that affect caching and content negotiation"
              },
              "X-FB-Connection-Quality": {
                "schema": {
                  "type": "string",
                  "example": "EXCELLENT; q=0.9, rtt=7, rtx=0, c=10, mss=1380, tbw=372, tp=-1, tpl=-1, uplat=527, ullat=0"
                },
                "description": "Facebook connection quality metrics"
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string",
                  "example": "52zkUgodnaVRhbBE+3RiGz6TnmjmDEGunwYd+vKSc4synE+Xii//dy6twB/7yKgOJiMUuV0OF248UAZ1qL3v0A=="
                },
                "description": "Facebook debug information for troubleshooting"
              },
              "facebook-api-version": {
                "schema": {
                  "type": "string",
                  "example": "v22.0"
                },
                "description": "Facebook Graph API version used for the request"
              },
              "x-business-use-case-usage": {
                "schema": {
                  "type": "string",
                  "example": "{\"102290129340398\":[{\"type\":\"whatsapp_business_management\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0},{\"type\":\"whatsapp\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}"
                },
                "description": "Business use case usage metrics and rate limiting information"
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string",
                  "example": "AGaOBl2yM-g8gdON-dhzl5y"
                },
                "description": "Unique identifier for the request for debugging purposes"
              },
              "x-fb-rev": {
                "schema": {
                  "type": "string",
                  "example": "1019544279"
                },
                "description": "Facebook internal revision number"
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string",
                  "example": "E7riEe9OW2e"
                },
                "description": "Facebook trace identifier for request tracking"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messaging_product": {
                      "type": "string",
                      "example": "whatsapp",
                      "description": "Messaging product"
                    },
                    "permission": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "granted",
                            "pending",
                            "denied",
                            "expired"
                          ],
                          "example": "granted",
                          "description": "Current permission status for calling this user"
                        },
                        "expiration_time": {
                          "type": "integer",
                          "format": "int64",
                          "example": 1735689600,
                          "description": "Unix timestamp when the permission expires (if applicable)"
                        }
                      },
                      "required": [
                        "status"
                      ],
                      "description": "Call permission details"
                    },
                    "actions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action_name": {
                            "type": "string",
                            "enum": [
                              "start_call",
                              "send_call_permission_request"
                            ],
                            "example": "start_call",
                            "description": "Name of the action"
                          },
                          "can_perform_action": {
                            "type": "boolean",
                            "example": true,
                            "description": "Whether the business can perform this action"
                          },
                          "limits": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "time_period": {
                                  "type": "string",
                                  "example": "24h",
                                  "description": "Time period for the limit"
                                },
                                "current_usage": {
                                  "type": "integer",
                                  "example": 5,
                                  "description": "Current usage count"
                                },
                                "max_allowed": {
                                  "type": "integer",
                                  "example": 100,
                                  "description": "Maximum allowed usage"
                                },
                                "limit_expiration_time": {
                                  "type": "integer",
                                  "format": "int64",
                                  "example": 1735689600,
                                  "description": "Unix timestamp when the limit resets"
                                }
                              },
                              "required": [
                                "time_period",
                                "current_usage",
                                "max_allowed"
                              ]
                            },
                            "description": "Rate limits for this action"
                          }
                        },
                        "required": [
                          "action_name",
                          "can_perform_action"
                        ]
                      },
                      "description": "Available actions and their restrictions"
                    }
                  },
                  "required": [
                    "messaging_product",
                    "permission"
                  ]
                },
                "examples": {
                  "Granted Permission": {
                    "value": {
                      "messaging_product": "whatsapp",
                      "permission": {
                        "status": "granted",
                        "expiration_time": 1735689600
                      },
                      "actions": [
                        {
                          "action_name": "start_call",
                          "can_perform_action": true,
                          "limits": [
                            {
                              "time_period": "24h",
                              "current_usage": 5,
                              "max_allowed": 100,
                              "limit_expiration_time": 1735689600
                            }
                          ]
                        },
                        {
                          "action_name": "send_call_permission_request",
                          "can_perform_action": false,
                          "limits": null
                        }
                      ]
                    }
                  },
                  "Pending Permission": {
                    "value": {
                      "messaging_product": "whatsapp",
                      "permission": {
                        "status": "pending"
                      },
                      "actions": [
                        {
                          "action_name": "start_call",
                          "can_perform_action": false
                        },
                        {
                          "action_name": "send_call_permission_request",
                          "can_perform_action": false
                        }
                      ]
                    }
                  },
                  "Denied Permission": {
                    "value": {
                      "messaging_product": "whatsapp",
                      "permission": {
                        "status": "denied"
                      },
                      "actions": [
                        {
                          "action_name": "start_call",
                          "can_perform_action": false
                        },
                        {
                          "action_name": "send_call_permission_request",
                          "can_perform_action": true,
                          "limits": [
                            {
                              "time_period": "24h",
                              "current_usage": 2,
                              "max_allowed": 5,
                              "limit_expiration_time": 1735689600
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable description of the error"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error type classification"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code"
                        }
                      },
                      "required": [
                        "message",
                        "type",
                        "code"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "InvalidTemplateParameters": {
                    "summary": "Invalid template name or parameters",
                    "value": {
                      "error": {
                        "message": "Invalid template name or parameters",
                        "type": "OAuthException",
                        "code": 100
                      }
                    }
                  },
                  "MalformedRequest": {
                    "summary": "Malformed request body",
                    "value": {
                      "error": {
                        "message": "Invalid JSON in request body",
                        "type": "OAuthException",
                        "code": 100
                      }
                    }
                  },
                  "MissingFeatureSetting": {
                    "summary": "One feature setting must be specified",
                    "value": {
                      "error": {
                        "message": "One feature setting must be specified",
                        "type": "OAuthException",
                        "code": 100
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable description of the error"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error type classification"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code"
                        }
                      },
                      "required": [
                        "message",
                        "type",
                        "code"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "RateLimitExceeded": {
                    "summary": "Rate limit exceeded",
                    "value": {
                      "error": {
                        "message": "Rate limit exceeded",
                        "type": "OAuthException",
                        "code": 4
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Template not approved or insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable description of the error"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error type classification"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code"
                        }
                      },
                      "required": [
                        "message",
                        "type",
                        "code"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "TemplateNotApproved": {
                    "summary": "Template not approved for marketing use",
                    "value": {
                      "error": {
                        "message": "Template not approved for marketing use",
                        "type": "OAuthException",
                        "code": 200
                      }
                    }
                  },
                  "InsufficientPermissions": {
                    "summary": "Insufficient permissions for this operation",
                    "value": {
                      "error": {
                        "message": "This operation requires additional permissions",
                        "type": "OAuthException",
                        "code": 200
                      }
                    }
                  },
                  "FeatureNotSupported": {
                    "summary": "Feature not supported",
                    "value": {
                      "error": {
                        "message": "Not supported",
                        "type": "OAuthException",
                        "code": 10
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable description of the error"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error type classification"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code"
                        }
                      },
                      "required": [
                        "message",
                        "type",
                        "code"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "UnexpectedError": {
                    "summary": "Unexpected server error",
                    "value": {
                      "error": {
                        "message": "An unexpected error occurred",
                        "type": "OAuthException",
                        "code": 1
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/{Phone-Number-ID}/calls": {
      "parameters": [
        {
          "name": "Phone-Number-ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "102290129340398"
          },
          "description": "The ID of the phone number registered with your WhatsApp Business Account"
        }
      ],
      "post": {
        "tags": [
          "mensagens"
        ],
        "summary": "Manage Calls",
        "description": "Use this endpoint to initiate, accept, reject, or terminate WhatsApp calls.\n\n**For initiating or managing a call:**\nSend a POST request with the appropriate action (connect, pre_accept, accept, reject, terminate).\n\n**For terminating a call:**\nSend a POST request with action \"terminate\" and the call_id.\n\n**Note:** Response with error code 138006 indicates a lack of a call request permission for this business number from the WhatsApp user.\n",
        "operationId": "manageCalls",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp",
                        "description": "Messaging product"
                      },
                      "to": {
                        "type": "string",
                        "example": "14085551234",
                        "description": "The number being called (callee)"
                      },
                      "action": {
                        "type": "string",
                        "enum": [
                          "connect",
                          "pre_accept",
                          "accept",
                          "reject",
                          "terminate"
                        ],
                        "example": "connect",
                        "description": "The action being taken on the given call ID"
                      },
                      "session": {
                        "type": "object",
                        "properties": {
                          "sdp_type": {
                            "type": "string",
                            "enum": [
                              "offer",
                              "answer"
                            ],
                            "example": "offer",
                            "description": "SDP type - \"offer\" for connect action, \"answer\" for accept action"
                          },
                          "sdp": {
                            "type": "string",
                            "example": "v=0\no=- 3626166318745852955 2 IN IP4 127.0.0.1\ns=-\nt=0 0\na=group:BUNDLE 0\na=extmap-allow-mixed\na=msid-semantic: WMS d8b26053-4474-4eb7-b3c3-c93d6c8c9b2e\nm=audio 9 UDP/TLS/RTP/SAVPF 111 63 9 0 8 110 126\nc=IN IP4 0.0.0.0\na=rtcp:9 IN IP4 0.0.0.0\na=ice-ufrag:4g1c\na=ice-pwd:qY/Bb+jQzg5ICn6X4fhJQetk\na=ice-options:trickle\na=fingerprint:sha-256 35:47:24:24:9F:93:C4:3E:DB:37:7F:BB:ED:F8:20:B5:AD:AC:DC:35:C2:7D:67:EE:6C:35:54:DF:A6:00:5C:4A\na=setup:actpass\na=mid:0\na=extmap:1 urn:ietf:params:rtp-hdrext:ssrc-audio-level\na=extmap:2 http://www.webrtc.org/experiments/rtp-hdrext/abs-send-time\na=extmap:3 http://www.ietf.org/id/draft-holmer-rmcat-transport-wide-cc-extensions-01\na=extmap:4 urn:ietf:params:rtp-hdrext:sdes:mid\na=sendrecv\na=msid:d8b26053-4474-4eb7-b3c3-c93d6c8c9b2e 5b4d3d96-ea9b-44a8-87e6-11a1ad21a3bc\na=rtcp-mux\na=rtpmap:111 opus/48000/2\na=rtcp-fb:111 transport-cc\na=fmtp:111 minptime=10;useinbandfec=1\na=rtpmap:63 red/48000/2\na=fmtp:63 111/111\na=rtpmap:9 G722/8000\na=rtpmap:0 PCMU/8000\na=rtpmap:8 PCMA/8000\na=rtpmap:110 telephone-event/48000\na=rtpmap:126 telephone-event/8000\na=ssrc:2220762577 cname:w/zwpg3jXNiTFTdZ\na=ssrc:2220762577 msid:d8b26053-4474-4eb7-b3c3-c93d6c8c9b2e 5b4d3d96-ea9b-44a8-87e6-11a1ad21a3bc\n",
                            "description": "The SDP info of the device on the other end of the call. The SDP must be compliant with RFC 8866"
                          }
                        },
                        "required": [
                          "sdp_type",
                          "sdp"
                        ],
                        "description": "Contains the session description protocol (SDP) type and description language"
                      },
                      "biz_opaque_callback_data": {
                        "type": "string",
                        "maxLength": 512,
                        "example": "0fS5cePMok",
                        "description": "An arbitrary string you can pass in that is useful for tracking and logging purposes. Any app subscribed to the \"calls\" webhook field on your WhatsApp Business Account can receive this string, as it is included in the calls object within the subsequent Call Terminate Webhook payload. Cloud API does not process this field. Maximum 512 characters\n"
                      }
                    },
                    "required": [
                      "messaging_product",
                      "to",
                      "action"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp",
                        "description": "Messaging product"
                      },
                      "call_id": {
                        "type": "string",
                        "example": "wacid.HBgLMTIxODU1NTI4MjgVAgARGCAyODRQIAFRoA",
                        "description": "The WhatsApp call ID"
                      },
                      "action": {
                        "type": "string",
                        "enum": [
                          "terminate"
                        ],
                        "example": "terminate",
                        "description": "Action to terminate the call"
                      }
                    },
                    "required": [
                      "messaging_product",
                      "call_id",
                      "action"
                    ]
                  }
                ]
              },
              "examples": {
                "Connect Call": {
                  "value": {
                    "messaging_product": "whatsapp",
                    "to": "14085551234",
                    "action": "connect",
                    "session": {
                      "sdp_type": "offer",
                      "sdp": "v=0\no=- 3626166318745852955 2 IN IP4 127.0.0.1\ns=-\nt=0 0\na=group:BUNDLE 0\na=extmap-allow-mixed\na=msid-semantic: WMS d8b26053-4474-4eb7-b3c3-c93d6c8c9b2e\nm=audio 9 UDP/TLS/RTP/SAVPF 111 63 9 0 8 110 126\nc=IN IP4 0.0.0.0\na=rtcp:9 IN IP4 0.0.0.0\na=ice-ufrag:4g1c\na=ice-pwd:qY/Bb+jQzg5ICn6X4fhJQetk\na=ice-options:trickle\na=fingerprint:sha-256 35:47:24:24:9F:93:C4:3E:DB:37:7F:BB:ED:F8:20:B5:AD:AC:DC:35:C2:7D:67:EE:6C:35:54:DF:A6:00:5C:4A\na=setup:actpass\na=mid:0\na=extmap:1 urn:ietf:params:rtp-hdrext:ssrc-audio-level\na=extmap:2 http://www.webrtc.org/experiments/rtp-hdrext/abs-send-time\na=extmap:3 http://www.ietf.org/id/draft-holmer-rmcat-transport-wide-cc-extensions-01\na=extmap:4 urn:ietf:params:rtp-hdrext:sdes:mid\na=sendrecv\na=msid:d8b26053-4474-4eb7-b3c3-c93d6c8c9b2e 5b4d3d96-ea9b-44a8-87e6-11a1ad21a3bc\na=rtcp-mux\na=rtpmap:111 opus/48000/2\na=rtcp-fb:111 transport-cc\na=fmtp:111 minptime=10;useinbandfec=1\na=rtpmap:63 red/48000/2\na=fmtp:63 111/111\na=rtpmap:9 G722/8000\na=rtpmap:0 PCMU/8000\na=rtpmap:8 PCMA/8000\na=rtpmap:110 telephone-event/48000\na=rtpmap:126 telephone-event/8000\na=ssrc:2220762577 cname:w/zwpg3jXNiTFTdZ\na=ssrc:2220762577 msid:d8b26053-4474-4eb7-b3c3-c93d6c8c9b2e 5b4d3d96-ea9b-44a8-87e6-11a1ad21a3bc\n"
                    },
                    "biz_opaque_callback_data": "0fS5cePMok"
                  }
                },
                "Terminate Call": {
                  "value": {
                    "messaging_product": "whatsapp",
                    "call_id": "wacid.HBgLMTIxODU1NTI4MjgVAgARGCAyODRQIAFRoA",
                    "action": "terminate"
                  }
                },
                "Accept Call": {
                  "value": {
                    "messaging_product": "whatsapp",
                    "to": "14085551234",
                    "action": "accept",
                    "session": {
                      "sdp_type": "answer",
                      "sdp": "v=0\no=- 3626166318745852955 2 IN IP4 127.0.0.1\ns=-\nt=0 0\na=group:BUNDLE 0\na=extmap-allow-mixed\na=msid-semantic: WMS d8b26053-4474-4eb7-b3c3-c93d6c8c9b2e\nm=audio 9 UDP/TLS/RTP/SAVPF 111 63 9 0 8 110 126\nc=IN IP4 0.0.0.0\na=rtcp:9 IN IP4 0.0.0.0\na=ice-ufrag:4g1c\na=ice-pwd:qY/Bb+jQzg5ICn6X4fhJQetk\na=ice-options:trickle\na=fingerprint:sha-256 35:47:24:24:9F:93:C4:3E:DB:37:7F:BB:ED:F8:20:B5:AD:AC:DC:35:C2:7D:67:EE:6C:35:54:DF:A6:00:5C:4A\na=setup:actpass\na=mid:0\na=extmap:1 urn:ietf:params:rtp-hdrext:ssrc-audio-level\na=extmap:2 http://www.webrtc.org/experiments/rtp-hdrext/abs-send-time\na=extmap:3 http://www.ietf.org/id/draft-holmer-rmcat-transport-wide-cc-extensions-01\na=extmap:4 urn:ietf:params:rtp-hdrext:sdes:mid\na=sendrecv\na=msid:d8b26053-4474-4eb7-b3c3-c93d6c8c9b2e 5b4d3d96-ea9b-44a8-87e6-11a1ad21a3bc\na=rtcp-mux\na=rtpmap:111 opus/48000/2\na=rtcp-fb:111 transport-cc\na=fmtp:111 minptime=10;useinbandfec=1\na=rtpmap:63 red/48000/2\na=fmtp:63 111/111\na=rtpmap:9 G722/8000\na=rtpmap:0 PCMU/8000\na=rtpmap:8 PCMA/8000\na=rtpmap:110 telephone-event/48000\na=rtpmap:126 telephone-event/8000\na=ssrc:2220762577 cname:w/zwpg3jXNiTFTdZ\na=ssrc:2220762577 msid:d8b26053-4474-4eb7-b3c3-c93d6c8c9b2e 5b4d3d96-ea9b-44a8-87e6-11a1ad21a3bc\n"
                    }
                  }
                },
                "Reject Call": {
                  "value": {
                    "messaging_product": "whatsapp",
                    "to": "14085551234",
                    "action": "reject"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call Management Success",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                },
                "description": "CORS policy allowing access from any origin"
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                },
                "description": "Alternative service advertisement for HTTP/3"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, no-cache, no-store, must-revalidate"
                },
                "description": "Cache control directives for the response"
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                },
                "description": "Connection management directive"
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "25"
                },
                "description": "Size of the response body in bytes"
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 24 Jan 2025 00:48:41 GMT"
                },
                "description": "Date and time when the response was generated"
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 01 Jan 2000 00:00:00 GMT"
                },
                "description": "Expiration date for cached responses"
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                },
                "description": "Legacy cache control directive"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=15552000; preload"
                },
                "description": "HSTS header enforcing HTTPS connections"
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                },
                "description": "Headers that affect caching and content negotiation"
              },
              "X-FB-Connection-Quality": {
                "schema": {
                  "type": "string",
                  "example": "EXCELLENT; q=0.9, rtt=7, rtx=0, c=10, mss=1380, tbw=372, tp=-1, tpl=-1, uplat=527, ullat=0"
                },
                "description": "Facebook connection quality metrics"
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string",
                  "example": "52zkUgodnaVRhbBE+3RiGz6TnmjmDEGunwYd+vKSc4synE+Xii//dy6twB/7yKgOJiMUuV0OF248UAZ1qL3v0A=="
                },
                "description": "Facebook debug information for troubleshooting"
              },
              "facebook-api-version": {
                "schema": {
                  "type": "string",
                  "example": "v22.0"
                },
                "description": "Facebook Graph API version used for the request"
              },
              "x-business-use-case-usage": {
                "schema": {
                  "type": "string",
                  "example": "{\"102290129340398\":[{\"type\":\"whatsapp_business_management\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0},{\"type\":\"whatsapp\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}"
                },
                "description": "Business use case usage metrics and rate limiting information"
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string",
                  "example": "AGaOBl2yM-g8gdON-dhzl5y"
                },
                "description": "Unique identifier for the request for debugging purposes"
              },
              "x-fb-rev": {
                "schema": {
                  "type": "string",
                  "example": "1019544279"
                },
                "description": "Facebook internal revision number"
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string",
                  "example": "E7riEe9OW2e"
                },
                "description": "Facebook trace identifier for request tracking"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "messaging_product": {
                          "type": "string",
                          "example": "whatsapp"
                        },
                        "calls": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "wacid.ABGGFjFVU2AfAgo6V"
                              }
                            }
                          },
                          "example": [
                            {
                              "id": "wacid.ABGGFjFVU2AfAgo6V"
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "Connect Call Response": {
                    "value": {
                      "messaging_product": "whatsapp",
                      "calls": [
                        {
                          "id": "wacid.ABGGFjFVU2AfAgo6V"
                        }
                      ]
                    }
                  },
                  "Terminate Call Response": {
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/{Phone-Number-ID}/marketing_messages": {
      "post": {
        "tags": [
          "mensagens"
        ],
        "summary": "Send Marketing Template Message",
        "description": "Send marketing template messages using pre-approved templates. Supports optional product policy controls and message activity sharing settings.",
        "operationId": "sendMarketingMessage",
        "parameters": [
          {
            "name": "Phone-Number-ID",
            "in": "path",
            "required": true,
            "description": "WhatsApp Business Phone Number ID",
            "schema": {
              "type": "string",
              "example": "102290129340398"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "messaging_product": {
                    "type": "string",
                    "description": "Messaging service used. Must be \"whatsapp\"",
                    "enum": [
                      "whatsapp"
                    ],
                    "example": "whatsapp"
                  },
                  "recipient_type": {
                    "type": "string",
                    "description": "Type of recipient. Must be \"individual\"",
                    "enum": [
                      "individual"
                    ],
                    "example": "individual"
                  },
                  "to": {
                    "type": "string",
                    "description": "WhatsApp ID or phone number of the message recipient",
                    "example": "16315552222"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of message. Must be \"template\" for marketing messages",
                    "enum": [
                      "template"
                    ]
                  },
                  "template": {
                    "type": "object",
                    "required": [
                      "name",
                      "language"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the template.",
                        "example": "TEMPLATE_NAME"
                      },
                      "language": {
                        "type": "object",
                        "required": [
                          "policy",
                          "code"
                        ],
                        "properties": {
                          "policy": {
                            "type": "string",
                            "description": "The language policy the message should follow.",
                            "enum": [
                              "deterministic"
                            ],
                            "example": "deterministic"
                          },
                          "code": {
                            "type": "string",
                            "description": "The code of the language or locale to use (e.g., `\"en\"`, `\"en_US\"`).",
                            "example": "en_US"
                          }
                        },
                        "description": "Contains a `language` object. Specifies the language the template may be rendered in"
                      },
                      "components": {
                        "type": "array",
                        "description": "Array of `components` objects containing the parameters of the message.",
                        "items": {
                          "type": "object",
                          "required": [
                            "type"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "Describes the component type.",
                              "enum": [
                                "header",
                                "body",
                                "button"
                              ]
                            },
                            "sub_type": {
                              "type": "string",
                              "description": "Required when `type=button`. Not used for other types. Type of button to create.",
                              "enum": [
                                "quick_reply",
                                "url",
                                "catalog"
                              ]
                            },
                            "parameters": {
                              "type": "array",
                              "description": "Array of parameter objects with the content of the message."
                            },
                            "index": {
                              "type": "string",
                              "description": "Required when `type=button`. Not used for other types. Position index of the button (0-9).",
                              "pattern": "^[2-6, 11-14]$",
                              "example": "0"
                            }
                          }
                        },
                        "example": [
                          {
                            "type": "header",
                            "parameters": [
                              {
                                "type": "image",
                                "image": {
                                  "link": "http(s)://example.com/image.jpg"
                                }
                              }
                            ]
                          },
                          {
                            "type": "body",
                            "parameters": [
                              {
                                "type": "text",
                                "text": "Hello {{1}}! Your order of {{2}} is confirmed for {{3}}."
                              }
                            ]
                          },
                          {
                            "type": "button",
                            "sub_type": "quick_reply",
                            "index": "0",
                            "parameters": [
                              {
                                "type": "payload",
                                "payload": "ORDER_DETAILS_CLICKED"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "product_policy": {
                    "type": "string",
                    "description": "Optional product policy setting",
                    "enum": [
                      "CLOUD_API_FALLBACK",
                      "STRICT"
                    ],
                    "example": "CLOUD_API_FALLBACK"
                  },
                  "message_activity_sharing": {
                    "type": "boolean",
                    "description": "Optional flag to control message activity sharing",
                    "example": true
                  }
                },
                "required": [
                  "messaging_product",
                  "recipient_type",
                  "to",
                  "type",
                  "template"
                ]
              },
              "examples": {
                "Simple Template Message": {
                  "summary": "Basic marketing template message",
                  "value": {
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "to": "16315552222",
                    "type": "template",
                    "template": {
                      "name": "hello_world",
                      "language": {
                        "code": "en"
                      }
                    }
                  }
                },
                "Template with Product Policy": {
                  "summary": "Template message with optional product policy",
                  "value": {
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "to": "16315552222",
                    "type": "template",
                    "template": {
                      "name": "welcome_offer",
                      "language": {
                        "code": "en_US"
                      }
                    },
                    "product_policy": "CLOUD_API_FALLBACK",
                    "message_activity_sharing": true
                  }
                },
                "Parameterized Template": {
                  "summary": "Template message with parameters",
                  "value": {
                    "messaging_product": "whatsapp",
                    "recipient_type": "individual",
                    "to": "16315552222",
                    "type": "template",
                    "template": {
                      "name": "promotional_offer",
                      "language": {
                        "code": "en"
                      },
                      "components": [
                        {
                          "type": "body",
                          "parameters": [
                            {
                              "type": "text",
                              "text": "John Doe"
                            },
                            {
                              "type": "currency",
                              "currency": {
                                "fallback_value": "$25.00",
                                "code": "USD",
                                "amount_1000": 25000
                              }
                            }
                          ]
                        }
                      ]
                    },
                    "product_policy": "STRICT",
                    "message_activity_sharing": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Marketing message sent successfully",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                },
                "description": "CORS policy allowing access from any origin"
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400"
                },
                "description": "Alternative service advertisement for HTTP/3"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, no-cache, no-store, must-revalidate"
                },
                "description": "Cache control directives for the response"
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                },
                "description": "Connection management directive"
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "25"
                },
                "description": "Size of the response body in bytes"
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 24 Jan 2025 00:48:41 GMT"
                },
                "description": "Date and time when the response was generated"
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 01 Jan 2000 00:00:00 GMT"
                },
                "description": "Expiration date for cached responses"
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                },
                "description": "Legacy cache control directive"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=15552000; preload"
                },
                "description": "HSTS header enforcing HTTPS connections"
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                },
                "description": "Headers that affect caching and content negotiation"
              },
              "X-FB-Connection-Quality": {
                "schema": {
                  "type": "string",
                  "example": "EXCELLENT; q=0.9, rtt=7, rtx=0, c=10, mss=1380, tbw=372, tp=-1, tpl=-1, uplat=527, ullat=0"
                },
                "description": "Facebook connection quality metrics"
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string",
                  "example": "52zkUgodnaVRhbBE+3RiGz6TnmjmDEGunwYd+vKSc4synE+Xii//dy6twB/7yKgOJiMUuV0OF248UAZ1qL3v0A=="
                },
                "description": "Facebook debug information for troubleshooting"
              },
              "facebook-api-version": {
                "schema": {
                  "type": "string",
                  "example": "v22.0"
                },
                "description": "Facebook Graph API version used for the request"
              },
              "x-business-use-case-usage": {
                "schema": {
                  "type": "string",
                  "example": "{\"102290129340398\":[{\"type\":\"whatsapp_business_management\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0},{\"type\":\"whatsapp\",\"call_count\":1,\"total_cputime\":1,\"total_time\":1,\"estimated_time_to_regain_access\":0}]}"
                },
                "description": "Business use case usage metrics and rate limiting information"
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string",
                  "example": "AGaOBl2yM-g8gdON-dhzl5y"
                },
                "description": "Unique identifier for the request for debugging purposes"
              },
              "x-fb-rev": {
                "schema": {
                  "type": "string",
                  "example": "1019544279"
                },
                "description": "Facebook internal revision number"
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string",
                  "example": "E7riEe9OW2e"
                },
                "description": "Facebook trace identifier for request tracking"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "input": {
                            "type": "string",
                            "example": "16315552222"
                          },
                          "wa_id": {
                            "type": "string",
                            "example": "16315552222"
                          }
                        }
                      },
                      "example": [
                        {
                          "input": "16315552222",
                          "wa_id": "16315552222"
                        }
                      ]
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww"
                          },
                          "message_status": {
                            "type": "string",
                            "enum": [
                              "accepted",
                              "held_for_quality_assessment",
                              "paused"
                            ],
                            "description": "The status of a WhatsApp message:\n- `accepted`: The message has been accepted by WhatsApp and is being processed\n- `held_for_quality_assessment`: The message is being held for quality assessment before delivery\n- `paused`: The message delivery has been paused\n"
                          }
                        }
                      },
                      "example": [
                        {
                          "id": "wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww",
                          "message_status": "accepted"
                        }
                      ]
                    },
                    "messaging_product": {
                      "type": "string",
                      "example": "whatsapp"
                    }
                  }
                },
                "examples": {
                  "Successful Response": {
                    "summary": "Successful marketing message response",
                    "value": {
                      "contacts": [
                        {
                          "input": "16315552222",
                          "wa_id": "16315552222"
                        }
                      ],
                      "messages": [
                        {
                          "id": "wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww"
                        }
                      ],
                      "messaging_product": "whatsapp",
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable description of the error"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error type classification"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code"
                        }
                      },
                      "required": [
                        "message",
                        "type",
                        "code"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "InvalidTemplateParameters": {
                    "summary": "Invalid template name or parameters",
                    "value": {
                      "error": {
                        "message": "Invalid template name or parameters",
                        "type": "OAuthException",
                        "code": 100
                      }
                    }
                  },
                  "MalformedRequest": {
                    "summary": "Malformed request body",
                    "value": {
                      "error": {
                        "message": "Invalid JSON in request body",
                        "type": "OAuthException",
                        "code": 100
                      }
                    }
                  },
                  "MissingFeatureSetting": {
                    "summary": "One feature setting must be specified",
                    "value": {
                      "error": {
                        "message": "One feature setting must be specified",
                        "type": "OAuthException",
                        "code": 100
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable description of the error"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error type classification"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code"
                        }
                      },
                      "required": [
                        "message",
                        "type",
                        "code"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "InvalidAccessToken": {
                    "summary": "Invalid OAuth access token",
                    "value": {
                      "error": {
                        "message": "Invalid OAuth access token",
                        "type": "OAuthException",
                        "code": 190
                      }
                    }
                  },
                  "MissingAccessToken": {
                    "summary": "Missing access token",
                    "value": {
                      "error": {
                        "message": "An access token is required to request this resource",
                        "type": "OAuthException",
                        "code": 104
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Template not approved or insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Human-readable description of the error"
                        },
                        "type": {
                          "type": "string",
                          "description": "Error type classification"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code"
                        }
                      },
                      "required": [
                        "message",
                        "type",
                        "code"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                },
                "examples": {
                  "TemplateNotApproved": {
                    "summary": "Template not approved for marketing use",
                    "value": {
                      "error": {
                        "message": "Template not approved for marketing use",
                        "type": "OAuthException",
                        "code": 200
                      }
                    }
                  },
                  "InsufficientPermissions": {
                    "summary": "Insufficient permissions for this operation",
                    "value": {
                      "error": {
                        "message": "This operation requires additional permissions",
                        "type": "OAuthException",
                        "code": 200
                      }
                    }
                  },
                  "FeatureNotSupported": {
                    "summary": "Feature not supported",
                    "value": {
                      "error": {
                        "message": "Not supported",
                        "type": "OAuthException",
                        "code": 10
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/{Phone-Number-ID}/media": {
      "parameters": [
        {
          "name": "Phone-Number-ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "mensagens"
        ],
        "summary": "Upload Image",
        "description": "This request uploads an image as .jpeg. The parameters are specified as **form-data** in the request **body**.",
        "operationId": "uploadImage",
        "parameters": [
          {
            "name": "Phone-Number-ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "102290129340398"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "example": "@/local/path/file.ogg;type=ogg"
                  },
                  "messaging_product": {
                    "type": "string",
                    "example": "whatsapp"
                  }
                }
              },
              "examples": {
                "Upload Audio": {
                  "value": {
                    "file": "@/local/path/file.ogg;type=ogg",
                    "messaging_product": "whatsapp"
                  }
                },
                "Upload Image": {
                  "value": {
                    "file": "@/local/path/file.jpg;type=image/jpeg",
                    "messaging_product": "whatsapp"
                  }
                },
                "Upload Sticker": {
                  "value": {
                    "file": "@/local/path/file.webp;type=webp",
                    "messaging_product": "whatsapp"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "messaging_product": {
                    "type": "string",
                    "example": "whatsapp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload Image JSON / Upload Sticker File (form-data) / Upload Sticker File JSON / Upload Audio (form-data) / Upload Audio JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "4490709327384033"
                    }
                  }
                },
                "examples": {
                  "Upload Audio (form-data)": {
                    "value": {
                      "id": "<MEDIA_ID>"
                    }
                  },
                  "Upload Audio JSON": {
                    "value": {
                      "id": "4490709327384033"
                    }
                  },
                  "Upload Image JSON": {
                    "value": {
                      "id": "4490709327384033"
                    }
                  },
                  "Upload Sticker File (form-data)": {
                    "value": {
                      "id": "<MEDIA_ID>"
                    }
                  },
                  "Upload Sticker File JSON": {
                    "value": {
                      "id": "4490709327384033"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/{Phone-Number-ID}/messages": {
      "parameters": [
        {
          "name": "Phone-Number-ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "mensagens"
        ],
        "summary": "Send Message.",
        "description": "Send Message.",
        "operationId": "sendMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "enum": [
                          "individual",
                          "group"
                        ],
                        "description": "The type of recipient.",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "description": "The recipient's phone number for individual messages, and group-id for group message.",
                        "example": "19505550005"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "text"
                        ]
                      },
                      "context": {
                        "type": "object",
                        "description": "Context information for replying to a message",
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "description": "The ID of the message to which this message is a reply.",
                            "example": "wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww"
                          }
                        }
                      },
                      "text": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "body": {
                            "type": "string",
                            "description": "The text of the message.",
                            "example": "Hello World!"
                          },
                          "preview_url": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "description": "Common properties shared by all message types",
                    "required": [
                      "messaging_product",
                      "recipient_type",
                      "text",
                      "to",
                      "type"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "enum": [
                          "individual",
                          "group"
                        ],
                        "description": "The type of recipient.",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "description": "The recipient's phone number for individual messages, and group-id for group message.",
                        "example": "19505550005"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "audio"
                        ]
                      },
                      "context": {
                        "type": "object",
                        "description": "Context information for replying to a message",
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "description": "The ID of the message to which this message is a reply.",
                            "example": "wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww"
                          }
                        }
                      },
                      "audio": {
                        "type": "object",
                        "description": "A media object. Either `id` or `link` is required.",
                        "oneOf": [
                          {
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The media object ID. **Required when `link` is not used.**",
                                "example": "MEDIA_OBJECT_ID"
                              }
                            }
                          },
                          {
                            "required": [
                              "link"
                            ],
                            "properties": {
                              "link": {
                                "type": "string",
                                "format": "url",
                                "description": "The protocol and URL of the media to be sent (HTTP/HTTPS only).",
                                "example": "http(s)://example.com/media.mp4"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "description": "Common properties shared by all message types",
                    "required": [
                      "audio",
                      "messaging_product",
                      "recipient_type",
                      "to",
                      "type"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "enum": [
                          "individual",
                          "group"
                        ],
                        "description": "The type of recipient.",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "description": "The recipient's phone number for individual messages, and group-id for group message.",
                        "example": "19505550005"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "document"
                        ]
                      },
                      "context": {
                        "type": "object",
                        "description": "Context information for replying to a message",
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "description": "The ID of the message to which this message is a reply.",
                            "example": "wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww"
                          }
                        }
                      },
                      "document": {
                        "type": "object",
                        "description": "A media object. Either `id` or `link` is required.",
                        "oneOf": [
                          {
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The media object ID. **Required when `link` is not used.**",
                                "example": "MEDIA_OBJECT_ID"
                              }
                            }
                          },
                          {
                            "required": [
                              "link"
                            ],
                            "properties": {
                              "link": {
                                "type": "string",
                                "format": "url",
                                "description": "The protocol and URL of the media to be sent (HTTP/HTTPS only).",
                                "example": "http(s)://example.com/media.mp4"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "description": "Common properties shared by all message types",
                    "required": [
                      "document",
                      "messaging_product",
                      "recipient_type",
                      "to",
                      "type"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "enum": [
                          "individual",
                          "group"
                        ],
                        "description": "The type of recipient.",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "description": "The recipient's phone number for individual messages, and group-id for group message.",
                        "example": "19505550005"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "image"
                        ]
                      },
                      "context": {
                        "type": "object",
                        "description": "Context information for replying to a message",
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "description": "The ID of the message to which this message is a reply.",
                            "example": "wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww"
                          }
                        }
                      },
                      "image": {
                        "type": "object",
                        "description": "A media object. Either `id` or `link` is required.",
                        "oneOf": [
                          {
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The media object ID. **Required when `link` is not used.**",
                                "example": "MEDIA_OBJECT_ID"
                              }
                            }
                          },
                          {
                            "required": [
                              "link"
                            ],
                            "properties": {
                              "link": {
                                "type": "string",
                                "format": "url",
                                "description": "The protocol and URL of the media to be sent (HTTP/HTTPS only).",
                                "example": "http(s)://example.com/media.mp4"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "description": "Common properties shared by all message types",
                    "required": [
                      "image",
                      "messaging_product",
                      "recipient_type",
                      "to",
                      "type"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "enum": [
                          "individual",
                          "group"
                        ],
                        "description": "The type of recipient.",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "description": "The recipient's phone number for individual messages, and group-id for group message.",
                        "example": "19505550005"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "location"
                        ]
                      },
                      "context": {
                        "type": "object",
                        "description": "Context information for replying to a message",
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "description": "The ID of the message to which this message is a reply.",
                            "example": "wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww"
                          }
                        }
                      },
                      "location": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "The address of the location.",
                            "example": "1 Hacker Way, Menlo Park, CA 94025"
                          },
                          "latitude": {
                            "type": "string",
                            "description": "The latitude of the location.",
                            "example": 37.4847
                          },
                          "longitude": {
                            "type": "string",
                            "description": "The longitude of the location.",
                            "example": -122.1486
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the location.",
                            "example": "Meta HQ"
                          }
                        }
                      }
                    },
                    "description": "Common properties shared by all message types",
                    "required": [
                      "location",
                      "messaging_product",
                      "recipient_type",
                      "to",
                      "type"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "enum": [
                          "individual",
                          "group"
                        ],
                        "description": "The type of recipient.",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "description": "The recipient's phone number for individual messages, and group-id for group message.",
                        "example": "19505550005"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "video"
                        ]
                      },
                      "context": {
                        "type": "object",
                        "description": "Context information for replying to a message",
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "description": "The ID of the message to which this message is a reply.",
                            "example": "wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww"
                          }
                        }
                      },
                      "video": {
                        "type": "object",
                        "description": "A media object. Either `id` or `link` is required.",
                        "oneOf": [
                          {
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The media object ID. **Required when `link` is not used.**",
                                "example": "MEDIA_OBJECT_ID"
                              }
                            }
                          },
                          {
                            "required": [
                              "link"
                            ],
                            "properties": {
                              "link": {
                                "type": "string",
                                "format": "url",
                                "description": "The protocol and URL of the media to be sent (HTTP/HTTPS only).",
                                "example": "http(s)://example.com/media.mp4"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "description": "Common properties shared by all message types",
                    "required": [
                      "messaging_product",
                      "recipient_type",
                      "to",
                      "type",
                      "video"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "enum": [
                          "individual",
                          "group"
                        ],
                        "description": "The type of recipient.",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "description": "The recipient's phone number for individual messages, and group-id for group message.",
                        "example": "19505550005"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "sticker"
                        ]
                      },
                      "context": {
                        "type": "object",
                        "description": "Context information for replying to a message",
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "description": "The ID of the message to which this message is a reply.",
                            "example": "wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww"
                          }
                        }
                      },
                      "sticker": {
                        "type": "object",
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The ID of the sticker."
                              }
                            },
                            "additionalProperties": false,
                            "required": [
                              "id"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "link": {
                                "type": "string",
                                "description": "The URL of the sticker."
                              }
                            },
                            "additionalProperties": false,
                            "required": [
                              "link"
                            ]
                          }
                        ]
                      }
                    },
                    "description": "Common properties shared by all message types",
                    "required": [
                      "messaging_product",
                      "recipient_type",
                      "sticker",
                      "to",
                      "type"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "enum": [
                          "individual",
                          "group"
                        ],
                        "description": "The type of recipient.",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "description": "The recipient's phone number for individual messages, and group-id for group message.",
                        "example": "19505550005"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "reaction"
                        ]
                      },
                      "context": {
                        "type": "object",
                        "description": "Context information for replying to a message",
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "description": "The ID of the message to which this message is a reply.",
                            "example": "wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww"
                          }
                        }
                      },
                      "reaction": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "emoji": {
                            "type": "string",
                            "description": "emoji"
                          },
                          "message_id": {
                            "type": "string",
                            "description": "reacted message-id"
                          }
                        }
                      }
                    },
                    "description": "Common properties shared by all message types",
                    "required": [
                      "messaging_product",
                      "reaction",
                      "recipient_type",
                      "to",
                      "type"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "messaging_product": {
                        "type": "string",
                        "example": "whatsapp"
                      },
                      "recipient_type": {
                        "type": "string",
                        "enum": [
                          "individual",
                          "group"
                        ],
                        "description": "The type of recipient.",
                        "example": "individual"
                      },
                      "to": {
                        "type": "string",
                        "description": "The recipient's phone number for individual messages, and group-id for group message.",
                        "example": "19505550005"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "interactive"
                        ]
                      },
                      "context": {
                        "type": "object",
                        "description": "Context information for replying to a message",
                        "properties": {
                          "message_id": {
                            "type": "string",
                            "description": "The ID of the message to which this message is a reply.",
                            "example": "wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww"
                          }
                        }
                      },
                      "interactive": {
                        "type": "object",
                        "description": "An object containing the content for an interactive message.",
                        "required": [
                          "type",
                          "action"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of interactive message to send.",
                            "enum": [
                              "button",
                              "call_permission_request",
                              "catalog_message",
                              "list",
                              "product",
                              "product_list",
                              "flow"
                            ]
                          },
                          "header": {
                            "type": "object",
                            "description": "Header content displayed on top of a message. Required for 'product_list' type. Cannot be set for 'product' type.",
                            "required": [
                              "type"
                            ],
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "The header type.",
                                "enum": [
                                  "text",
                                  "video",
                                  "image",
                                  "document"
                                ]
                              },
                              "text": {
[...]
